<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA讲师活动报表</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191230"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191230"></script>
    <script type="text/javascript" src="js/controller/SALecturerActivityReport_Controller.js?v=20191230"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width:2000px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w100 tr dib">讲师姓名：</span><input class="inputBox" type="text" ng-model="lecturerName"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w100 tr dib">讲师类型：</span><select  class="inputBox pl10" ng-model="lecturerType" ng-options="lecturerType.name for lecturerType in lecturerTypeList"></select></div>
            <div class="topSearch mr50">
                <span class="w100 tr dib"><i class="col-ff0000">*</i>活动起止日期：</span>
                <input type="text" id="startTime" autocomplete="off" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'endTime\',{M:-3})}',maxDate:'#F{$dp.$D(\'endTime\')}'})"/ style="margin-left:0;">
                至 <input type="text" id="endTime" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'startTime\',{M:+3})}',minDate:'#F{$dp.$D(\'startTime\')}'})"/><span class="ml10 col-ff0000">*查询范围不可超过3个月</span>
            </div>
        </div>
    </div>
<div class="f-cb mt20 ml120">
    <button class="buttonBox fl" ng-click="searchClick()">查询</button>
    <button class="secButtonBox ml20" ng-show="daochu" ng-click="importFile()">导出</button>
</div>
<!--表格样式-->
<div class="tableBox mt10">
    <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
    <table class="table">
        <colgroup>
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
        </colgroup>
        <thead class="nowrap">
        <tr>
            <th>讲师ID</th>
            <th>专家/讲师姓名</th>
            <th>手机号码</th>
            <th>讲师类型</th>
            <th>单位</th>
            <th>头衔</th>
            <th>工号</th>
            <th>所属大区</th>
            <th>所属办事处</th>
            <th>查询开始时间</th>
            <th>查询结束时间</th>
            <th>FTF场次汇总</th>
            <th>SA-FTF场次</th>
            <th>门店-FTF场次</th>
            <th>学术推广场次</th>
            <th>内训场次</th>
            <th>社群活动场次</th>
            <!-- <th>线上-FTF场次</th> -->
            <th>FTF活动明细</th>
            <!-- <th>线上活动</th> -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in infoList">
            <td><span class="textOver" title="[[item.lecturerId]]" ng-bind="item.lecturerId"></span></td>
            <td><span class="textOver" title="[[item.name]]" ng-bind="item.name"></span></td>
            <td><span class="textOver" title="[[item.mobile]]" ng-bind="item.mobile"></span></td>
            <td><span class="textOver" title="[[item.type]]" ng-bind="item.type"></span></td>
            <td><span class="textOver" title="[[item.company]]" ng-bind="item.company"></span></td>
            <td><span class="textOver" title="[[item.rank]]" ng-bind="item.rank"></span></td>
            <td><span class="textOver" title="[[item.code]]" ng-bind="item.code"></span></td>
            <td><span class="textOver" title="[[item.areaName]]" ng-bind="item.areaName"></span></td>
            <td><span class="textOver" title="[[item.officeName]]" ng-bind="item.officeName"></span></td>
            <td><span class="textOver" title="[[item.startDate]]" ng-bind="item.startDate"></span></td>
            <td><span class="textOver" title="[[item.endDate]]" ng-bind="item.endDate"></span></td>
            <td><span class="textOver" title="[[item.allActTimes]]" ng-bind="item.allActTimes"></span></td>
            <td><span class="textOver" title="[[item.saFtfTimes]]" ng-bind="item.saFtfTimes"></span></td>
            <td><span class="textOver" title="[[item.terminalFtfTimes]]" ng-bind="item.terminalFtfTimes"></span></td>
            <td><span class="textOver" title="[[item.learningTimes]]" ng-bind="item.learningTimes"></span></td>
            <td><span class="textOver" title="[[item.nternalTimes]]" ng-bind="item.nternalTimes"></span></td>
            <td><span class="textOver" title="[[item.communityActNums]]" ng-bind="item.communityActNums"></span></td>
            <!-- <td><span class="textOver" title="[[]]" ng-bind=""></span></td> -->
            <td><a href="javascript:void(0);" ng-click="offLineImport(item)">导出活动列表</a></td>
            <!-- <td><a href="javascript:void(0);" ng-click="onLineImport(item)">导出活动列表</a></td> -->
        </tr>

        </tbody>
    </table>
    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>