<!doctype html>
<html ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <title>SA会员明细</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191230"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191230"></script>
    <script type="text/javascript" src="js/controller/memberDetail_Controller.js?v=20191230"></script>
    <!--文件请根据需求添加，本页面仅作为模板使用-->
</head>
<body id="viewController" ng-controller="saMemberDetail_Controller">
<div class="wrapper">
    <div class="content mt40">
        <div class="f-cb ">
            <div class="ovh">
                <div class="topSearch mr50"><span class="w105 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">会员ID：</span><input type="text" class="inputBox" ng-model="customerId" ng-init="customerId =''"/></div>
            </div>
            <div class="ovh">
                <div class="topSearch mr50"><span class="w105 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode" ng-init="saCode =''"/>
                </div>
                <div class="topSearch mr50"><span class="w105 tr dib">BCC工号：</span><input type="text" class="inputBox" ng-model="proBcc" ng-init="proBcc =''">
                </div>
                <div class="topSearch mr50"><span class="w105 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="nursingConsultant" ng-init="nursingConsultant =''"/></div>
            </div>

            <div class="ovh">
                <div class="topSearch mr50"><span class="w105 tr dib">手机号码：</span><input type="text" class="inputBox" ng-model="mobile" ng-init="mobile =''"/></div>
                <div class="topSearch mr50">
                    <span class="w105 tr dib ">得悉路迳：</span><select class="inputBox pl10" ng-model="srcLocName">
                        <option value="">全部</option>
                        <option value="产科住院部">产科住院部</option>
                        <option value="儿科住院部">儿科住院部</option>
                        <option value="产科门诊">产科门诊</option>
                        <option value="儿科门诊">儿科门诊</option>
                        <option value="儿保科门诊">儿保科门诊</option>
                        <option value="孕妇班">孕妇班</option>
                        <option value="妈妈班">妈妈班</option>
                        <option value="游泳馆">游泳馆</option>
                    </select></div>
                <div class="topSearch mr50">
                    <span class="w105 tr dib"><span style="color:#FF0000;text-align: left">*</span>创建日期：</span><input type="text" id="startTime" class="inputBox dateIcon"
                           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'2015-01-01',maxDate:'#F{$dp.$D(\'endTime\')}' })"/> 至<input type="text" id="endTime" class="inputBox dateIcon"
                             onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}', maxDate:'%y-%M-%d'})"/>
                </div>
            </div>
        </div>
        <div class="f-cb mt40" style="margin-left: 66px;">
            <button class="buttonBox ml20" ng-click="search()">查询
            </button><button class="secButtonBox ml20" ng-click="output()">导出</button>
        </div>

</div>
    <div class="tableBox mt50">
<!--         <p>1、根据系统权限控制查询对应的数据范围；</p> -->
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <div class="tableBoxTwo">
         <div style="padding:0 30px 0 0;width: 2000px " >
                        <table  class="table" style="width: 2000px">
            <colgroup>
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="90">
                <col width="90">
                <col width="90">

            </colgroup>
            <thead>
            <tr>
                <th>大区</th>
                <th>办事处</th>
                <th>SA编码</th>
                <th>会员ID</th>
                <th>会员姓名</th>
                <th>宝宝生日/预产期</th>
                <th>手机号码</th>
                <th>BCC工号</th>
                <th>实操BCC工号</th>
                <th>育婴顾问工号</th>
                <th>礼包/礼品</th>
                <th>得悉途径</th>
                <th>名单类别</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="list in productListInfo">
                <td ng-bind="list.areaName">大区</td>
                <td ng-bind="list.officeName">办事处</td>
                <td ng-bind="list.saCode">SA编码</td>
                <td ng-bind="list.customerId">会员ID</td>
                <td ng-bind="list.name">会员姓名</td>
                <!--<td ng-bind="(list.mobile|limitTo:3)+'****'+(list.mobile|limitTo:-4)">手机号码</td>-->
                <td ng-bind="list.birthdate | date:'yyyy-MM-dd'">宝宝生日/预产期</td>
                <td ng-bind="list.mobile">手机号码</td>
                <td ng-bind="list.proBcc">所属BCC</td>
                <td ng-bind="list.operateBcc">实操BCC工号</td>
                <td ng-bind="list.nursingConsultant">育婴顾问工号</td>
                <td ng-bind="list.giftName">礼包/礼品</td>
                <td ng-bind="list.srcLocName">得悉途径</td>
                <td ng-bind="list.memberType">名单类别</td>
                <td ng-bind="list.recTime | date:'yyyy-MM-dd HH:mm:ss'">创建时间</td>

            </tr>

            </tbody>
        </table>
          </div>

        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
        </div>
    </div>

</body>
</html>