/*提示弹窗样式是蓝色背景条；*/
/*查看详情弹窗样式是灰色背景条；特殊是有大S结尾的样式，其他的共用样式*/
button::-moz-focus-inner{ border:0; padding:0; margin:0; }

.easyDialog_wrapper{ width:320px; color:#444; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; /*-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);*/ /*-moz-box-shadow:0 0 10px rgba(0,0,0,0.4); box-shadow:0 0 10px rgba(0,0,0,0.4);*/ display:none; font-family:"Microsoft yahei", Arial; }

.easyDialog_wrapperS{ border:3px solid rgba(0,0,0,0)!important;}/*查看详情弹窗样式*/

.easyDialog_wrapper .easyDialog_content{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:5px; background:#fff; }

.easyDialog_wrapper .easyDialog_contentS{ border:0px solid #e5e5e5;}/*查看详情弹窗样式*/

.easyDialog_wrapper .easyDialog_title{ height:36px; line-height:36px; overflow:hidden; color:#FFF; padding:0 10px 0 18px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#116cd6;/* border-radius:4px 4px 0 0; */}

.easyDialog_wrapper .easyDialog_titleS{color:#fff!important; background:#3D568E!important;}/*查看详情弹窗样式*/

.easyDialog_wrapper .close_btnS{ /*font-family:arial;*/ font-family:-webkit-pictograph;font-size:30px; _font-size:14px; /*font-weight:700;*/ color:#fff; text-decoration:none; float:right; }/*查看详情弹窗样式*/

.easyDialog_wrapper .close_btn:hover{background: url(../../../images/close_red.png) no-repeat!important; cursor: pointer!important;}

.easyDialog_wrapper .close_btn{ width: 19px!important; height: 19px!important; background: url(../../../images/close_white.png) no-repeat!important; position: absolute!important; right: 8px!important; top: 6px!important; }/*查看详情弹窗样式*/

.easyDialog_wrapper .close_btn:hover{ color:#333; }

.easyDialog_wrapper .easyDialog_text{ padding:25px 10px; font-size:13px; line-height:22px; text-align: center; }

.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1; }

.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both; }

.easyDialog_wrapper .btn_highlight,
.easyDialog_wrapper .btn_normal{ border:1px solid; border-radius:2px; cursor:pointer; font-family:"Microsoft yahei", Arial; font-size:12px; padding:0 12px; height:24px; line-height:24px; margin-bottom:10px; }

.easyDialog_wrapper .btn_highlight{ background:#4787ed; background:-webkit-gradient(linear,center bottom,center top,from(#4787ed),to(#4d90fe)); background:-moz-linear-gradient(90deg, #4787ed, #4d90fe); border-color:#3079ed; color:#fff; }

.easyDialog_wrapper .btn_normal{ margin-left:10px; border-color:#c3c3c3; background:#ececec; color:#333; background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4)); background:-moz-linear-gradient(90deg,#ececec,#f4f4f4); }