<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>FTF新客明细</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20190805"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20190805"></script>
    <script type="text/javascript" src="js/controller/newCustomerDetail_controller.js?v=201908051"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width:1600px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50"><span class="w70 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w70 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w70 tr dib">课程名称：</span><input type="text" maxlength="500" class="inputBox" ng-model="name"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib">SA编码：</span><input type="text" maxlength="50" class="inputBox" ng-model="saCode"/></div>
            <div class="topSearch mr50"><span class="w70 tr dib">会员ID：</span><input type="text" maxlength="50" class="inputBox" ng-model="customerId"/></div>
            <div class="topSearch mr50"><span class="w70 tr dib">手机号码：</span><input type="text" maxlength="50" class="inputBox" ng-model="mobile"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>购买日期：</span><input type="text" id="startDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                至 <input type="text" id="endDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml89">
        <button class="buttonBox fl" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
    </div>

    <!--表格样式-->
    <div class="tableBox mt20">
        <div class="lh26 mt30 textContent mb10">
            <div class="lh26 mt30 textContent">
                <h2 class="b lhi col-757679">【说明】</h2>
                <p class="mt5">呈现活动签到当天购买成为品项新客的明细数据；</p>
            </div>
        </div>
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="110">
                <col width="110">
                <col width="120">
            </colgroup>
            <thead>
            <tr>
                <th>大区</th>
                <th>办事处</th>
                <th>课程名称</th>
                <th>内部讲师</th>
                <th>兼职讲师</th>
                <th>兼职讲师归属</th>
                <th>SA编码</th>
                <th>会员ID</th>
                <th>手机号码</th>
                <th>会员姓名</th>
                <th>购买时间</th>
                <th>产品ID</th>
                <th>所属品项</th>
                <th>产品名称</th>
                <th>是否首次购买</th>
                <th>是否交叉品项</th>
                <th>最近接触门店编码</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span class="textOver" title="[[tableItem.kcName]]" ng-bind="tableItem.kcName"></span></td>
                <td>
                    <span ng-bind="tableItem.lecturerAccount" ></span>
                    <span ng-bind="tableItem.lecturerAccount&&tableItem.lecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.lecturerName" ></span>
                </td>
                <td>
                    <span ng-bind="tableItem.jzLecturerAccount" ></span>
                    <span ng-bind="tableItem.jzLecturerAccount&&tableItem.jzLecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.jzLecturerName" ></span>
                </td>
                <td><span class="textOver" title="[[tableItem.lecturerByCompany]]" ng-bind="tableItem.lecturerByCompany"></span></td>
                <td><span class="textOver" title="[[tableItem.saCode]]" ng-bind="tableItem.saCode"></span></td>
                <td><span class="textOver" title="[[tableItem.customerId]]" ng-bind="tableItem.customerId"></span></td>
                <td><span class="textOver" title="[[tableItem.mobile]]" ng-bind="tableItem.mobile"></span></td>
                <td><span class="textOver" title="[[tableItem.customerName]]" ng-bind="tableItem.customerName"></span></td>
                <td><span class="textOver" title="[[tableItem.createdTime]]" ng-bind="tableItem.createdTime"></span></td>
                <td><span class="textOver" title="[[tableItem.productId]]" ng-bind="tableItem.productId"></span></td>
                <td><span class="textOver" title="[[tableItem.categoryName]]" ng-bind="tableItem.categoryName"></span></td>
                <td><span class="textOver" title="[[tableItem.productName]]" ng-bind="tableItem.productName"></span></td>
                <td><span class="textOver" title="[[tableItem.isSc]]" ng-bind="tableItem.isSc"></span></td>
                <td><span class="textOver" title="[[tableItem.isJc]]" ng-bind="tableItem.isJc"></span></td>
                <td><span class="textOver" title="[[tableItem.terminalCode]]" ng-bind="tableItem.terminalCode"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>