<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>FTF报名明细</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20190805"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20190805"></script>
    <script type="text/javascript" src="js/controller/signUpDetail_controller.js?v=20190813"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width:1600px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <!-- <div class="topSearch mr50"><span class="w90 tr dib">品牌：</span><select  class="inputBox pl10" ng-model="brand" ng-options="item.name for item in brandList"></select></div> -->
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">课程名称：</span><input type="text" class="inputBox" ng-model="name"/></div>
            <div class="topSearch mr50"><span class="w90 tr dib">活动类型：</span><select  class="inputBox pl10" ng-model="type" ng-options="type.name for type in typeList"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">创建人工号：</span><input type="text" class="inputBox" ng-model="createdBy"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
            <div class="topSearch mr50"><span class="w90 tr dib">门店编码：</span><input type="text" class="inputBox" ng-model="terminalCode"/></div>
            <!-- <div class="topSearch mr50"><span class="w90 tr dib">讲师编码：</span><input type="text" class="inputBox" ng-model="lecturerCode"/></div> -->
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib"><i class="col-ff0000">*</i>活动日期：</span><input type="text" id="startDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                至 <input type="text" id="endDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml94">
        <button class="buttonBox" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="importFile()">导出</button>
    </div>
    <!--表格样式-->
    <div class="tableBox mt20">
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="80">
                <col width="80">
                <col width="120">
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="150">
                <col width="80">
                <col width="80">
                <col width="180">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>大区</th>
                <th>办事处</th>
                <th>课程名称</th>
                <th>活动日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>报名手机号码</th>
                <th>报名时间</th>
                <th>报名途径</th>
                <th>SA编码</th>
                <th>SA名称</th>
                <th>门店编码</th>
                <th>活动类型</th>
                <th>活动状态</th>
                <th>创建人</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span class="textOver" title="[[tableItem.kcName]]" ng-bind="tableItem.kcName"></span></td>
                <td><span class="textOver" title="[[tableItem.actDate]]" ng-bind="tableItem.actDate" ></span></td>
                <td><span class="textOver" title="[[tableItem.startTime]]" ng-bind="tableItem.startTime" ></span></td>
                <td><span class="textOver" title="[[tableItem.endTime]]" ng-bind="tableItem.endTime" ></span></td>
                <td><span class="textOver" title="[[tableItem.mobile]]" ng-bind="tableItem.mobile" ></span></td>
                <td><span class="textOver" title="[[tableItem.singUpTime]]" ng-bind="tableItem.singUpTime" ></span></td>
                <td><span class="textOver" title="[[tableItem.formSysSourse]]" ng-bind="tableItem.formSysSourse" ></span></td>
                <td><span class="textOver" title="[[tableItem.saCode]]" ng-bind="tableItem.saCode" ></span></td>
                <td><span class="textOver" title="[[tableItem.saName]]" ng-bind="tableItem.saName" ></span></td>
                <td><span class="textOver" title="[[tableItem.terminalCode]]" ng-bind="tableItem.terminalCode" ></span></td>
                <td><span class="textOver" title="[[tableItem.type]]" ng-bind="tableItem.type" ></span></td>
                <td><span class="textOver" title="[[tableItem.status]]" ng-bind="tableItem.status" ></span></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy!=null && tableItem.createdName!=null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
