<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>FTF活动明细</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20190805"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20190805"></script>
    <script type="text/javascript" src="js/controller/terminalSaDetail_controller.js?v=2020040201"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width:3800px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">活动有效性：</span><select  class="inputBox pl10" ng-model="validity" ng-options="validity.name for validity in validityList"></select></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">活动类型：</span><select  class="inputBox pl10" ng-model="type" ng-options="type.name for type in typeList"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">SA编码：</span><input type="text" class="inputBox" maxlength="50" ng-model="saCode"/></div>
            <div class="topSearch mr50"><span class="w90 tr dib">内部讲师：</span><input type="text" class="inputBox" maxlength="50" ng-model="lecturerCode" placeholder="输入工号查询"/></div>
            <div class="topSearch mr50"><span class="w90 tr dib">兼职讲师：</span><input type="text" class="inputBox" maxlength="50" ng-model="partTimeLecturerCode" placeholder="输入工号查询"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib"><i class="col-ff0000">*</i>活动日期：</span><input type="text" id="startDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                至 <input type="text" id="endDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml89">
        <button class="buttonBox fl" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
    </div>

    <!--表格样式-->
    <div class="tableBox mt20">
        <div class="lh26 mt30 textContent ml10 mb10">
            <div class="lh26 mt30 textContent ml10">
                <h2 class="b lhi col-757679">【说明】</h2>
                <p class="mt5 ml5">1）呈现在FTF活动当天签到的会员成为品项新客的明细记录；</p>
                <p ng-show='isMore' class="ml5">2）活动签到入口：妈妈100微信签到、签到小程序；</p>
                <p ng-show='isMore' class="ml5">3）【feichat跨境购销量】【一般贸易销量】统计SA活动当天至23点59分59秒的数据，【feichat有效跨境购】统计SA活动当天至23点59分59秒的数据，在每月25日前产生退单等行为均会计算并于25日定版最终数据；</p>
                <p ng-show='isMore' class="ml5">4）【活动有效性】根据活动类型、签到人数、FTF新客数判断——（1）内训及学术推广只要签到15人或以上即为有效，反之无效。（2）SA、门店-FTF，签到15人或以上且产出FTF新客3人或以上算为有效，其余为无效；</p>
                <p ng-show='isMore' class="ml5">5）【活动规模】签到人数少于50人为小型，50-149人为中型，150或以上为大型。</p>
                <div class="topSearchBtn f12 ml5" style="text-align: justify; margin-top: 0;" ng-click="isMore=!isMore;"><span ng-bind="isMore?'收起':'展开'"></span><img ng-src="[[isMore?'http://img2.mama100.com/share_mkt_pc/images/up.png':'http://img2.mama100.com/share_mkt_pc/images/donw.png']]" class="pl10"></div>
            </div>
        </div>
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>大区</th>
                <th>办事处</th>
                <th>创建人</th>
                <th>课程名称</th>
                <th>场地类型</th>
                <th>植入品牌</th>
                <th>活动日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>活动类型</th>
                <th>SA编码</th>
                <th>活动规模</th>
                <th>FTF主题</th>
                <th>内部讲师</th>
                <th>兼职讲师</th>
                <th>兼职讲师归属</th>
                <th>讲师岗位</th>
                <th>外部专家</th>
                <th>认证讲师</th>
                <th>管理渠道</th>
                <th>门店编码</th>
                <th>签到人数</th>
                <th>活动当天用券数</th>
                <th>羊奶新客</th>
                <th>合生元奶粉品项新客</th>
                <th>HT品项新客</th>
                <th>Dodie品项新客</th>
                <th>益生菌品项新客</th>

                <th>羊奶销量</th>
                <th>合生元奶粉销量</th>
                <th>HT销量</th>
                <th>Dodie销量</th>
                <th>益生菌销量</th>

                <th>FTF活动积分</th>
                <th>Feichat跨境购销量</th>
                <th>Feichat有效跨境购销量</th>
                <th>Dodie Feichat销售额</th>
                <th>Dodie Feichat销售包数</th>
                <th>一般贸易销量</th>
                <th>活动有效性</th>
                <th>照片1</th>
                <th>照片2</th>
                <th>照片3</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy!=null && tableItem.createdName!=null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span>
                </td>
                <td><span class="textOver" title="[[tableItem.kcName]]" ng-bind="tableItem.kcName"></span></td>
                <td><span title="[[tableItem.placeType]]" ng-bind="tableItem.placeType"></span></td>
                <td><span title="[[tableItem.brandName]]" ng-bind="tableItem.brandName"></span></td>
                <td><span class="textOver" title="[[tableItem.actDate]]" ng-bind="tableItem.actDate"></span></td>
                <td><span class="textOver" title="[[tableItem.startTime]]" ng-bind="tableItem.startTime"></span></td>
                <td><span class="textOver" title="[[tableItem.endTime]]" ng-bind="tableItem.endTime"></span></td>
                <td><span class="textOver" title="[[tableItem.actType]]" ng-bind="tableItem.actType"></span></td>
                <td><span class="textOver" title="[[tableItem.saCode]]" ng-bind="tableItem.saCode"></span></td>
                <td><span title="[[tableItem.actScale]]" ng-bind="tableItem.actScale"></span></td>
                <td><span title="[[tableItem.ftfTheme]]" ng-bind="tableItem.ftfTheme"></span></td>
                <td>
                    <span ng-bind="tableItem.lecturerCode" ></span>
                    <span ng-bind="tableItem.lecturerCode&&tableItem.lecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.lecturerName" ></span>
                    <span ng-bind="tableItem.lecturerExpertType?'-'+tableItem.lecturerExpertType:''" ></span>
                </td>
                <td>
                    <span ng-bind="tableItem.jzLecturerAccount" ></span>
                    <span ng-bind="tableItem.jzLecturerAccount&&tableItem.jzLecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.jzLecturerName" ></span>
                </td>
                <td><span class="textOver" title="[[tableItem.lecturerByCompany]]" ng-bind="tableItem.lecturerByCompany" ></span></td>
                <td><span class="textOver" title="[[tableItem.postName]]" ng-bind="tableItem.postName" ></span></td>
                <td><span class="textOver" title="[[tableItem.external]]" ng-bind="tableItem.external" ></span></td>
                <td><span title="[[tableItem.ftfLecturerCheck]]" ng-bind="tableItem.ftfLecturerCheck"></span></td>
                <td><span title="[[tableItem.terminalChannel]]" ng-bind="tableItem.terminalChannel"></span></td>
                <td><span class="textOver" title="[[tableItem.terminalCode]]" ng-bind="tableItem.terminalCode"></span></td>
                <td><span class="textOver" title="[[tableItem.singInNum]]" ng-bind="tableItem.singInNum"></span></td>
                <td><span class="textOver" title="[[tableItem.actDayCouponNums]]" ng-bind="tableItem.actDayCouponNums"></span></td>
                <td><span class="textOver" title="[[tableItem.kbsNewCustomer]]" ng-bind="tableItem.kbsNewCustomer"></span></td>
                <td><span class="textOver" title="[[tableItem.biostimeNewCustomer]]" ng-bind="tableItem.biostimeNewCustomer"></span></td>
                <td><span class="textOver" title="[[tableItem.htNewCustomer]]" ng-bind="tableItem.htNewCustomer"></span></td>
                <td><span class="textOver" title="[[tableItem.dodieNewCustomer]]" ng-bind="tableItem.dodieNewCustomer"></span></td>
                <td><span class="textOver" title="[[tableItem.probioticsNewCustomer]]" ng-bind="tableItem.probioticsNewCustomer"></span></td>

                <td><span class="textOver" title="[[tableItem.kbsSalesNums]]" ng-bind="tableItem.kbsSalesNums"></span></td>
                <td><span class="textOver" title="[[tableItem.biostimeSalesNums]]" ng-bind="tableItem.biostimeSalesNums"></span></td>
                <td><span class="textOver" title="[[tableItem.htSalesNums]]" ng-bind="tableItem.htSalesNums"></span></td>
                <td><span class="textOver" title="[[tableItem.dodieSalesNums]]" ng-bind="tableItem.dodieSalesNums"></span></td>
                <td><span class="textOver" title="[[tableItem.probioticsSalesNums]]" ng-bind="tableItem.probioticsSalesNums"></span></td>

                <td><span class="textOver" title="[[tableItem.ftfActPoint]]" ng-bind="tableItem.ftfActPoint"></span></td>
                <td><span class="textOver" title="[[tableItem.fcCBECSales]]" ng-bind="tableItem.fcCBECSales"></span></td>
                <td><span class="textOver" title="[[tableItem.fcCBECEffectiveSales]]" ng-bind="tableItem.fcCBECEffectiveSales"></span></td>
                <td><span class="textOver" title="[[tableItem.feichatDodieNum]]" ng-bind="tableItem.feichatDodieNum"></span></td>
                <td><span class="textOver" title="[[tableItem.feichatDodieBNum]]" ng-bind="tableItem.feichatDodieBNum"></span></td>
                <td><span class="textOver" title="[[tableItem.tradeVolume]]" ng-bind="tableItem.tradeVolume"></span></td>
                <td><span class="textOver" title="[[tableItem.actValid]]" ng-bind="tableItem.actValid"></span></td>
                <td><a ng-show="tableItem.image1" href="[[tableItem.image1]]" target="_blank"><img ng-src="[[tableItem.image1]]" alt="" width="100%"/></a></td>
                <td><a ng-show="tableItem.image2" href="[[tableItem.image2]]" target="_blank"><img ng-src="[[tableItem.image2]]" alt="" width="100%"/></a></td>
                <td><a ng-show="tableItem.image3" href="[[tableItem.image3]]" target="_blank"><img ng-src="[[tableItem.image3]]" alt="" width="100%"/></a></td>
            </tr>
            </tbody>
        </table>

        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>


</div>
</body>
</html>