<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>营销通管理平台</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/index_controller.js?v=2017031301"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
    <div class="wrapper">
            <div class="titleBox ml15">
                <ul id="menu">
                    <li ng-click="selFun(1)" ng-init="sel='1'" ng-class="{'sel':sel=='1'}">补录查询</li>
                    <li ng-click="selFun(2)" ng-class="{'sel':sel=='2'}">新增补录</li>
                </ul>
            </div>
        <div ng-show="sel=='1'">
            <div class="content">
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib">导入日期：</span><input type="text" id="startDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                        至 <input type="text" id="endDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
                    </div>
                </div>
            </div>
            <div class="f-cb mt20 ml89">
                <button class="buttonBox" ng-click="search()">查询</button>
            </div>
            <div class="tableBox mt20">
                <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount"></span>条记录，详情如下：</h2>
                <table class="table" id="alternatecolor">
                    <colgroup>
                        <col width="80">
                        <col width="80">
                        <col width="80">
                        <col width="80">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>导入时间</th>
                        <th>导入文件</th>
                        <th>导入总数</th>
                        <th>导入员</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tableItem in infoList">
                        <td><span ng-bind="tableItem.createdTime | date:'yyyy-MM-dd'"></span></td>
                        <!--<td><a ng-href="[[tableItem.filePath]]" ng-bind="tableItem.fileName"></a></td>-->
                        <td><a ng-click="downLoaduploadFile(tableItem)" ng-bind="tableItem.fileName"></a></td>
                        <td><span ng-bind="tableItem.totalCount"></span></td>
                        <td><span ng-bind="tableItem.createdBy+'/'+tableItem.createdName"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                    <ul>
                        <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                        <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                        <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                        <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                        <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                        <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="sel=='2'">
            <div class="content">
                <div class="f-cb">
                    <div class="topSearch"><span class="w70 tr dib">导入数据：</span><div class="secButtonBox por dib curmpo ml10">选择文件
                            <input class="poa" type="file" style="width: 110px; height: 30px; opacity: 0; top: 0; left: 0;" name="" id="fileId" accept=".xlsx" onchange="fileChange(this)">
                        </div>
                        <span class="ml10" ng-bind="fileName" ng-show="fileName"></span>
                    </div>
                </div>
                <div class="f-cb" style="margin-left: 80px;">
                    <a class="topSearch col-207fe9 curmpo" ng-click="downLoad()">下载模板</a>
                </div>
            </div>
            <div class="f-cb mt20 ml94">
                <button class="buttonBox" ng-click="uploadFile()">导入</button>
                <button class="weakButtonBox ml20" ng-click="cancel()">取消</button>
            </div>
            <div class="mt20" ng-show="errorData.length > 0">
                <p class="col-ff0000">上传失败原因：</p>
                <p class="lh18" ng-repeat="item in errorData" ng-bind="item.description"></p>
            </div>
        </div>

    </div>
</body>
</html>