/*提示弹窗样式是蓝色背景条；*/
/*查看详情弹窗样式是灰色背景条；特殊是有大S结尾的样式，其他的共用样式*/
button::-moz-focus-inner{ border:0; padding:0; margin:0; }

.easyDialog_wrapper{ width:320px; color:#444; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;display:none; font-family:"Microsoft yahei", Arial; }

.easyDialog_wrapperS{ border:3px solid rgba(0,0,0,0)!important;}/*查看详情弹窗样式*/

.easyDialog_wrapper .easyDialog_content{background:#fff; }

.easyDialog_wrapper .easyDialog_contentS{ border:0px solid #e5e5e5;}/*查看详情弹窗样式*/

.easyDialog_wrapper .easyDialog_title{ height:36px; line-height:36px; overflow:hidden; color:#FFF; padding:0 10px 0 18px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#3D568E;}

.easyDialog_wrapper .easyDialog_titleS{color:#fff!important; background:#3D568E!important;}/*查看详情弹窗样式*/

.easyDialog_wrapper .close_btnS{font-family:-webkit-pictograph;font-size:30px; _font-size:14px;color:#fff; text-decoration:none; float:right; }/*查看详情弹窗样式*/

.easyDialog_wrapper .easyDialog_text{ padding:25px 10px; font-size:13px; line-height:22px; text-align: center; }

.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1; }

.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both; }

.easyDialog_wrapper .btn_highlight{float: left;width: auto; margin-left: 40px; height: 30px; line-height: 30px; border: none; padding: 0 30px; box-sizing: border-box; background-color: #3d568e; color: #fff; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px;}
.easyDialog_wrapper .btn_highlight:hover{background-color: #17377e;}

.easyDialog_wrapper .btn_normal{margin-bottom:20px; width: auto; height: 30px; line-height: 30px; border: 1px solid #c4c4c4; padding: 0 30px; box-sizing: border-box; background-color: #fff; color: #333; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px;}
.easyDialog_wrapper .btn_normal:hover{background-color: #f2f5fa;}

.easyDialog_wrapper .btn_normal{ margin-left:10px; border-color:#c3c3c3; background:#ececec; color:#333; background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4)); background:-moz-linear-gradient(90deg,#ececec,#f4f4f4); }