@charset "utf-8";
/* by HuangMinquan QQ:249477145 */
/*
黑体 \9ED1\4F53
宋体 \5B8B\4F53
楷体 \6977\4F53
微软雅黑 \5FAE\8F6F\96C5\9ED1
*/
*html{background-image:url(about:blank);background-attachment:fixed;}
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;}
article,aside,header,footer,nav,section,figure,figcaption,hgroup,progress,canvas{display:block}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font:12px 'Microsoft Yahei',"\u5fae\u8f6f\u96c5\u9ed1",Arial,"\5b8b\4f53", sans-serif;-webkit-text-size-adjust:100%;color:#333333;background:white;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:12px; font-weight:normal; font-style:normal;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal; font-weight:normal;}
button,input,select,textarea{font-family:Arial, Helvetica, sans-serif;text-decoration: none;outline:none;-moz-outline:none;font-size:100%;}
input, select, label {vertical-align: middle;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{vertical-align:middle;-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{resize:none;overflow:auto;vertical-align:top}
ul,ol,li,dl{list-style-type:none;}         i,em{font-style:normal}     svg:not(:root){overflow:hidden}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{color:#247cd3;text-decoration: none;outline:none; cursor: pointer;}
a:link {color:#333;}
a:visited {color:#333;}
a:hover {color:#FE6700;text-decoration:underline;}
a:active{blr:expression(this.onFocus=this.blur())}
a:focus {outline:none;-moz-outline:none;}
/* webkit scroll bar */
/*::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px;border-radius: 10px;}*/
/*::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,0,0,0.4); }*/
/*::-webkit-scrollbar{height:10px;width:12px;background:rgba(222,222,222,0.5);transition:all 0.3s ease-in-out;border-radius:5px}*/
/*::-webkit-scrollbar-thumb{-webkit-border-radius: 10px;border-radius: 10px;background: rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}*/
/*::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.6)}*/
/*::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.8)}*/

/* other */
.header,.warpbox,.navbox,.footer{width:1000px; min-width:1000px; height:auto!important;margin-left:auto; margin-right:auto;}
.reds{color:#c00;}                a.reda{color:#c00;}
.blue{color:rgb(0,0,255);}        a.bluea{color:rgb(0,0,255);}
.f0{font-size:0;}  .f12{font-size:12px;}  .f14{font-size:14px;} .f16{font-size:16px;}  .f18{font-size:18px;}  .f20{font-size:20px;}   .f22{font-size:22px;}
.f24{font-size:24px;}   .f26{font-size:26px;}   .f28{font-size:28px;}   .f30{font-size:30px;}
.fmy{font-family:'Microsoft Yahei',"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial;}
/* display */
.dn{display:none;}   .di{display:inline;}   .db{display:block;}   .dib{display:inline-block;}  .zom{zoom:1;*zoom:1}
/* clear */
.clear{display: block; clear:both; font-size:0; height:0; line-height:0;*zoom:1}
.clear:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.rdu{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.rdu6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
/* float */
.fl{ float:left;}    .fr{ float:right;}
/* overflow */
.ovh{overflow:hidden;}
/* visibility */
.vih{visibility:hidden;}   .viv{visibility:visible;}
/* position */
.por{position:relative;}   .poa{position:absolute;}
/* font-style */
.fwn{font-weight:normal; font-style:normal;}   .b,strong{font-weight:bold}   .fsi{font-style:italic;}
/* text-align */
.tc{text-align:center;}   .tr{text-align:right;}   .tl{text-align:left;}  .tj{text-align:justify;}
/* text-decoration */
.tdu{text-decoration:underline;}
.tdn,.tdn:hover,.tdn a:hover,a.tdu:hover{text-decoration:none;}
/* white-space */
.nowrap{white-space:nowrap;}
/* word-wrap */
.bk{word-wrap:break-word;}
/* word-break */
.wbba{word-break:break-all;}
/* vertical-align */
.vm{vertical-align:middle;}   .vtb{vertical-align:text-bottom;}   .vb{vertical-align:bottom;}   .vt{vertical-align:top;}   .vn{vertical-align:-2px;}
/* mouse */
.curmau{cursor: auto;/*自动*/} .curmcr{cursor: crosshair;/*十字准心*/} .curmpo{cursor: pointer;/*手指*/} .curmwa{cursor: wait;/*等待/沙漏*/} .curmhe{cursor: help;/*帮助*/} .curmte{cursor: text;/*文字/编辑*/} .curmmo{cursor: move;/*可移动*/} .curmnot{cursor:not-allowed;/*禁止*/}
/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto{margin-left:auto; margin-right:auto;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.trans{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s; transition:all 0.3s;}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/* safe color */
.g0{color:#000 !important;}  .g3{color:#333 !important;}  .g6{color:#666 !important;}  .g9{color:#999 !important;}  .gc{color:#ccc !important;}  .wh{color:white !important;}
/* margin */
.m0{margin:0 auto;}
.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml30{margin-left:30px;}
.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr30{margin-right:30px;}
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}
.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb30{margin-bottom:30px;}
/* padding */
.pl1{padding-left:1px;}.pl2{padding-left:2px;}.pl5{padding-left:5px!important;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl30{padding-left:30px;}
.pt1{padding-top:1px;}.pt2{padding-top:2px;}.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt30{padding-top:30px;}
.pr1{padding-right:1px;}.pr2{padding-right:2px;}.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr30{padding-right:30px;}
.pb1{padding-bottom:1px;}.pb2{padding-bottom:2px;}.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb30{padding-bottom:30px;}
.p1{padding:1px;}.p2{padding:2px;}.p5{padding:5px;}.p10{padding:10px;}.p15{padding:15px;}.p20{padding:20px;}.p30{padding:30px;}
/*f-cb 清除浮动*/
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
/*background-color*/
.bgC01{background-color: #3d568e!important;}  /*主色调，头部背景*/
.bgC02{background-color: #657cae!important;}  /*近主色调，表格头部背景*/
.bgC03{background-color: #c7d5e8!important;}  /*导航点击即选中背景*/
.bgC04{background-color: #dde3ed!important;}  /*一级导航背景/描边/分割线*/
.bgC05{background-color: #f2f5fa!important;}  /*导航大背景*/
.bgC06{background-color: #c4c4c4!important;}  /*输入框等的描边*/
.bgC07{background-color: #ffffff!important;}  /*白色背景*/

.bg-f78600{background-color: #f78600!important;}
.bg-757679{background-color: #757679!important;}
.bg-333333{background-color: #333333!important;}
.bg-999999{background-color: #999999!important;}
.bg-366fbe{background-color: #366fbe!important;}
.bg-207fe9{background-color: #207fe9!important;}
.bg-ff0000{background-color: #ff0000!important;}
.bg-bbbbbb{background-color: #bbbbbb!important;}

/*color*/
.col-f78600{color: #f78600!important;}    /*突出颜色，局部色块点缀*/
.col-757679{color: #757679!important;}    /*正文大标题字色*/
.col-333333{color: #333333!important;}    /*正文主要文字字色*/
.col-999999{color: #999999!important;}    /*正文次要文字字色*/
.col-366fbe{color: #366fbe!important;}    /*三级导航文字字色*/
.col-207fe9{color: #207fe9!important;}    /*正文带链接文字字色*/
.col-ff0000{color: #ff0000!important;}    /*红色，特殊突出字体字色*/
.col-ffffff{color: #ffffff!important;}    /*反白文字字色*/
.col-bbbbbb{color: #bbbbbb!important;}    /*反白文字字色*/

.bg-3d568e{color: #3d568e!important;}
.bg-657cae{color: #657cae!important;}
.bg-c7d5e8{color: #c7d5e8!important;}
.bg-dde3ed{color: #dde3ed!important;}
.bg-f2f5fa{color: #f2f5fa!important;}
.bg-c4c4c4{color: #c4c4c4!important;}
/*ling-height*/
.lh18{line-height: 18px;}.lh20{line-height: 20px;}.lh22{line-height: 22px;}.lh24{line-height: 24px;}.lh26{line-height: 26px;}.lh28{line-height: 28px;}.lh30{line-height: 30px;}
.lhi{line-height: initial;}

/* by WuNan */
/*
新版营销通公用样式
*/
/*自定义样式*/
.w70{width: 70px!important;}
.w80{width: 80px!important;}
.w90{width: 90px!important;}
.w105{width: 105px!important;}
.w100{width: 100px!important;}
.w110{width: 110px!important;}
.w120{width: 120px!important;}
.w130{width: 130px!important;}
.w180{width: 180px!important;}
.w200{width: 200px!important;}
.w346{width: 346px!important;}
.W100{ width: 100%!important;}
.mr40{ margin-right: 40px;}
.mr50{ margin-right: 50px;}
.mr100{margin-right: 100px;}
.ml100{margin-left: 100px;}
.ml89{margin-left: 89px;}
.ml110{margin-left: 110px;}
.ml120{margin-left: 120px;}
.ml70{margin-left: 70px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.b500{font-weight: 500;}

/*输入框,下拉框等框公用样式*/
.inputBox{width: 160px; height: 28px; padding: 0 0 0 8px; box-sizing: border-box;  background-color:#fff; margin-left: 5px; border: 1px solid #c4c4c4; color: #333; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.inputBox:focus{border: 1px solid #207fe9;}
.dateIcon{background: url("../images/calendar.png") no-repeat #fff  95% 3px; cursor: pointer; background-size: 18px;}
.textarea{padding: 5px 10px;width: 50%; height: 150px;}
/*下拉框特殊处理padding公用样式*/
.pl10{padding-left: 10px;}


/*radio公用样式*/
.selectBox{width: 18px; height: 18px; float: left; margin: 1px 5px 0 0; position: relative;}
.selectBox label{cursor: pointer; position: absolute; width: 18px; height: 18px; top: 5px; left: 0; background: #fff; border:1px solid #c4c4c4; border-radius: 10px;}
.selectBox label:after{width: 10px; height: 10px; opacity: 0; content: ''; background: #20cf9c; position: absolute; top: 4px; left: 50%; margin-left: -5px; border-radius: 20px;}
.selectBox input[type=radio]:checked + label:after{opacity: 1;}

/*checkbox共用样式*/
.checkboxBox{width: 18px; height: 18px; float: left; margin: 1px 5px 0 0; position: relative; box-sizing: border-box;}
.checkboxBox label{cursor: pointer; position: absolute; width: 16px; height: 16px; top: 5px; left: 0; background: #fff; border:1px solid #c4c4c4; border-radius: 4px; -o-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.checkboxBox label:after{opacity: 0; content: '';  position: absolute; top: 0px; left: 0; width: 16px; height: 16px; background: url(../images/checkbox.png) no-repeat center 0px; border-radius: 4px; -o-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.checkboxBox input[type=checkbox]:checked + label:after{opacity: 1;}
.checkboxBox input[type=checkbox]:checked:disabled + label:after{opacity: 1; content: ''; position: absolute; top: 0px; left: 0px; width: 16px; height: 16px;  filter: gray;  -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    background:#ccc url(../images/checkbox2.png) no-repeat center 0px;}
.checkboxBox input[type=checkbox]:disabled + label:after{background:#ccc;opacity: 1;}

/*重要/关键操作按钮*/
.buttonBox{width: auto; height: 30px; line-height: 30px; border: none; padding: 0 30px; box-sizing: border-box; background-color: #f78600; color: #fff; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; font-size: 12px;}
.buttonBox:hover{background-color: #f07100;}

/*次关键操作按钮*/
.secButtonBox{width: auto; height: 30px; line-height: 30px; border: none; padding: 0 30px; box-sizing: border-box; background-color: #3d568e; color: #fff; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px;}
.secButtonBox:hover{background-color: #17377e;}

/*弱操作按钮*/
.weakButtonBox{width: auto; height: 30px; line-height: 30px; border: 1px solid #c4c4c4; padding: 0 30px; box-sizing: border-box; background-color: #fff; color: #333; border-radius: 3px; -o-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px;}
.weakButtonBox:hover{background-color: #f2f5fa;}

/*表格样式*/
.table{width: 100%; line-height: 200%; border:0; border-collapse: collapse; margin: 7px 0 0 0;}
.table>tbody>tr>td a{cursor: pointer; color: #207fe9;}
.table>tbody>tr>td i{color: #207fe9; margin: 0 3px;}
.table>thead>tr>th,.table>tbody>tr>td {padding: 10px 5px; border: 1px solid #dde3ed; word-break: break-all; text-align: center; line-height: 18px;}
.table>thead>tr>th{background-color: #c7d5e8; color: #333; padding: 10px 5px; font-weight: 500; line-height: 136%; border: 1px solid #b7c5d7; border-bottom: 0; border-top: 0}
.table>tbody{background-color: #fafcfd;}

/*多行省略号显示*/
.textOver{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;/*控制行数，按照规范是三行*/ -webkit-box-orient: vertical;}

/*内容盒子样式*/
.wrapper{width: 100%; min-width: 800px; height: auto; margin: 0 auto; padding: 0 15px 20px; box-sizing: border-box;}
.titleBox{width: auto; height: 40px; color: #757679; cursor: pointer;}
.titleBox ul li{width: auto; height: 40px; opacity: 0.4; line-height: 40px; float: left; font-size: 14px; padding: 0 20px; box-sizing: border-box;}
.titleBox ul li.sel{font-weight: bold; border-bottom: 3px solid #3d568e; opacity: 1;}
.content{width: 100%; height: auto; overflow: hidden; background-color: #fafbfd; border: 1px solid #dde3ed; padding:5px 15px 15px; box-sizing: border-box; font-size: 14px; color: #999;}
.textContent p {color: #999; line-height: 20px;}
.textContent {font-size: 12px;}


.f-cb .topSearch{ float: left; margin-top: 10px; line-height: 30px; font-size: 12px; }
.topSearchBtn{ text-align: center; color: #207fe9; cursor: pointer; margin-top: 15px; margin-bottom: -5px;}
.mt8{margin-top: 8px!important;}
.mt3{margin-top: 3px!important;}
.mt0{margin-top: 0!important;}
.ml5{margin-left: 5px!important;}
.ml94{margin-left: 94px;}
.ml40{margin-left: 40px;}
.w175{width: 175px!important;}
/*#searchMore{height: 110px; overflow: hidden}*/