<!DOCTYPE html>
<html ng-app="ngApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="合生元">
    <meta name="description" content="合生元">
    <meta name="author" content="Huangminquan">
    <title>工作排班</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/jobSchdule.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/biostime/biostime.common1.js"></script>
    <script type="text/javascript" src="js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/jobSchedulingController.js"></script>
</head>
<body ng-controller="jobSchedulingController">
<section class="wrap">
    <div class="f-oh commonBox f-mb10">
        <div class="commonBoxAuto">
            <div class="selectBox commonBox">
                <label class="commonBoxFixed dbcenter01">考核月： </label>
                <select class="select commonBoxAuto"  ng-model="nowTime" ng-options="month for month in dateList" >
                </select>
            </div>
        </div>
    </div>
    <div class="f-oh commonBox">
        <div class="commonBoxAuto">
            <div class="selectBox commonBox" style="border-radius: 3px 0 0 3px;">
                <label class="commonBoxFixed dbcenter01">区域：</label>
                    <select class="select commonBoxAuto" ng-model="region" ng-options="a.name for a in area" ng-change="changeDestrict(region)">
                        <option value="">请选择</option>
                    </select>
            </div>
        </div>
        <div class="commonBoxAuto">
            <div class="selectBox commonBox" style="border-left: none;border-radius: 0px 3px 3px 0;">
                 <select class="select commonBoxAuto" ng-model="office" ng-options="a as a.name for a in region.officeBeanList">
                 </select>
            </div>
        </div>
    </div>
    <div class="f-tc search f-mt10 f-fs16"><button ng-click="search()">查询</button></div>
    <div class="f-mt15">
        <table cellpadding="0" cellspacing="0" width="100%" class="table1">
            <thead>
                <tr>
                    <td>工号</td>
                    <td>姓名</td>
                    <td>状态</td>
                    <td>详情</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in infoList">
                    <td><div ng-bind="list.salesAccountNo"></div></td>
                    <td><div ng-bind="list.name"></div></td>
                    <td ng-bind="list.status"></td>
                    <td class="f-tc"><a class="view" ng-click="view($index)">查看</a></td>
                </tr>
            <tbody>
        </table>
    </div>
</section>
</body>
</html>