<!doctype html>
<html ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <title>SA品项新客报表</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191227"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191227"></script>
    <script type="text/javascript" src="js/controller/customerDetail_Controller.js?v=20191227"></script>
    <!--文件请根据需求添加，本页面仅作为模板使用-->
</head>
<body id="viewController" ng-controller="saCustomerDetail_Controller">
    <div class="wrapper" style="min-width:2600px;">
        <div class="content mt40">
            <div class="f-cb ">
                <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">会员ID：</span><input type="text" class="inputBox" ng-model="customerId" ng-init="customerId =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode" ng-init="saCode =''"/></div>
            </div>
            <div class="f-cb ">    
                <div class="topSearch mr50"><span class="w100 tr dib">BCC工号：</span><input type="text" class="inputBox" ng-model="proBcc" ng-init="proBcc =''"></div>
                <div class="topSearch mr50"><span class="w100 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="nursingConsultant" ng-init="nursingConsultant =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">育儿指导师工号：</span><input type="text" class="inputBox" ng-model="parentingInstructor" ng-init="parentingInstructor =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">手机号码：</span><input type="text" class="inputBox" ng-model="mobile" ng-init="mobile =''"/></div>
            </div>
            <div class="f-cb ">
                <div class="topSearch mr50">
                    <span class="w100 tr dib">得悉路迳：</span><select class="inputBox pl10" ng-model="srcLocName">
                        <option value="">全部</option>
                        <option value="产科住院部">产科住院部</option>
                        <option value="儿科住院部">儿科住院部</option>
                        <option value="产科门诊">产科门诊</option>
                        <option value="儿科门诊">儿科门诊</option>
                        <option value="儿保科门诊">儿保科门诊</option>
                        <option value="孕妇班">孕妇班</option>
                        <option value="妈妈班">妈妈班</option>
                        <option value="游泳馆">游泳馆</option>
                    </select>
                </div>
                <div class="topSearch mr50">
                    <span class="w100 tr dib">积分来源：</span><select class="inputBox pl10" ng-model="recSrc">
                        <option value="">全部</option>
                        <option value="24">营销通APP</option>
                        <option value="5">合生元妈妈100微信</option>
                        <option value="6">妈妈100APP</option>
                    </select>
                </div>
                <div class="topSearch mr50">
                    <span class="w100 tr dib">奶粉阶段：</span><select class="inputBox pl10" ng-model="stage">
                        <option value="">全部</option>
                        <option value="14453">奶粉一阶</option>
                        <option value="14548">奶粉二阶</option>
                        <option value="14549">奶粉三阶</option>
                        <option value="14454">奶粉四阶</option>
                        <option value="14550">妈妈奶粉</option>
                    </select>
                </div>
                <div class="topSearch mr50"> <span class="w100 tr dib"><span style="color:#FF0000;text-align: left">*</span>积分日期：</span><input type="text" id="startTime" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'2015-01-01\'}',maxDate:'#F{$dp.$D(\'endTime\')}' })"/>
                    至 <input type="text" id="endTime" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}', maxDate:'%y-%M-%d'})"/>
                </div>
            </div>
        </div>
        <div class="f-cb mt20 ml120">
            <button class="buttonBox" ng-click="search()">查询
            </button><button class="secButtonBox ml20" ng-click="output()">导出</button>
        </div>
        <!--表格样式-->
        <div class="tableBox mt20">
            <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
            <table class="table" id="alternatecolor">
                <colgroup>
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="90">
                    <col width="90">
                    <col width="90">
                    <col width="90">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="60">
                    <col width="60">
                </colgroup>
                <thead>
                    <tr>
                        <th>大区</th>
                        <th>办事处</th>
                        <th>SA编码</th>
                        <th>会员ID</th>
                        <th>会员姓名</th>
                        <th>用户角色</th>
                        <th>宝宝生日/预产期</th>
                        <th>手机号码</th>
                        <th>积分来源</th>
                        <th>得悉途径</th>
                        <th>BCC工号</th>
                        <th>实操BCC工号</th>
                        <th>育婴顾问工号</th>
                        <th>关联育儿指导师</th>
                        <th>产品名称</th>
                        <th>积分时间</th>
                        <th>购买门店</th>
                        <th>品牌</th>
                        <th>品项</th>
                        <th>奶粉阶段</th>
                        <th>是否订单积分</th>
                        <th>是否绑定微信</th>
                        <th>是否妈妈100APP用户</th>
                        <th>是否SAYN新客</th>
                        <th>是否来自新客礼包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in productListInfo">
                        <td ng-bind="list.areaName">大区</td>
                        <td ng-bind="list.officeName">办事处</td>
                        <td ng-bind="list.saCode">SA编码</td>
                        <td ng-bind="list.customerId">会员ID</td>
                        <td ng-bind="list.name">会员姓名</td>
                        <td ng-bind="list.customerRole">用户角色</td>
                        <!--<td ng-bind="(list.mobile|limitTo:3)+'****'+(list.mobile|limitTo:-4)">手机号码</td>-->
                        <td ng-bind="list.birthdate">宝宝生日/预产期</td>
                        <td ng-bind="list.mobile">手机号码</td>
                        <td ng-bind="list.recSrc">积分来源</td>
                        <td ng-bind="list.srcLocName">得悉途径</td>
                        <td ng-bind="list.proBcc">所属BCC</td>
                        <td ng-bind="list.operateBcc">实操BCC工号</td>
                        <td ng-bind="list.nursingConsultant">育婴顾问工号</td>
                        <td ng-bind="list.parentingInstructor">关联育儿指导师</td>
                        <td ng-bind="list.productName">产品名称</td>
                        <td ng-bind="list.registerDate">积分时间</td>
                        <td ng-bind="list.buyTerminal">购买门店</td>
                        <td ng-bind="list.brand">品牌</td>
                        <td ng-bind="list.typeName">品项</td>
                        <td ng-bind="list.stage">奶粉阶段</td>
                        <td ng-bind="list.isO2OOrder">是否订单积分</td>
                        <td ng-bind="list.isWeixinBind">是否绑定微信</td>
                        <td ng-bind="list.isAppUser">是否妈妈100APP用户</td>
                        <td ng-bind="list.isCoupon">是否SAYN新客</td>
                        <td ng-bind="list.isNewCustGiftPkg">是否来自新客礼包</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                <ul>
                    <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                    <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                    <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                    <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                    <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                    <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>