<!doctype html>
<html ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <title>SA品项新客报表（新）</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191204"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191204"></script>
    <script type="text/javascript" src="js/controller/customerDetailNew_Controller.js?v=20191204"></script>
    <!--文件请根据需求添加，本页面仅作为模板使用-->
</head>
<body id="viewController" ng-controller="saCustomerDetail_Controller">
    <div class="wrapper" style="min-width:2600px;">
        <div class="content mt15">
            <div class="f-cb ">
                <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">会员ID：</span><input type="text" class="inputBox" ng-model="customerId" ng-init="customerId =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode" ng-init="saCode =''"/></div>
            </div>
            <div class="f-cb ">    
                <div class="topSearch mr50"><span class="w100 tr dib">BCC工号：</span><input type="text" class="inputBox" ng-model="bccCode" ng-init="bccCode =''"></div>
                <div class="topSearch mr50"><span class="w100 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="yygwCode" ng-init="yygwCode =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">育儿指导师工号：</span><input type="text" class="inputBox" ng-model="yezdsCode" ng-init="yezdsCode =''"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">手机号码：</span><input type="text" class="inputBox" ng-model="mobile" ng-init="mobile =''"/></div>
            </div>
            <div class="f-cb ">
                <div class="topSearch mr50">
                    <span class="w100 tr dib">积分来源：</span><select class="inputBox pl10" ng-model="pointSource">
                        <option value="">全部</option>
                        <option value="2">营销通APP</option>
                        <option value="5">合生元妈妈100微信</option>
                        <option value="6">妈妈100APP</option>
                    </select>
                </div>
                <div class="topSearch mr50">
                    <span class="w100 tr dib">奶粉阶段：</span><select class="inputBox pl10" ng-model="milkStage">
                        <option value="">全部</option>
                        <option value="14453">奶粉一阶</option>
                        <option value="14548">奶粉二阶</option>
                        <option value="14549">奶粉三阶</option>
                        <option value="14454">奶粉四阶</option>
                        <option value="14550">妈妈奶粉</option>
                    </select>
                </div>
                <div class="topSearch mr50"> <span class="w100 tr dib"><span style="color:#FF0000;text-align: left">*</span>积分日期：</span><input type="text" id="startTime" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'2019-12-26\'}',maxDate:'#F{$dp.$D(\'endTime\')}' })"/>
                    至 <input type="text" id="endTime" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}' })"/>
                </div>
            </div>
        </div>
        <div class="f-cb mt20 ml120">
            <button class="buttonBox" ng-click="search()">查询
            </button><button class="secButtonBox ml20" ng-click="output()">导出</button>
        </div>
        <!--表格样式-->
        <div class="tableBox mt20">
            <div class="lh26 mt30 textContent ml10 mb10">
                <div class="lh26 mt30 textContent ml10">
                    <h2 class="b lhi col-757679">【说明】</h2>
                    <p class="mt5 ml5">1、SA新客定义:首次通过教育渠道扫SA二维码绑定妈妈100微信成为新会员后，90天内在全渠道（含ANC）转化的品项新客（奶粉0-3段、益生菌、纸尿裤）；</p>
                    <p class="mt5 ml5">2、SA新客来源:SA引流到店、线上新人礼、FTF产出、SAYN新客；</p>
                    <p class="mt5 ml5">3、SA新客归属：扫SA二维码绑定妈妈100微信后无其他SA接触，90天内在门店购买成为品项新客——归属给绑定微信的SA；扫SA二维码绑定妈妈100微信后有其他SA接触，90天内在门店购买成为品项新客——归属给最后接触的SA。</p>
                </div>
            </div>
            <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
            <table class="table">
                <colgroup>
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="90">
                    <col width="90">
                    <col width="90">
                    <col width="90">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="60">
                    <col width="60">
                </colgroup>
                <thead>
                    <tr>
                        <th>大区</th>
                        <th>办事处</th>
                        <th>SA编码</th>
                        <th>SA属性</th>
                        <th>会员ID</th>
                        <th>宝宝生日/预产期</th>
                        <th>手机号码</th>
                        <th>首次绑定微信时间</th>
                        <th>积分来源</th>
                        <th>BCC工号</th>
                        <th>育婴顾问工号</th>
                        <th>育婴顾问归属</th>
                        <th>关联育儿指导师</th>
                        <th>产品名称</th>
                        <th>积分时间</th>
                        <th>购买门店</th>
                        <th>品牌</th>
                        <th>品项</th>
                        <th>奶粉阶段</th>
                        <th>是否SAYN新客</th>
                        <th>是否FTF新客</th>
                        <th>是否线上礼包新客</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in productListInfo">
                        <td ng-bind="list.areaName">大区</td>
                        <td ng-bind="list.officeName">办事处</td>
                        <td ng-bind="list.saCode">SA编号</td>
                        <td ng-bind="list.saAttr">SA属性</td>
                        <td ng-bind="list.customerId">会员ID</td>
                        <td ng-bind="list.babyBirthday">宝宝生日/预产期</td>
                        <td ng-bind="list.mobile">手机号码</td>
                        <td ng-bind="list.bindWxTime">首次绑定微信时间</td>
                        <td ng-bind="list.pointSource">积分来源</td>
                        <td ng-bind="list.bccCode">BCC工号</td>
                        <td ng-bind="list.yygwCode">育婴顾问工号</td>
                        <td ng-bind="list.yygwByCompany">育婴顾问归属</td>
                        <td ng-bind="list.yezdsCode">关联育儿指导师</td>
                        <td ng-bind="list.productName">产品名称</td>
                        <td ng-bind="list.pointTime">积分时间</td>
                        <td ng-bind="list.buyTerminal">购买门店</td>
                        <td ng-bind="list.brandName">品牌</td>
                        <td ng-bind="list.productItemName">品项</td>
                        <td ng-bind="list.milkStage">奶粉阶段</td>
                        <td ng-bind="list.isSaYnNewCustomer">是否SAYN新客</td>
                        <td ng-bind="list.isFtfNewCustomer">是否FTF新客</td>
                        <td ng-bind="list.isNewCustGiftPkg">是否线上礼包新客</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                <ul>
                    <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                    <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                    <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                    <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                    <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                    <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>