@charset "utf-8";
/* by WangDongping */
.optionBox {width: 100%; height: 90px; overflow-x: hidden; border: 1px solid #ccc; background: #fff; padding-left: 10px; box-sizing: border-box;}
/*菜单形式*/
.dialog_content{height: auto; overflow-y: auto; background-color: #fafbfd; border: 1px solid #dde3ed; padding: 0; margin:0 10px; box-sizing: border-box; font-size: 14px; color: #333;}
.nav{width: 130px; background-color: #eceef2; padding: 20px 0 20px 10px; position: relative;}
.nav .group>a{display:block; height: 40px; line-height: 40px; text-indent: 20px; color:#999; border: 1px solid transparent;}
.nav .group>a:hover{text-decoration: none;}
.aHover{color:#757679 !important; text-decoration: none; background-color: #fafbfd; border: 1px solid #dde3ed !important; border-right: none !important;}
.nav li ul{position: absolute; top: 0; left: 130px; width: 488px; padding-left: 20px; overflow:auto;}
.nav li ul li{line-height: 32px;}

/*checkbox disabled样式*/
.selectBox.dis label:after{background-color:#999;}

/*上传图片*/
.uploadPhotoBox{margin-top: 10px; padding: 10px 6px; box-sizing: border-box; border: 1px dashed #e0e0e0;}
.pBox{padding: 9px 28px;}
.uploadPhotoBoxHide{padding: 0; border: none;}
.imgDiv{width: 20px;position: absolute; display: block; top: -8px; right: -8px;}
.w130{width: 130px;}
.w500{width: 500px;}
.h130{height: 130px;}
.h173{height: 170px;}
.h141{height: 141px;}
.w188{width: 188px;}
.w80{width: 80px!important;}
.h80{height: 80px!important;}
.w60{width:60px!important;}
.lh14{line-height:14px!important;}
.lh16{line-height:16px!important;}

.col-c69e4e{color: #c69e4e;}
.col-282828{color: #282828;}
.col-23272b{color: #23272b;}
.col-ed6c00{color: #ed6c00;}
.col-606366{color: #606366;}
.previewBox{padding: 20px 10px; box-sizing: border-box; background: #ddeffe;}
.prebtnBox{height: 25px; line-height: 25px; padding: 0px 15px; box-sizing: border-box; background: #dcb766; display: inline-block; border-radius: 4px; color: #fff; margin-left: 65px;}
.previewBox2{padding: 10px; box-sizing: border-box; background: #fff; border-radius: 5px;}
.lineCss{display: block; margin: 15px auto; width: 360px; border-bottom: 1px solid #ebebeb;}
#activityFlowInfoId ol,#activityFlowInfoId dl,#activityFlowInfoId li,#activityFlowInfoId dl{list-style-type:decimal;}
#participationModeInfoId ol,#participationModeInfoId dl,#participationModeInfoId li,#participationModeInfoId dl{list-style-type:decimal;}
#activityFlowInfoId{text-align: justify;}
#participationModeInfoId{text-align: justify;}
#activityFlowInfoId ol{width: 330px!important; margin-left: 15px;}
#participationModeInfoId ol{width: 330px!important; margin-left: 15px;}

.b-ebebeb{border: 1px solid #ebebeb; border-radius: 3px;}

.stepBar1 span,.stepBar2 span{display:inline-block;}
.stepLi_n{width:22px;height:22px;line-height:22px;text-align:center;vertical-align:top;color:#fff;background:#c7d5e8;border-radius:50% 50%;cursor:pointer;}
.stepLi_l{width:140px;height:2px;margin:10px 10px 10px 5px;background: #c7d5e8;}
.stepLi_t{display:inline-block;color:#757679;cursor:pointer;font-size:12px;}
.stepActive{background: #3d568e;}
.templateSelect{border:2px solid #3d568e!important;}
.pageActive{color:#333!important;}
.fc-d76ca1{color:#d76ca1!important;}
.fileUpload{position:relative;overflow:hidden;line-height:30px;text-align:center;color:#fff;}
.fileUpload input.upload {position:absolute;top:0;right:0;margin:0;padding:0;cursor:pointer;opacity:0;}
.pngClose{position:absolute;background:red;width:15px;height:15px;top:0;right:0;line-height:15px;text-align:center;color:#fff;border-radius:50%;cursor:pointer;}
.leftArrow{width:15px;height:28px;position:absolute;top:55px;left:5px;background:url(../images/left.png) no-repeat;background-size:100%;cursor:pointer;}
.rightArrow{width:15px;height:28px;position:absolute;top:55px;right:5px;background:url(../images/right.png) no-repeat;background-size:100%;cursor:pointer;}
.disabled,.disabled:hover{background:#c4c4c4!important;cursor:no-drop!important;}

.selAr{appearance:menulist;-moz-appearance:menulist;-webkit-appearance:menulist;padding-right:18px;}
.inputBox::-webkit-input-placeholder{
    color:#999;
}
.inputBox::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999;
}
.inputBox:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999;
}
.inputBox:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#999;
}


.font10{
    font-size:12px;

    transform: scale(0.86);
    /*transform-origin:0 0;*/

    -ms-transform: scale(0.86);         /* IE 9 */
    /*-ms-transform-origin:0 0; */      /* IE 9 */

    -webkit-transform: scale(0.86); /* Safari 和 Chrome */
    /*-webkit-transform-origin:0 0;*/   /* Safari 和 Chrome */

    -moz-transform: scale(0.86);        /* Firefox */
    /*-moz-transform-origin:0 0;*/      /* Firefox */

    -o-transform: scale(0.86);      /* Opera */
    /*-o-transform-origin:0 0; */       /* Opera */
}

a:link {
    color: #207fe9;
}

html,body{height:100%;}

.logoShow{padding-left: 5px;border-left: 1px solid #3d568e42;}

.mt0{margin-top: 0!important;}