<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>营销上报明细</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191119"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191119"></script>
    <script type="text/javascript" src="js/controller/activityDetail_controller.js?v=20191119"></script>
    <style type="text/css">
        .bigpic-layer a:hover,.bigpic-layer a:link,.bigpic-layer a:active,.bigpic-layer a:visited{text-decoration: none;color:#fff;}
        .bigpic-layer{background: #000;z-index: 11;position: fixed;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height:100%;}
        .bigpic-layer-container{width: 80%;height: 100%;margin:0 auto;display: flex;flex-direction: column;overflow:auto;}
        .bigpic-layer-container::-webkit-scrollbar{width: 0;height:0;}
        .bigpic-layer-container img{margin: auto;cursor: zoom-in;}
        .bigpic-close,.leftaw,.rightaw{width: 50px;text-align:center;background: rgba(255, 255, 255, 0.2);color:#fff;position: absolute;}
        .bigpic-close{height: 50px;line-height:50px;font-size:40px;border-radius: 50%;top:20px;right:20px;}
        .leftaw{height:30px;line-height:30px;font-size:30px;top:50%;left:50px;}
        .rightaw{height:30px;line-height:30px;font-size:30px;top:50%;right:50px;}
    </style>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width:2800px;">
    <div class="content mt15">
        <div id="searchMore">
            <div class="f-cb">
                <div class="topSearch mr30"><span class="w100 tr dib">事业部：</span><select class="inputBox" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabled}"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">上报品牌：</span><select  class="inputBox pl10" ng-model="brand" ng-options="brand.name for brand in brandList"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">渠道：</span><select  class="inputBox pl10" ng-model="channel" ng-options="channel.channelName for channel in channelList"></select></div>
            </div>
            <div class="f-cb">
                <div class="topSearch mr30"><span class="w100 tr dib">审核状态：</span><select class="inputBox pl10" ng-model="sufficeStatus" ng-options="item.name for item in sufficeStatusList"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">活动ID：</span><input type="number" class="inputBox" ng-model="actId"/></div>
                <div class="topSearch mr30"><span class="w100 tr dib">创建人工号：</span><input type="text" class="inputBox" ng-model="createdBy"/></div>
                <div class="topSearch mr30"><span class="w100 tr dib">上报人工号：</span><input type="text" class="inputBox" ng-model="reportBy"/></div>
            </div>
            <div class="f-cb">
                <div class="topSearch mr30"><span class="w100 tr dib">门店编码：</span><input type="text" class="inputBox" ng-model="terminalCode"/></div>
                <div class="topSearch mr30"><span class="w100 tr dib">连锁门店编码：</span><input type="text" class="inputBox" ng-model="relationTerminalCode"/></div>
                <div class="topSearch mr30"><span class="w100 tr dib">执行时间：</span><input type="text" id="dateBegin3" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'2018-04-26\'}',maxDate:'#F{$dp.$D(\'dateOver3\')}' })"/>
                    至 <input type="text" id="dateOver3" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'dateBegin3\')||\'2018-04-26\'}' })"/>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch mr30"><span class="w100 tr dib">图片类别：</span><select  class="inputBox pl10" ng-model="imageMarkType" ng-options="imageMarkType.name for imageMarkType in imageMarkTypeList"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">活动上报日期：</span><input type="text" id="dateBegin1" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'2018-04-26\'}',maxDate:'#F{$dp.$D(\'dateOver1\')}' })"/>
                    至 <input type="text" id="dateOver1" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'dateBegin1\')||\'2018-04-26\'}' })"/>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch mr30"><span class="w100 tr dib">是否补录：</span><select  class="inputBox pl10" ng-model="isRecorded" ng-options="isRecorded.name for isRecorded in isRecordedList"></select></div>
                <div class="topSearch mr30"><span class="w100 tr dib">补录原因：</span><select  class="inputBox pl10" ng-model="recordedCause" ng-options="recordedCause.name for recordedCause in recordedCauseList"></select></div>
                <div class="topSearch mr30" ng-show="queryBySalesMan"><span class="w100 tr dib fl" style="height:30px;"></span><div class="checkboxBox ml5"><input type="checkbox" ng-model="salesMan" value="1" name="radio" id="salesMan" ng-change="isSalesManQuery()"/><label for="salesMan"></label></div>按促销员维度查询</div>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml120">
        <button class="buttonBox" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
        <!--<button class="buttonBox ml20" ng-click="showRecord()">补录</button>-->
    </div>

    <!--表格样式-->
    <div class="tableBox">
        <div class="lh26 mt30 textContent ml10">
            <h2 class="b lhi col-757679">【说明】</h2>
            <p class="mt5 ml5">1）上报日期与活动开始日期两者必须填写一项；大区办事处查询权限是根据登陆人所在的大区办事处属性来查询符合该属性的上报门店信息；</p>
            <p class="mt5 ml5">2）没有勾选 "按促销员维度查询"的查询逻辑如下：</p>
            <p class="mt5 ml5" style="text-indent:2em;">a. 按门店维度展示上报数据：在同一天内同一个门店同一个活动ID出现多个上报行为仅认当天最后一次时间的上报内容；</p>
            <p class="mt5 ml5">3) 勾选“按促销员维度查询” 的查询逻辑如下：</p>
            <p class="mt5 ml5" style="text-indent:2em;">a. 按促销员维度展示上报明细数据：同一个促销员同一天同一个活动同一个门店，只展示当天最后一条上报数据；</p>
            <p class="mt5 ml5" ng-show="isMore">4）仅能查询2018-04-26之后的数据；</p>
            <p class="mt5 ml5" ng-show="isMore">5）营销通APP--活动时间日期内有单条数据交叉时支持覆盖，若是多条数据交叉则不可覆盖，若是覆盖则会产生数据变更；</p>
            <p class="mt5 ml5" ng-show="isMore">6）营销通APP--活动时间日期范围小于等于3天内；</p>
            <div class="topSearchBtn f12 ml5 dib" style="text-align: justify; margin-top: 0;" ng-click="isMore=!isMore;">
                <span ng-bind="isMore?'收起':'展开'"></span>
                <img ng-src="[[isMore?'http://img2.mama100.com/share_mkt_pc/images/up.png':'http://img2.mama100.com/share_mkt_pc/images/donw.png']]" class="pl10">
            </div>
        </div>
        <button class="secButtonBox mt20 fl mb10 mr10" ng-click="showAudit('','all')" ng-disable="auditDisabled" ng-show="auditShow">批量审批</button>
        <h2 class="f14 b500 col-757679 mt30 fl mb10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="100" ng-show="auditShow">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th ng-show="auditShow">
                    <div class="tc dib">
                        <div class="checkboxBox" ng-click="allSel()">
                            <input type="checkbox" ng-model="checkboxSelAll" name="checkbox" id="selAllid" ng-disabled="auditDisabled"/><label style="top: 1px;" for="selAllid"></label>
                        </div>
                        <span class="fl mt3">全部</span>
                    </div>
                </th>
                <th>活动ID</th>
                <th>活动名称</th>
                <th>创建人</th>
                <th>活动类型</th>
                <th>考核类型</th>
                <th>活动开始日期</th>
                <th>活动结束日期</th>
                <th>上报品牌</th>
                <th>上报门店编码</th>
                <th>上报门店名称</th>
                <th>连锁门店编码</th>
                <th>连锁门店名称</th>
                <th>门店大区</th>
                <th>门店办事处</th>
                <th>门店渠道</th>
                <th>省</th>
                <th>市</th>
                <th>区</th>
                <th>街道</th>
                <th>上报人</th>
                <th>上报人岗位</th>
                <th>上报人所属公司</th>
                <th>上报时间</th>
                <th>活动执行开始时间</th>
                <th>活动执行结束时间</th>
                <th>照片1</th>
                <th>照片2</th>
                <th>照片3</th>
                <th>照片4</th>
                <th>照片5</th>
                <th>照片6</th>
                <th>备注</th>
                <th>是否合格</th>
                <th>审批人</th>
                <th>审批时间</th>
                <th>审批原因</th>
                <th>是否补录</th>
                <th>补录原因</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td ng-show="auditShow">
                    <div class="tc dib" ng-if="!tableItem.auditTime">
                        <div class="checkboxBox">
                            <input type="checkbox" ng-model="tableItem.checkboxSel" name="checkbox" id="'sel'+[[$index]]" ng-change="checkboxSel(tableItem)"/><label style="top: 1px;" for="'sel'+[[$index]]"></label>
                        </div>
                    </div>
                </td>
                <td><span class="textOver" title="[[tableItem.actId]]" ng-bind="tableItem.actId"></span></td>
                <td><span class="textOver" title="[[tableItem.actName]]" ng-bind="tableItem.actName"></span></td>
                <td><span title="[[tableItem.actCreatedBy]]" ng-bind="tableItem.actCreatedBy"></span>
                    <span ng-show="tableItem.actCreatedBy != null && tableItem.actCreatedName != null">/</span>
                    <span title="[[tableItem.actCreatedName]]" ng-bind="tableItem.actCreatedName"></span>
                </td>
                <td><span class="textOver" title="[[tableItem.actType]]" ng-bind="tableItem.actType"></span></td>
                <td><span class="textOver" title="[[tableItem.khTypeName]]" ng-bind="tableItem.khTypeName"></span></td>
                <td><span class="textOver" title="[[tableItem.startDate]]" ng-bind="tableItem.startDate"></span></td>
                <td><span class="textOver" title="[[tableItem.endDate]]" ng-bind="tableItem.endDate"></span></td>
                <td><span class="textOver" title="[[tableItem.brand]]" ng-bind="tableItem.brand"></span></td>
                <td><span class="textOver" title="[[tableItem.terminalCode]]" ng-bind="tableItem.terminalCode"></span></td>
                <td><span class="textOver" title="[[tableItem.terminalName]]" ng-bind="tableItem.terminalName"></span></td>
                <td><span class="textOver" title="[[tableItem.relationTerminalCode]]" ng-bind="tableItem.relationTerminalCode"></span></td>
                <td><span class="textOver" title="[[tableItem.relationTerminalName]]" ng-bind="tableItem.relationTerminalName"></span></td>
                <td><span class="textOver" title="[[tableItem.areaTerminal]]" ng-bind="tableItem.areaTerminal"></span></td>
                <td><span class="textOver" title="[[tableItem.officeTerminal]]" ng-bind="tableItem.officeTerminal"></span></td>
                <td><span class="textOver" title="[[tableItem.channelName]]" ng-bind="tableItem.channelName"></span></td>
                <td><span class="textOver" title="[[tableItem.province]]" ng-bind="tableItem.province"></span></td>
                <td><span class="textOver" title="[[tableItem.city]]" ng-bind="tableItem.city"></span></td>
                <td><span class="textOver" title="[[tableItem.district]]" ng-bind="tableItem.district"></span></td>
                <td><span class="textOver" title="[[tableItem.town]]" ng-bind="tableItem.town"></span></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy"></span>
                    <span ng-show="tableItem.createdBy != null && tableItem.createdName != null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName"></span>
                </td>
                <td><span class="textOver" title="[[tableItem.postName]]" ng-bind="tableItem.postName"></span></td>
                <td><span class="textOver" title="[[tableItem.reportByCompany]]" ng-bind="tableItem.reportByCompany"></span></td>
                <td><span class="textOver" title="[[tableItem.createdTime]]" ng-bind="tableItem.createdTime"></span></td>
                <td><span class="textOver" title="[[tableItem.bbStartDate]]" ng-bind="tableItem.bbStartDate"></span></td>
                <td><span class="textOver" title="[[tableItem.bbEndDate]]" ng-bind="tableItem.bbEndDate"></span></td>
                <td><img ng-src="[[tableItem.img1]]" alt="" width="100%" ng-click="showBigpic(0,tableItem)"/><span class="textOver" title="[[tableItem.mark1]]" ng-bind="tableItem.mark1"></span></td>
                <td><img ng-src="[[tableItem.img2]]" alt="" width="100%" ng-click="showBigpic(1,tableItem)"/><span class="textOver" title="[[tableItem.mark2]]" ng-bind="tableItem.mark2"></span></td>
                <td><img ng-src="[[tableItem.img3]]" alt="" width="100%" ng-click="showBigpic(2,tableItem)"/><span class="textOver" title="[[tableItem.mark3]]" ng-bind="tableItem.mark3"></span></td>
                <td><img ng-src="[[tableItem.img4]]" alt="" width="100%" ng-click="showBigpic(3,tableItem)"/><span class="textOver" title="[[tableItem.mark4]]" ng-bind="tableItem.mark4"></span></td>
                <td><img ng-src="[[tableItem.img5]]" alt="" width="100%" ng-click="showBigpic(4,tableItem)"/><span class="textOver" title="[[tableItem.mark5]]" ng-bind="tableItem.mark5"></span></td>
                <td><img ng-src="[[tableItem.img6]]" alt="" width="100%" ng-click="showBigpic(5,tableItem)"/><span class="textOver" title="[[tableItem.mark6]]" ng-bind="tableItem.mark6"></span></td>
                <td><span class="textOver" title="[[tableItem.actMemo]]" ng-bind="tableItem.actMemo"></span></td>
                <td><span class="textOver" title="[[tableItem.suffice]]" ng-bind="tableItem.suffice"></span></td>
                <td><span title="[[tableItem.auditAccount]]" ng-bind="tableItem.auditAccount"></span></td>
                <td><span class="textOver" title="[[tableItem.auditTime]]" ng-bind="tableItem.auditTime"></span></td>
                <td><span class="textOver" title="[[tableItem.auditMemo]]" ng-bind="tableItem.auditMemo"></span></td>
                <td><span class="textOver" title="[[tableItem.actMakeup]]" ng-bind="tableItem.actMakeup"></span></td>
                <td><span class="textOver" title="[[tableItem.makeupMemo]]" ng-bind="tableItem.makeupMemo"></span></td>
                <td><a href="javascript:void(0)" ng-click="showAudit(tableItem.id,'')" ng-if="!tableItem.auditTime&&approval">审批</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>

    <!--审批 弹出框-->
    <div id="auditId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:400px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                请审批
            </h4>
            <div class="easyDialog_text f12" style="height:220px; overflow-y: auto; text-align:left;">
                <div class="content">
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib fl mr5">是否合格：</span><div class="fl col-333333 mr20" ng-repeat="item in sufficeList"><div class="selectBox"><input type="radio" name="sufficeRadio" id="suffice[[$index]]" value="[[item.value]]" ng-model="$parent.isSuffice"/><label for="suffice[[$index]]"></label></div>[[item.name]]</div></div>
                    </div>
                    <div class="f-cb">
                        <div class="topSearch mr50 W100"><span class="w100 tr dib">审批原因：</span><textarea class="inputBox textarea mt5" style="height: 80px; width:240px;" ng-model="auditMemo" maxlength="50"></textarea></div>
                    </div>
                </div>
                <div class="f-cb mt20 tc">
                    <button class="buttonBox" ng-click="submitAudit()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bigpic-layer" ng-show="bigpic_show">
    <div class="bigpic-layer-container">
        <img ng-src="[[bigpic]]" alt="" />
    </div>
    <a href="javascript:;" class="leftaw" ng-click="prevPic()">&lt;</a>
    <a href="javascript:;" class="rightaw" ng-click="nextPic()">&gt;</a>
    <a href="javascript:;" class="bigpic-close" ng-click="closePic()">&times;</a>
</div>
</body>
</html>