<!DOCTYPE html>
<html lang="en" ng-app="biostimeMKTCtrl">
    <head>
        <meta charset="UTF-8">
        <title>活动精英上报考核明细</title>
        <link href="../../css/public.css" rel="stylesheet" type="text/css">
        <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
        <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
        <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
        <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../js/common/common.js?v=20191119"></script>
        <script type="text/javascript" src="../../js/common/base.js"></script>
        <script type="text/javascript" src="../../js/common/md5.js"></script>
        <script type="text/javascript" src="../../js/common/commonFun.js?v=20191119"></script>
        <script type="text/javascript" src="js/controller/activityEliteReportDetails_controller.js?v=20191119"></script>
    </head>
    <body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
        <div class="wrapper">
            <div class="content mt15">
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox w175" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabled}"></select></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">大区：</span><select  class="inputBox pl10 w175" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10 w175" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">渠道：</span><select class="inputBox pl10 w175" ng-model="channel" ng-options="channel.channelName for channel in channelList" ng-change="typeChange()"></select></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w100 tr dib">门店编码：</span><input type="text" class="inputBox w175" ng-model="terminalCode"/></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">活动ID：</span><input type="number" class="inputBox w175" ng-model="actId"/></div>
                    <div class="topSearch mr30"><span class="w100 tr dib"><i class="col-ff0000">*</i>活动上报日期：</span><input type="text" id="dateBegin1" class="inputBox dateIcon w175" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'dateOver1\')}' })"/>
                        至 <input type="text" id="dateOver1" class="inputBox dateIcon w175" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'dateBegin1\')}' })"/>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w100 tr dib">上报人工号：</span><input type="text" class="inputBox w175" ng-model="createdBy"/></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">是否补录：</span><select  class="inputBox  w175" ng-model="isRecorded" ng-options="isRecorded.name for isRecorded in isRecordedList"></select></div>
                    <div class="topSearch mr50"><span class="w100 tr dib">补录原因：</span><select  class="inputBox  w175" ng-model="recordedCause" ng-options="recordedCause.name for recordedCause in recordedCauseList"></select></div>
                </div>
            </div>
            <div class="f-cb mt15 ml120">
                <button class="buttonBox" ng-click="searchFun()">查询</button>
                <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
            </div>
            <div class="tableBox mt20">
                <div class="lh26 mt30 textContent ml10">
                    <h2 class="b lhi col-757679">【说明】</h2>
                    <p class="mt5 ml5">1) 同一个活动不同的活动精英上报保留多条上报记录。</p>
                    <p class="ml5">2) 除了SwissePos销量统计到人，其他积分新客数据均统计到店。</p>
                    <p class="ml5">3）积分新客计算规则：取上报日期当天上报门店的积分新客数据进行统计。</p>
                    <p class="ml5">4) 【Swisse Pos销量】读取 营运管理平台的《Swisse上报明细表》。</p>
                </div>
                <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
                <table class="table" style="min-width:3500px;">
                    <colgroup>
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">

                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">

                        <!-- ANC不展示 -->
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">
                        <col width="100" ng-hide="tableTitleHide">

                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                    </colgroup>
                    <thead class="nowrap">
                        <tr>
                            <th colspan="22" style="border-bottom: 1px solid #b7c5d7;">活动基础信息</th>
                            <th colspan="13" style="border-bottom: 1px solid #b7c5d7;">活动期间门店积分新客</th>
                            <th ng-hide="tableTitleHide" colspan="8" style="border-bottom: 1px solid #b7c5d7;">活动期间活动精英积分新客均分</th>
                            <th colspan="10" style="border-bottom: 1px solid #b7c5d7;">其他</th>
                        </tr>
                        <tr>
                            <th>活动ID</th>
                            <th>活动名称</th>
                            <th>考核类型</th>
                            <th>活动类型</th>
                            <th>创建人</th>
                            <th>活动开始日期</th>
                            <th>活动结束日期</th>
                            <th>上报品牌</th>
                            <th>上报门店编码</th>
                            <th>上报门店名称</th>
                            <th>门店大区</th>
                            <th>门店办事处</th>
                            <th>门店渠道</th>
                            <th>省</th>
                            <th>市</th>
                            <th>区</th>
                            <th>街道</th>
                            <th>上报人</th>
                            <th>上报人岗位</th>
                            <th>上报人品牌属性</th><!---newadd--->
                            <th>上报人所属公司</th>
                            <th>上报时间</th>

                            <th>全品项积分</th>
                            <th>合生元积分</th>
                            <th>HT积分</th>
                            <th>可贝思积分</th><!---newadd--->
                            <th>Dodie积分</th>
                            <th>奶粉新客</th>
                            <th>合生元奶粉新客</th>
                            <th>HT奶粉新客</th>
                            <th>可贝思奶粉新客</th><!---newadd--->
                            <th>400g奶粉礼包新客</th>
                            <th>益生菌新客</th>
                            <th>Dodie新客</th>
                            <th>营养补充剂新客</th>

                            <!-- ANC不展示 -->
                            <th ng-hide="tableTitleHide">全品项积分</th>
                            <th ng-hide="tableTitleHide">HT积分</th>
                            <th ng-hide="tableTitleHide">可贝思积分</th>
                            <th ng-hide="tableTitleHide">Dodie积分</th>
                            <th ng-hide="tableTitleHide">奶粉新客</th>
                            <th ng-hide="tableTitleHide">HT奶粉新客</th>
                            <th ng-hide="tableTitleHide">可贝思奶粉新客</th>
                            <th ng-hide="tableTitleHide">营养补充剂新客</th>
                            
                            <th>SwissePOS销量</th>
                            <th>照片1</th>
                            <th>照片2</th>
                            <th>照片3</th>
                            <th>照片4</th>
                            <th>照片5</th>
                            <th>照片6</th>
                            <th>备注</th>
                            <th>是否补录</th>
                            <th>补录原因</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in infoList">
                            <td><span class="textOver" title="[[item.actId]]" ng-bind="item.actId"></span></td>
                            <td><span class="textOver" title="[[item.actName]]" ng-bind="item.actName"></span></td>
                            <td><span class="textOver" title="[[item.khTypeName]]" ng-bind="item.khTypeName"></span></td>
                            <td><span class="textOver" title="[[item.actType]]" ng-bind="item.actType"></span></td>
                            <td><span class="textOver" title="[[item.actCreatedBy+'/'+item.actCreatedName]]" ng-bind="item.actCreatedBy+'/'+item.actCreatedName"></span></td>
                            <td><span class="textOver" title="[[item.startDate]]" ng-bind="item.startDate"></span></td>
                            <td><span class="textOver" title="[[item.endDate]]" ng-bind="item.endDate"></span></td>
                            <td><span class="textOver" title="[[item.brand]]" ng-bind="item.brand"></span></td>
                            <td><span class="textOver" title="[[item.terminalCode]]" ng-bind="item.terminalCode"></span></td>
                            <td><span class="textOver" title="[[item.terminalName]]" ng-bind="item.terminalName"></span></td>
                            <td><span class="textOver" title="[[item.areaTerminal]]" ng-bind="item.areaTerminal"></span></td>
                            <td><span class="textOver" title="[[item.officeTerminal]]" ng-bind="item.officeTerminal"></span></td>
                            <td><span class="textOver" title="[[item.channelName]]" ng-bind="item.channelName"></span></td>
                            <td><span class="textOver" title="[[item.province]]" ng-bind="item.province"></span></td>
                            <td><span class="textOver" title="[[item.city]]" ng-bind="item.city"></span></td>
                            <td><span class="textOver" title="[[item.district]]" ng-bind="item.district"></span></td>
                            <td><span class="textOver" title="[[item.town]]" ng-bind="item.town"></span></td>
                            <td><span class="textOver" title="[[item.createdBy+'/'+item.createdName]]" ng-bind="item.createdBy+'/'+item.createdName"></span></td>
                            <td><span class="textOver" title="[[item.postName]]" ng-bind="item.postName"></span></td>
                            <td><span class="textOver" title="[[item.reportByBrand]]" ng-bind="item.reportByBrand"></span></td><!---newadd--->
                            <td><span class="textOver" title="[[item.reportByCompany]]" ng-bind="item.reportByCompany"></span></td>
                            <td><span class="textOver" title="[[item.createdTime]]" ng-bind="item.createdTime"></span></td>

                            <td><span class="textOver" title="[[item.pointTot]]" ng-bind="item.pointTot"></span></td>
                            <td><span class="textOver" title="[[item.pointBiostime]]" ng-bind="item.pointBiostime"></span></td>
                            <td><span class="textOver" title="[[item.pointMilkHtAsse]]" ng-bind="item.pointMilkHtAsse"></span></td>
                            <td><span class="textOver" title="[[item.pointKbs]]" ng-bind="item.pointKbs"></span></td><!---newadd--->
                            <td><span class="textOver" title="[[item.pointDodie]]" ng-bind="item.pointDodie"></span></td>
                            <td><span class="textOver" title="[[item.newCustMilk]]" ng-bind="item.newCustMilk"></span></td>
                            <td><span class="textOver" title="[[item.newCustMilkBiostime]]" ng-bind="item.newCustMilkBiostime"></span></td>
                            <td><span class="textOver" title="[[item.newCustMilkHt]]" ng-bind="item.newCustMilkHt"></span></td>
                            <td><span class="textOver" title="[[item.newCustKbs8]]" ng-bind="item.newCustKbs8"></span></td><!---newadd--->
                            <td><span class="textOver" title="[[item.newCustMilkGift4]]" ng-bind="item.newCustMilkGift4"></span></td>
                            <td><span class="textOver" title="[[item.newCustProbiotics]]" ng-bind="item.newCustProbiotics"></span></td>
                            <td><span class="textOver" title="[[item.dodieNewCustomerNum]]" ng-bind="item.dodieNewCustomerNum"></span></td>
                            <td><span class="textOver" title="[[item.addiNutrition]]" ng-bind="item.addiNutrition"></span></td>
                            
                            <!-- ANC不展示 -->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.pointTotAvg]]" ng-bind="item.pointTotAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.pointHtAvg]]" ng-bind="item.pointHtAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.pointKbsAvg]]" ng-bind="item.pointKbsAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.pointDodieAvg]]" ng-bind="item.pointDodieAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.newCustMilkAvg]]" ng-bind="item.newCustMilkAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.newCustMilkHtAvg]]" ng-bind="item.newCustMilkHtAvg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.newCustKbs8Avg]]" ng-bind="item.newCustKbs8Avg"></span></td><!---newadd--->
                            <td ng-hide="tableTitleHide"><span class="textOver" title="[[item.addiNutritionAvg]]" ng-bind="item.addiNutritionAvg"></span></td><!---newadd--->
                            
                            <td><span class="textOver" title="[[item.swPosNums]]" ng-bind="item.swPosNums"></span></td>
                            <td><img ng-src="[[item.img1]]" alt="" width="100%" ng-click="showBigpic(0,item)"/><span class="textOver" title="[[item.mark1]]" ng-bind="item.mark1"></span></td>
                            <td><img ng-src="[[item.img2]]" alt="" width="100%" ng-click="showBigpic(1,item)"/><span class="textOver" title="[[item.mark2]]" ng-bind="item.mark2"></span></td>
                            <td><img ng-src="[[item.img3]]" alt="" width="100%" ng-click="showBigpic(2,item)"/><span class="textOver" title="[[item.mark3]]" ng-bind="item.mark3"></span></td>
                            <td><img ng-src="[[item.img4]]" alt="" width="100%" ng-click="showBigpic(3,item)"/><span class="textOver" title="[[item.mark4]]" ng-bind="item.mark4"></span></td>
                            <td><img ng-src="[[item.img5]]" alt="" width="100%" ng-click="showBigpic(4,item)"/><span class="textOver" title="[[item.mark5]]" ng-bind="item.mark5"></span></td>
                            <td><img ng-src="[[item.img6]]" alt="" width="100%" ng-click="showBigpic(5,item)"/><span class="textOver" title="[[item.mark6]]" ng-bind="item.mark6"></span></td>
                            <td><span class="textOver" title="[[item.actMemo]]" ng-bind="item.actMemo"></span></td>
                            <td><span class="textOver" title="[[item.actMakeup]]" ng-bind="item.actMakeup"></span></td>
                            <td><span class="textOver" title="[[item.makeupMemo]]" ng-bind="item.makeupMemo"></span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                    <ul>
                        <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                        <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                        <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                        <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                        <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                        <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 大图 -->
        <div class="bigpic-layer" ng-show="bigpic_show">
            <div class="bigpic-layer-container">
                <img ng-src="[[bigpic]]" alt="" />
            </div>
            <a href="javascript:;" class="leftaw" ng-click="prevPic()">&lt;</a>
            <a href="javascript:;" class="rightaw" ng-click="nextPic()">&gt;</a>
            <a href="javascript:;" class="bigpic-close" ng-click="closePic()">&times;</a>
        </div>
    </body>
</html>