<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>活动考核报表</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191125"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191125"></script>
    <script type="text/javascript" src="js/controller/caravanReports_controller.js?v=20191125"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width: 5400px;">
    <div class="content mt15">
        <div id="searchMore">
            <div class="f-cb">
                <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox w175" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">大区：</span><select  class="inputBox pl10 w175" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10 w175" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">上报品牌：</span><select  class="inputBox pl10 w175" ng-model="brand" ng-options="brand.name for brand in brandList"></select></div>
            </div>

            <div class="f-cb">
                <div class="topSearch mr50"><span class="w100 tr dib">渠道：</span><select class="inputBox pl10 w175" ng-model="channel" ng-options="channel.channelName for channel in channelList" ng-change="typeChange()"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">活动ID：</span><input type="number" class="inputBox w175" ng-model="actId"/></div>
                <div class="topSearch mr50"><span class="w100 tr dib">门店编码：</span><input type="text" class="inputBox w175" ng-model="terminalCode"/></div>
            </div>
            <div class="f-cb">
                <div class="topSearch mr50"><span class="w100 tr dib">连锁门店编码：</span><input type="text" class="inputBox w175" ng-model="relationTerminalCode"/></div>
                <div class="topSearch"><span class="w100 tr dib"><i class="col-ff0000">*</i>执行时间：</span><input type="text" id="dateBegin3" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'dateOver3\')}' })"/>
                    至 <input type="text" id="dateOver3" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'dateBegin3\')}' })"/>
                </div>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml120">
        <button class="buttonBox fl" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="importFile()">导出</button>
    </div>

    <!--表格样式-->
    <div class="tableBox">
        <div class="lh26 mt30 textContent ml10">
            <h2 class="b lhi col-757679">【说明】<span class="col-ff0000">数据更新至昨天为止；</span></h2>
            <p class="mt5 ml5">1）考核报表仅呈现有报备且上报照片的门店指标数据；报表根据每个活动的门店执行时间范围来统计指标数据，一个门店在一场活动有多个报备时间则统计门店多条执行时间的指标值；</p>
            <p class="ml5" ng-show="isMore">2）大区/办事处查询权限是根据登陆人所在的大区办事处属性来查询符合该属性的上报门店信息；</p>
            <p class="ml5" ng-show="isMore">3）【照片审核情况】根据审核结果呈现，若有审核结果则按结果呈现“合格”或“不合格”，若无审核照片则显示“未审核”；</p>
            <p class="ml5" ng-show="isMore">4）Swisse销量统计：对接分销平台，根据设置活动时所选择的SKU进行活动执行时间内的POS销量统计；</p>
            <p class="ml5" ng-show="isMore">5）报表数据更新至昨天为止。</p>
            <p class="ml5" ng-show="isMore">6）合生元微信新会员：无关联SA活动，则展示该渠道终端的微信新会员数；关联SA活动，则展示该SA终端的微信新会员数。</p>
            <div class="topSearchBtn f12 ml5 dib" style="text-align: justify; margin-top: 0;" ng-click="isMore=!isMore;">
                <span ng-bind="isMore?'收起':'展开'"></span>
                <img ng-src="[[isMore?'http://img2.mama100.com/share_mkt_pc/images/up.png':'http://img2.mama100.com/share_mkt_pc/images/donw.png']]" class="pl10">
            </div>
        </div>
        <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th colspan="24" style="border-bottom: 1px solid #b7c5d7;">活动基本信息</th>
                <th colspan="4" style="border-bottom: 1px solid #b7c5d7;">活动期间关注/签到情况</th>
                <th colspan="13" style="border-bottom: 1px solid #b7c5d7;">活动期间门店积分新客汇总</th>
                <th colspan="9" style="border-bottom: 1px solid #b7c5d7;">活动签到消费者转化情况</th>
            </tr>
            <tr>
                <th>活动ID</th>
                <th>活动名称</th>
                <th>活动类型</th>
                <th>关联SA活动</th>
                <th>上报品牌</th>
                <th>上报人员</th>
                <th>上报人岗位</th>
                <th>上报人所属公司</th>
                <th>门店编码</th>
                <th>门店名称</th>
                <th>连锁门店编码</th>
                <th>连锁门店名称</th>
                <th>门店大区</th>
                <th>门店办事处</th>
                <th>门店渠道</th>
                <th>省</th>
                <th>市</th>
                <th>区</th>
                <th>街道</th>
                <th>执行开始日期</th>
                <th>执行结束日期</th>
                <th>上报时间</th>
                <th>上报备注</th>
                <th>上报审核情况</th>

                <th>合生元微信新会员</th>
                <th>HT微信新会员</th>
                <th>Dodie微信新会员</th>
                <th>签到人数</th>

                <th>全品项积分</th>
                <th>Dodie积分</th>
                <th>奶粉新客</th>
                <th>合生元奶粉新客</th>
                <th>HT新客</th>
                <th>可贝思新客</th>
                <th>益生菌新客</th>
                <th>Dodie新客</th>
                <th>营养补充剂新客</th>
                <th>Swisse活动SKU的POS数（元）</th>
                <th>HT罐数(400g)</th>
                <th>HT罐数(800g)</th>
                <th>Dodie纸尿裤包数</th>

                <th>全品项积分</th>
                <th>Dodie积分</th>
                <th>奶粉新客</th>
                <th>合生元奶粉新客</th>
                <th>HT新客</th>
                <th>可贝思新客</th>
                <th>益生菌新客</th>
                <th>Dodie新客</th>
                <th>营养补充剂新客</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in infoList">
                <td><span class="textOver" title="[[item.actId]]" ng-bind="item.actId"></span></td>
                <td><span class="textOver" title="[[item.actName]]" ng-bind="item.actName"></span></td>
                <td><span class="textOver" title="[[item.actTypeName]]" ng-bind="item.actTypeName"></span></td>
                <td><span class="textOver" title="[[item.saFtfActName]]" ng-bind="item.saFtfActName"></span></td>
                <td><span class="textOver" title="[[item.brandName]]" ng-bind="item.brandName"></span></td>
                <td><span class="textOver" title="[[item.reportBy]]" ng-bind="item.reportBy+'/'+item.reportName"></span></td>
                <td><span class="textOver" title="[[item.reportPostName]]" ng-bind="item.reportPostName"></span></td>
                <td><span class="textOver" title="[[item.reportByCompany]]" ng-bind="item.reportByCompany"></span></td>
                <td><span class="textOver" title="[[item.terminalCode]]" ng-bind="item.terminalCode"></span></td>
                <td><span class="textOver" title="[[item.terminalName]]" ng-bind="item.terminalName"></span></td>
                <td><span class="textOver" title="[[item.relationTerminalCode]]" ng-bind="item.relationTerminalCode"></span></td>
                <td><span class="textOver" title="[[item.relationTerminalName]]" ng-bind="item.relationTerminalName"></span></td>
                <td><span class="textOver" title="[[item.areaName]]" ng-bind="item.areaName"></span></td>
                <td><span class="textOver" title="[[item.officeName]]" ng-bind="item.officeName"></span></td>
                <td><span class="textOver" title="[[item.channelName]]" ng-bind="item.channelName"></span></td>
                <td><span class="textOver" title="[[item.province]]" ng-bind="item.province"></span></td>
                <td><span class="textOver" title="[[item.city]]" ng-bind="item.city"></span></td>
                <td><span class="textOver" title="[[item.district]]" ng-bind="item.district"></span></td>
                <td><span class="textOver" title="[[item.town]]" ng-bind="item.town"></span></td>
                <td><span class="textOver" title="[[item.startDate]]" ng-bind="item.startDate"></span></td>
                <td><span class="textOver" title="[[item.endDate]]" ng-bind="item.endDate"></span></td>
                <td><span class="textOver" title="[[item.reportingTime]]" ng-bind="item.reportingTime"></span></td>
                <td><span class="textOver" title="[[item.memo]]" ng-bind="item.memo"></span></td>
                <td><span class="textOver" title="[[item.isQualified]]" ng-bind="item.isQualified"></span></td>

                <td><span class="textOver" title="[[item.wxNewCustomer]]" ng-bind="item.wxNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.htWxNewCustomer]]" ng-bind="item.htWxNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.dodieWxNewcustomer]]" ng-bind="item.dodieWxNewcustomer"></span></td>
                <td><span class="textOver" title="[[item.signNum?item.signNum:'-']]" ng-bind="item.signNum?item.signNum:'-'"></span></td>

                <td><span class="textOver" title="[[item.allPoint]]" ng-bind="item.allPoint"></span></td>
                <td><span class="textOver" title="[[item.pointDodie]]" ng-bind="item.pointDodie"></span></td>
                <td><span class="textOver" title="[[item.milkNewCust]]" ng-bind="item.milkNewCust"></span></td>
                <td><span class="textOver" title="[[item.milkNewCustomer]]" ng-bind="item.milkNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.htNewCust]]" ng-bind="item.htNewCust"></span></td>
                <td><span class="textOver" title="[[item.kbsNewCustomer]]" ng-bind="item.kbsNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.ysjNewCustomer]]" ng-bind="item.ysjNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.dodieNewCustomerNum]]" ng-bind="item.dodieNewCustomerNum"></span></td>
                <td><span class="textOver" title="[[item.addiNutrition]]" ng-bind="item.addiNutrition"></span></td>
                <td><span class="textOver" title="[[item.swPosNum]]" ng-bind="item.swPosNum"></span></td>
                <td><span class="textOver" title="[[item.ht4g]]" ng-bind="item.ht4g"></span></td>
                <td><span class="textOver" title="[[item.ht8g]]" ng-bind="item.ht8g"></span></td>
                <td><span class="textOver" title="[[item.dodieNum]]" ng-bind="item.dodieNum"></span></td>

                <td><span class="textOver" title="[[item.signAllPoint]]" ng-bind="item.signAllPoint"></span></td>
                <td><span class="textOver" title="[[item.signPointDodie]]" ng-bind="item.signPointDodie"></span></td>
                <td><span class="textOver" title="[[item.milkSignNewCust]]" ng-bind="item.milkSignNewCust"></span></td>
                <td><span class="textOver" title="[[item.bstMilkSignNewCustomer]]" ng-bind="item.bstMilkSignNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.htSignNewCust]]" ng-bind="item.htSignNewCust"></span></td>
                <td><span class="textOver" title="[[item.kbsSignNewCustomer]]" ng-bind="item.kbsSignNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.ysjSignNewCustomer]]" ng-bind="item.ysjSignNewCustomer"></span></td>
                <td><span class="textOver" title="[[item.dodieSignNewCustomerNum]]" ng-bind="item.dodieSignNewCustomerNum"></span></td>
                <td><span class="textOver" title="[[item.addiNutritionSignNewCustNum]]" ng-bind="item.addiNutritionSignNewCustNum"></span></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>