<!DOCTYPE html>
<html lang="en" ng-app="biostimeMKTCtrl">
    <head>
        <meta charset="UTF-8">
        <title>图片类型设置</title>
        <link href="../../css/public.css" rel="stylesheet" type="text/css">
        <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
        <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
        <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
        <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../js/common/common.js?v=20191119"></script>
        <script type="text/javascript" src="../../js/common/base.js"></script>
        <script type="text/javascript" src="../../js/common/md5.js"></script>
        <script type="text/javascript" src="../../js/common/commonFun.js?v=20191119"></script>
        <script type="text/javascript" src="js/controller/imageTypeConfig_controller.js?v=20191119"></script>
    </head>
    <body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
        <div class="wrapper">
            <div class="content mt15">
                <div class="f-cb">
                    <div class="topSearch mr50">
                        <span class="w130 tr dib">图片类型：</span>
                        <input class="inputBox" type="text" ng-model="keyword"/>
                    </div>
                    <div class="topSearch mr50">
                        <span class="w100 tr dib">状态：</span>
                        <select  class="inputBox pl10" ng-model="status" ng-options="item.name for item in statusList"></select>
                    </div>
                </div>
            </div>
            <div class="f-cb mt15" style="margin-left: 150px;">
                <button class="buttonBox" ng-click="searchFun()">查询</button>
                <button class="buttonBox ml20" ng-click="addFun()">新增</button>
            </div>
            <div class="tableBox mt20">
                <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
                <table class="table" id="alternatecolor">
                    <colgroup>
                        <col width="80">
                        <col width="80">
                        <col width="80">
                        <col width="80">
                        <col width="80">
                        <col width="80">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>图片类型</th>
                        <th>状态</th>
                        <th>创建人</th>
                        <th>操作时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in infoList">
                        <td><span ng-bind="item.id"></span></td>
                        <td><span ng-bind="item.name"></span></td>
                        <td><span ng-bind="item.statusName"></span></td>
                        <td><span ng-bind="item.createdBy+'/'+item.createdName"></span></td>
                        <td><span ng-bind="item.createdTime|date:'yyyy-MM-dd'"></span></td>
                        <td>
                            <a ng-show="item.statusName=='启用'" ng-click="changeStatus(item,'2')">停用</a>
                            <a ng-show="item.statusName=='停用'" ng-click="changeStatus(item,'1')">启用</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                    <ul>
                        <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                        <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                        <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                        <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                        <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                        <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                    </ul>
                </div>
            </div>

            <div id="selectAddId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width: 400px;">
                <div class="easyDialog_content easyDialog_contentS">
                    <h4 class="easyDialog_title easyDialog_titleS">
                        <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                        新增图片类型
                    </h4>
                    <div class="easyDialog_text f12" style="overflow-y: auto; text-align:left;">
                        <div class="topSearch tc">
                            <span class="w75 tr dib" style="margin-eft:-75px;">图片类型：</span>
                            <input class="inputBox" type="text" ng-model="imgTypeAdd" maxlength="15" placeholder="输入长度为15个字符以内"/>
                        </div>
                        <div class="f-cb mt20 tc">
                            <button class="buttonBox" ng-click="saveClick()">保存</button>
                            <button class="weakButtonBox ml20" ng-click="close()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>