<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>关系维护</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191119"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191119"></script>
    <script type="text/javascript" src="js/controller/relationship_controller.js?v=20191119"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper">
    <div class="content mt15">
        <div>
            <div class="f-cb">
                <div class="topSearch mr50"><span class="w100 tr dib">状态：</span><select  class="inputBox pl10" ng-model="status" ng-options="item.name for item in statusList"></select></div>
                <div class="topSearch mr50"><span class="w100 tr dib">活动类型名称：</span><input class="inputBox pl10" type="text" ng-model="actTypeName"></div>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml120">
        <button class="buttonBox" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
        <button class="buttonBox ml20" ng-click="showNew()">新增关系</button>
    </div>

    <!--表格样式-->
    <div class="tableBox">
        <h2 class="f14 b500 col-757679 mt30 fl mb10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="150">
                <col width="100">
                <col width="100">
                <col width="50">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th>活动类型</th>
                <th>适用上报类型</th>
                <th>适用品牌</th>
                <th>适用渠道</th>
                <th>适用门店</th>
                <th>状态</th>
                <th>最近操作时间</th>
                <th>最近操作人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.actTypeName]]" ng-bind="tableItem.actTypeName"></span></td>
                <td><span class="textOver" title="[[tableItem.reportTypeName]]" ng-bind="tableItem.reportTypeName"></span></td>
                <td><span class="textOver" title="[[tableItem.brandName]]" ng-bind="tableItem.brandName"></span></td>
                <td><span class="textOver" title="[[tableItem.channelName]]" ng-bind="tableItem.channelName"></span></td>
                <td><span class="textOver" title="[[tableItem.terminalType]]" ng-bind="tableItem.terminalType"></span></td>
                <td><span class="textOver" title="[[tableItem.statusName]]" ng-bind="tableItem.statusName"></span></td>
                <td><span class="textOver" title="[[tableItem.updatedTime]]" ng-bind="tableItem.updatedTime"></span></td>
                <td><span class="textOver" title="[[tableItem.updatedBy]]" ng-bind="tableItem.updatedBy"></span></td>
                <td><span class="textOver" title="[[tableItem.createdTime]]" ng-bind="tableItem.createdTime"></span></td>
                <td><a href="javascript:void(0)" ng-click="changeStatus(tableItem.id, tableItem.statusCode)" ng-if="tableItem.statusCode==1">停用</a>
                    <a href="javascript:void(0)" ng-click="changeStatus(tableItem.id, tableItem.statusCode)" ng-if="tableItem.statusCode==2">启用</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>

    <!--新增关系 弹出框-->
    <div id="newId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:780px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                新增关系
            </h4>
            <div class="easyDialog_text f12">
                <div class="content">
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib fl mr5"><i class="col-ff0000">*</i>适用上报类型：</span>
                            <div class="fl col-333333 mr15" ng-repeat="item in assessList"><div class="selectBox"><input type="radio" ng-model="$parent.assess" value="[[item.value]]" name="radio" id="'assessId'+[[$index]]" ng-change="typeFn(item.value)"/><label for="'assessId'+[[$index]]"></label></div>[[item.name]]</div>
                        </div>
                    </div>
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib fl mr5"><i class="col-ff0000">*</i>适用品牌：</span>
                            <div class="fl col-333333 mr15 mr4" ng-repeat="item in brandList" ng-hide="$parent.assess==1&&item.value=='0'"><div class="checkboxBox"><input type="checkbox" ng-model="item.brand" value="[[item.value]]" name="radio" id="'brandId'+[[$index]]"/><label for="'brandId'+[[$index]]"></label></div>[[item.name]]</div>
                        </div>
                    </div>
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib fl mr5"><i class="col-ff0000">*</i>适用渠道：</span>
                            <div class="fl col-333333 mr15 mr4" ng-repeat="item in channelList"><div class="checkboxBox"><input type="checkbox" ng-model="item.channel" value="[[item.channelCode]]" name="radio" id="'channelId'+[[$index]]"/><label for="'channelId'+[[$index]]"></label></div>[[item.channelName]]</div>
                            <!-- <span class="col-ff0000 ml5 fl">*当选择【婴线】渠道呈现“适用门店”</span> -->
                        </div>
                    </div>
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib fl mr5"><i class="col-ff0000">*</i>适用门店：</span>
                            <div class="fl col-333333 mr15 mr4" ng-repeat="item in terminalList"><div class="checkboxBox"><input type="checkbox" ng-model="item.terminal" value="[[item.value]]" name="radio" id="'terminalId'+[[$index]]"/><label for="'terminalId'+[[$index]]"></label></div>[[item.name]]</div>
                        </div>
                    </div>
                    <div class="f-cb">
                        <div class="topSearch mr50 f-mt5"><span class="w100 tr dib"><i class="col-ff0000">*</i>活动/陈列类型：</span><input type="text" class="inputBox" maxlength="15" ng-model="addActTypeName"/><span class="col-ff0000 ml5">*仅限15中文字，不可重名</span></div>
                    </div>
                </div>
                <div class="f-cb mt20 tc">
                    <button class="buttonBox" ng-click="save(1)">保存并新增</button>
                    <button class="secButtonBox ml20" ng-click="save(0)">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>