<!DOCTYPE html>
<html lang="en" ng-app="biostimeMKTCtrl">
    <head>
        <meta charset="utf-8">
        <title>门店拜访考核报表</title>
        <link href="../../css/public.css" rel="stylesheet" type="text/css">
        <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
        <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
        <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
        <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
        <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
        <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../js/common/common.js?v=2019123101"></script>
        <script type="text/javascript" src="../../js/common/base.js"></script>
        <script type="text/javascript" src="../../js/common/md5.js"></script>
        <script type="text/javascript" src="../../js/common/commonFun.js?v=2019123101"></script>
        <script type="text/javascript" src="js/controller/storeVisitAssessmentReport_controller.js?v=2019123101"></script>
    </head>
    <body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
        <div class="wrapper">
            <div class="titleBox">
                <ul id="menu">
                    <li ng-click="selFun(0)" ng-class="{'sel':selNum==0}">月度考核</li>
                    <li ng-click="selFun(1)" ng-class="{'sel':selNum==1}">季度考核</li>
                </ul>
            </div>
            <div ng-show="selNum==0">
                <div class="content">
                    <div class="f-cb">
                        <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">姓名：</span><input type="tel" class="inputBox" ng-model="name"/></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">工号：</span><input type="text" class="inputBox" ng-model="account"/></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">岗位：</span><select class="inputBox pl10" ng-model="postName" ng-options="postName.key for postName in terminalVisitPostList" ng-change="aaa()"></select></div>
                        <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>查询时间：</span><input type="text" id="startDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM',autoPickDate:true,minDate:'#F{$dp.$D(\'endDate\',{M:-3})}',maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                        至 <input type="text" id="endDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'#F{$dp.$D(\'startDate\',{M:3})}' })"/></div>
                    </div>
                </div>
                <div class="f-cb mt15 ml110">
                    <button class="buttonBox" ng-click="searchClick()">查询</button>
                    <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
                </div>
                <div class="tableBox mt20">
                    <h2 class="b lhi col-757679">【说明】</h2>
                    <p class="mt5 ml5" ng-show="selNum==0">【本月门店关联数量】只统计婴药商渠道人员，其它渠道不统计。</p>
                    <p class="mt5 ml5" ng-show="selNum==0">【本月门店关联数量】取系统跑数时的有效关联门店数量，每日更新，26日凌晨定版该数据。</p>
                    <div class="topSearchBtn f12 lh16 ml5 dib" style="text-align: justify; margin-top: 5px;" ng-click="isMore=!isMore;">
                        <span ng-bind="isMore?'收起':'展开'">展开</span>
                        <img ng-src="[[isMore?'./images/up.png':'./images/donw.png']]" class="pl10">
                    </div>
                    <div class="W100 mt10" ng-show="isMore">
                        <img class="W100" src="./images/kaohe.png"/>
                    </div>
                    <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
                    <table class="table">
                        <colgroup>
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>考核月份</th>
                            <th>大区</th>
                            <th>办事处</th>
                            <th>姓名</th>
                            <th>工号</th>
                            <th>岗位</th>
                            <th>门店星级</th>
                            <th>本月门店关联数量</th>
                            <th>本月门店拜访数量</th>
                            <th>本月门店拜访达标数量</th>
                            <th>月度达标率</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in infoList">
                            <td><span ng-bind="item.auditMonth"></span></td>
                            <td><span ng-bind="item.areaName"></span></td>
                            <td><span ng-bind="item.officeName"></span></td>
                            <td><span ng-bind="item.name"></span></td>
                            <td><span ng-bind="item.account"></span></td>
                            <td><span ng-bind="item.postName"></span></td>
                            <td><span ng-bind="item.starlevelName"></span></td>
                            <td><span ng-bind="item.relationTerminalNum"></span></td>
                            <td><span ng-bind="item.terminalVisitNum"></span></td>
                            <td><span ng-bind="item.terminalVisitAchievementNum"></span></td>
                            <td><span ng-bind="item.achievementRate"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                        <ul>
                            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="selNum==1">
                <div class="content">
                    <div class="f-cb">
                        <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">姓名：</span><input type="tel" class="inputBox" ng-model="name"/></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">工号：</span><input type="text" class="inputBox" ng-model="account"/></div>
                        <div class="topSearch mr50"><span class="w90 tr dib">岗位：</span><select class="inputBox pl10" ng-model="postName" ng-options="postName.key for postName in terminalVisitPostList"></select></div>
                        <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>查询时间：</span><select class="inputBox pl10" ng-model="quarter" ng-options="quarter.key for quarter in quarterList"></select></div>
                    </div>
                </div>
                <div class="f-cb mt15 ml110">
                    <button class="buttonBox" ng-click="searchClick()">查询</button>
                    <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
                </div>
                <div class="tableBox mt20">
                    <h2 class="b lhi col-757679">【说明】</h2>
                    <div class="topSearchBtn f12 lh16 ml5 dib" style="text-align: justify; margin-top: 0;" ng-click="isMore=!isMore;">
                        <span ng-bind="isMore?'收起':'展开'">展开</span>
                        <img ng-src="[[isMore?'./images/up.png':'./images/donw.png']]" class="pl10">
                    </div>
                    <div class="W100 mt10" ng-show="isMore">
                        <img class="W100" src="./images/kaohe.png"/>
                    </div>
                    <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
                    <table class="table">
                        <colgroup>
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>考核季度</th>
                            <th>大区</th>
                            <th>办事处</th>
                            <th>姓名</th>
                            <th>工号</th>
                            <th>岗位</th>
                            <th>1/无星级季度达标率</th>
                            <th>2星级季度达标率</th>
                            <th>3星级季度达标率</th>
                            <th>4星级季度达标率</th>
                            <th>5星级季度达标率</th>
                            <th>季度达标率</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in infoList">
                            <td><span ng-bind="item.quarter"></span></td>
                            <td><span ng-bind="item.areaName"></span></td>
                            <td><span ng-bind="item.officeName"></span></td>
                            <td><span ng-bind="item.name"></span></td>
                            <td><span ng-bind="item.account"></span></td>
                            <td><span ng-bind="item.postName"></span></td>
                            <td><span ng-bind="item.oneStarlevelRate"></span></td>
                            <td><span ng-bind="item.twoStarlevelRate"></span></td>
                            <td><span ng-bind="item.threeStarlevelRate"></span></td>
                            <td><span ng-bind="item.fourStarlevelRate"></span></td>
                            <td><span ng-bind="item.fiveStarlevelRate"></span></td>
                            <td><span ng-bind="item.quarterAchievementRate"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                        <ul>
                            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>