<div class="content">
    <div class="f-cb">
        <div class="topSearch mr30"><span class="w100 tr dib">事业部：</span><select class="inputBox w175" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabled}"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">大区：</span><select  class="inputBox pl10 w175" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10 w175" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">品牌：</span><select  class="inputBox pl10 w175" ng-model="brand" ng-options="brand.name for brand in brandList" ng-change="getType(3)"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">渠道：</span><select class="inputBox pl10 w175" ng-model="channel" ng-options="channel.channelName for channel in channelList" ng-change="getType(3)"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">活动类型：</span><select  class="inputBox pl10 w175" ng-model="type" ng-options="type.name for type in typeList"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">活动状态：</span><select  class="inputBox pl10 w175" ng-model="status" ng-options="status.name for status in statusList"></select></div>
        <div class="topSearch mr30"><span class="w100 tr dib">活动ID：</span><input type="number" class="inputBox w175" ng-model="actId" onkeypress="keyPress()"></div>
        <div class="topSearch mr30"><span class="w100 tr dib">创建人工号：</span><input type="number" class="inputBox w175" ng-model="createdBy"></div>
        <div class="topSearch mr30"><span class="w100 tr dib">活动开始日期：</span><input type="text" id="startDate" class="inputBox dateIcon w175" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
            至 <input type="text" id="endDate" class="inputBox dateIcon w175" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
        </div>
    </div>
</div>
<div class="f-cb mt20 ml94">
    <button class="buttonBox" ng-click="searchClick()">查询</button>
    <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
</div>
<!--表格样式-->
<div class="tableBox mt20">
    <div class="lh26 mt30 textContent ml10">
        <h2 class="b lhi col-757679">【说明】</h2>
        <p class="mt5 ml5">1）只要是符合活动配置的大区、办事处、渠道、门店属性的门店均可以在【营销通APP--活动上报】看到活动进行上报；</p>
        <p class="mt5 ml5" ng-show="isMore">2）【物料活动】不参与【路演考核】，【路演活动】会根据报备日期进入到【路演考核】；</p>
        <p class="mt5 ml5" ng-show="isMore">3）权限控制：</p>
        <p class="mt5 ml25" ng-show="isMore">登陆人为办事处人员，可看到所属办事处、所属大区及全国设置的活动；</p>
        <p class="mt5 ml25" ng-show="isMore">登陆人为大区人员，可看到其下管的办事处、所属大区及全国设置的活动；</p>
        <p class="mt5 ml25" ng-show="isMore">登陆人为总部人员，可看到所有设置的活动；</p>
        <div class="topSearchBtn f12 ml5 dib" style="text-align: justify; margin-top: 0;" ng-click="isMore=!isMore;">
            <span ng-bind="isMore?'收起':'展开'"></span>
            <img ng-src="[[isMore?'http://img2.mama100.com/share_mkt_pc/images/up.png':'http://img2.mama100.com/share_mkt_pc/images/donw.png']]" class="pl10">
        </div>
    </div>
    <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
    <div>
        <table class="table" style="min-width:2400px;">
            <colgroup>
                <col width="50">
                <col width="60">
                <col width="60">
                <col width="60">
                <col width="70">
                <col width="60">
                <col width="80">
                <col width="60">
                <col width="60">
                <col width="80">
                <col width="80">
                <col width="70">
                <col width="70">
                <col width="50">
                <col width="100">
                <col width="110">
                <col width="60">
            </colgroup>
            <thead>
            <tr>
                <th>活动ID</th>
                <th>活动大区</th>
                <th>活动办事处</th>
                <th>活动名称</th>
                <th>考核类型</th>
                <th>活动类型</th>
                <th>活动品牌</th>
                <th>官微二维码申请</th>
                <th>签到小程序码</th>
                <th>活动渠道</th>
                <th>活动门店类型</th>
                <th>活动开始日期</th>
                <th>活动结束日期</th>
                <th>状态</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.id]]" ng-bind="tableItem.id"></span></td>
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span class="textOver" title="[[tableItem.actName]]" ng-bind="tableItem.actName" ></span></td>
                <td><span class="textOver" title="[[tableItem.khTypeName]]" ng-bind="tableItem.khTypeName" ></span></td>
                <td><span class="textOver" title="[[tableItem.configActTypeName]]" ng-bind="tableItem.configActTypeName" ></span></td>
                <td><span class="textOver" title="[[tableItem.brandName]]" ng-bind="tableItem.brandName" ></span></td>
                <td><span class="textOver" title="[[tableItem.qrCodeName]]" ng-bind="tableItem.qrCodeName" ></span></td>
                <td><span class="textOver" title="[[tableItem.signMiniCode]]" ng-bind="tableItem.signMiniCode" ></span></td>
                <td><span class="textOver" title="[[tableItem.channelName]]" ng-bind="tableItem.channelName"></span></td>
                <td><span class="textOver" title="[[tableItem.configTerminalTypeName]]" ng-bind="tableItem.configTerminalTypeName" ></span></td>
                <td><span class="textOver" title="[[tableItem.startDate]]" ng-bind="tableItem.startDate" ></span></td>
                <td><span class="textOver" title="[[tableItem.endDate]]" ng-bind="tableItem.endDate" ></span></td>
                <td><span class="textOver" title="[[tableItem.status]]" ng-bind="tableItem.status" ></span></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy!=null && tableItem.createdName!=null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span></td>
                <td><span class="textOver" title="[[tableItem.createdTime]]" ng-bind="tableItem.createdTime" ></span></td>
                <td>
                    <a href="javascript:void(0);" ng-show="(startUsing == '1' || tableItem.operateShow) && tableItem.status == '停用'" ng-click="changeStatus($event,tableItem,1)">启用</a>
                    <a href="javascript:void(0);" ng-show="(stopUsing == '1' || tableItem.operateShow) && tableItem.status == '启用'" ng-click="changeStatus($event,tableItem,2)">停用</a>
                    <a href="javascript:void(0);" ng-show="(edit == '1' || tableItem.operateShow) && tableItem.status == '未开启'" ng-click="showEdit(tableItem)">编辑</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</div>
<!--修改门店 弹出框-->
<div id="changeId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:400px; top: 20%;">
    <div class="easyDialog_content easyDialog_contentS">
        <h4 class="easyDialog_title easyDialog_titleS">
            <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
            修改门店
        </h4>
        <div class="easyDialog_text f12" style="height:100px; overflow-y: auto; text-align:left;">
            <div class="f-cb mt20" style="margin-left: 30px;">
                <button class="buttonBox ml10" style="width:108px;" change-upload ng-class="{'bg-bbbbbb':changeDisabled}"></button>
                <button class="secButtonBox ml20" ng-click="exportTerminalExcel()">导出门店</button>
                <a class="col-207fe9 ml5 dib" href="excel/terminalList.xlsx">下载模板</a>
            </div>
        </div>
    </div>
</div>

<!--查看门店 弹出框-->
<div id="checkId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:400px; top: 20%;">
    <div class="easyDialog_content easyDialog_contentS">
        <h4 class="easyDialog_title easyDialog_titleS">
            <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
            查看门店
        </h4>
        <div class="easyDialog_text f12" style="height:100px; overflow-y: auto; text-align:left;">
            <div class="f-cb mt20 tc">
                <button class="buttonBox" ng-click="exportTerminalExcel()">导出门店</button>
            </div>
        </div>
    </div>
</div>

<!--编辑 弹出框-->
<div id="editId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:800px; top: 20%;">
    <div class="easyDialog_content easyDialog_contentS">
        <h4 class="easyDialog_title easyDialog_titleS">
            <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
            编辑
        </h4>
        <div class="easyDialog_text f12" style="height:400px; overflow-y: auto; text-align:left;">
            <div class="content">
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib fl"><i class="col-ff0000">*</i>考核类型：</span>
                        <div class="fl col-333333 mr20" ng-repeat="item in assessList"><div class="selectBox"><input type="radio" name="assessRadio" id="assess[[$index]]" value="[[item.value]]" ng-model="$parent.assess" ng-click="typeFn(item.value)"/><label for="assess[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib">事业部：</span><select class="inputBox" ng-model="buIdEdit" ng-options="bu.buName for bu in buListEdit" ng-change="buChangeEdit()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabledEdit}"></select></div>
                    <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>大区：</span><select  class="inputBox pl10 w175" ng-model="areaEdit" ng-options="area.areaName for area in areasEdit" ng-change="areaChangeEdit()" ng-disabled="areaEditDisabled" ng-class="{'col-999999':areaEditDisabled}"></select></div>
                    <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>办事处：</span><select  class="inputBox pl10 w175" ng-model="departmentEdit" ng-options="department.officeName for department in departmentsEdit" ng-disabled="departmentEditDisabled" ng-class="{'col-999999':departmentEditDisabled}"></select></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 mr5 tr fl dib"><i class="col-ff0000">*</i>品牌：</span>  <!-- <select  class="inputBox pl10 w175" ng-model="brandEdit" ng-options="brand.name for brand in brandListEdit" ng-change="getType(0)"></select> -->
                        <div class="fl col-333333 mr15 mr4" ng-repeat="item in brandListEdit" ng-hide="$parent.assess==1&&item.value=='0'"><div class="checkboxBox"><input type="checkbox" ng-model="item.brand" value="[[item.value]]" name="radio" id="'brandId'+[[$index]]" ng-click="brandFun(item)"/><label for="'brandId'+[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb" ng-show="showSKU">
                    <div class="topSearch"><span class="w70 tr dib"><i class="col-ff0000">*</i>参与SKU：</span></div>
                </div>
                <div class="f-cb" ng-show="showSKU">
                    <!--选择名单-->
                    <div class="Inbrand">
                        <div class="w365 fl">
                            <div class="bg-eceef2 col-999999 lh30 pt5 pb5 pl20 b-dde3ed bb-none f12 por">
                                <div class="checkboxBox">
                                    <input type="checkbox" id="productAll" ng-checked="productAll" ng-click="toCheckProductAll()"/>
                                    <label for="productAll" style="top: 4px;"></label>
                                </div><span>全选</span>
                                <span class="mr10 ml30">请选择</span>
                                <input class="inputBox" type="text" ng-model="productName" ng-blur="searchProduct(productName)"/><img src="images/search.png" style="position: absolute; left:285px; top:11px;" ng-click="searchProduct(productName)"/> 
                            </div>
                            <div class="b-dde3ed bt-none col-757679 pt10 pl20 hei250" style="overflow-y: scroll; ">
                                <div class="col-333333 col-333333 f12" ng-repeat="item in productList">
                                    <div class="checkboxBox">
                                        <input type="checkbox" id="[[item.code]][[$index]]" ng-model="item.sel" ng-change="nameListSel($index)"/>
                                        <label for="[[item.code]][[$index]]" style="top: 4px;"></label>
                                    </div><span ng-bind="item.name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--已选名单-->
                    <div class="fl" ng-show="selectedList!=''">
                        <div class="w365 fl">
                            <div class="bg-eceef2 col-999999 lh30 pt5 pb5 pl20 b-dde3ed bb-none f-cb"><p class="fl f12">已选中</p><button class="fr buttonTrue mr20 f12" style="border-radius: 3px;" ng-click="allClear()">全部清除</button></div>
                            <div class="b-dde3ed bt-none col-333333 pt10 pl20 hei250" style="overflow-y: scroll;">
                                <div class="col-ff0000 mt5 f12">（*以下为【或】的关系）</div>
                                <ul ng-repeat="item in selectedList" class="f12">
                                    <li class="pb5 lh18 f-cb">
                                        <span ng-bind="item.name" class="fl"></span><img src="images/del.png" alt="" class="fr mr20" style="vertical-align: sub;" ng-click="delFun(item)"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-cb" ng-show="assess == '1' && showQRCode">
                    <div class="topSearch mr50">
                        <span class="w70 mr5 fl tr dib" style="line-height:normal;">是否申请官微二维码：</span>
                        <div class="fl col-333333 mr15 mr4" ng-repeat="item in qrCodeList" ng-show="showQRCode&&item.show"><div class="checkboxBox"><input type="checkbox" ng-model="item.sel" value="[[item.value]]" id="qrCode[[$index]]" ng-click="chooseQRCodeFun(item)"/><label for="qrCode[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50">
                        <span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>渠道：</span>
                        <div class="fl col-333333 mr15 mr4" ng-repeat="item in channelListEdit"><div class="checkboxBox"><input type="checkbox" ng-model="item.channel" value="[[item.channelCode]]" name="radio" id="'channelId'+[[$index]]" ng-change="getType(1)"/><label for="'channelId'+[[$index]]"></label></div>[[item.channelName]]</div>
                    </div>
                </div>
                <div class="f-cb" ng-show="showTerminal">
                    <div class="topSearch mr50">
                        <span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>门店类型：</span>
                        <div class="fl col-333333 mr15 mr4" ng-repeat="item in terminalList"><div class="checkboxBox"><input type="checkbox" ng-model="item.terminal" value="[[item.value]]" name="radio" id="'terminalTypeId'+[[$index]]" ng-change="getType(2)"/><label for="'terminalTypeId'+[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>活动类型：</span><select class="inputBox pl10 w175" ng-model="typeEdit" ng-options="type.name for type in typeListEdit"></select></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>活动名称：</span><input type="text" class="inputBox w175" ng-model="actNameEdit" maxlength="15"/><i class="col-ff0000 ml5">最多15个字符</i></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>活动日期：</span><input type="text" id="startDateEdit" class="inputBox dateIcon w175" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'%y-%M-%d %H:%m:%s',maxDate:'#F{$dp.$D(\'endDateEdit\')}' })"/>
                        至 <input type="text" id="endDateEdit" class="inputBox dateIcon w175" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDateEdit\')}' })"/>
                    </div>
                </div>
                <div class="f-cb" ng-show="assess == '1'">
                    <div class="topSearch mr50">
                        <span class="w70 tr dib fl mr5" style="line-height:normal;"><i class="col-ff0000">*</i>签到小程序码：</span>
                        <div class="fl col-333333 mr20" ng-repeat="item in spTypeList"><div class="selectBox"><input type="radio" name="spTypeRadio" id="spType[[$index]]" value="[[item.value]]" ng-model="$parent.spType"/><label for="spType[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb" ng-show="assess == '2' && imgTypeShow">
                    <div class="topSearch mr50">
                        <span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>图片上传：</span>
                        <div class="fl col-333333 mr20" ng-repeat="item in imgTypeList"><div class="selectBox"><input type="radio" name="imgTypeRadio" id="imgType[[$index]]" value="[[item.value]]" ng-model="$parent.imgType"/><label for="imgType[[$index]]"></label></div>[[item.name]]</div>
                    </div>
                </div>
            </div>
            <div class="f-cb mt20 ml94">
                <button class="buttonBox" ng-click="saveClick()">保存</button>
                <button class="weakButtonBox ml20" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>