<div class="content">
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 mr5 tr dib fl"><i class="col-ff0000">*</i>考核类型：</span>
            <div class="fl col-333333 mr20" ng-repeat="item in assessList"><div class="selectBox"><input type="radio" name="assessRadio" id="assess[[$index]]" value="[[item.value]]" ng-model="$parent.assess" ng-change="typeFn(item.value)"/><label for="assess[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 tr dib">事业部：</span><select class="inputBox" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" ng-disabled="buDisabled" ng-class="{'col-999999':buDisabled}"></select></div>
        <div class="topSearch mr50"><span class="w120 tr dib"><i class="col-ff0000">*</i>大区：</span><select  class="inputBox pl10 w175" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
        <div class="topSearch mr50"><span class="w120 tr dib"><i class="col-ff0000">*</i>办事处：</span><select  class="inputBox pl10 w175" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 mr5 fl tr dib"><i class="col-ff0000">*</i>品牌：</span>
            <div class="fl col-333333 mr15 mr4" ng-repeat="item in brandList" ng-hide="$parent.assess==1&&item.value=='0'"><div class="checkboxBox"><input type="checkbox" ng-model="item.brand" value="[[item.value]]" name="radio" id="'brandId'+[[$index]]" ng-click="brandFun(item)"/><label for="'brandId'+[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
    <div class="f-cb" ng-show="showSKU">
        <div class="topSearch mr50"><span class="w120 tr dib fl"><i class="col-ff0000">*</i>参与SKU：</span>
            <div style="width: 820px; margin-left: 5px; float:left;">
                <!--选择名单-->
                <div class="Inbrand">
                    <div class="w400 fl">
                        <div class="bg-eceef2 col-999999 lh30 pt5 pb5 pl20 b-dde3ed bb-none f12 por">
                            <div class="checkboxBox">
                                <input type="checkbox" id="productAll" ng-checked="productAll" ng-click="toCheckProductAll()"/>
                                <label for="productAll" style="top: 4px;"></label>
                            </div><span>全选</span>
                            <span class="mr10 ml30">请选择</span>
                            <input class="inputBox" type="text" ng-model="productName" ng-blur="searchProduct(productName)"/><img src="images/search.png" style="position: absolute; left:285px; top:11px;" ng-click="searchProduct(productName)"/> 
                        </div>
                        <div class="b-dde3ed bt-none col-757679 pt10 pl20 hei250" style="overflow-y: scroll; ">
                            <div class="col-333333 col-333333 f12" ng-repeat="item in productList">
                                <div class="checkboxBox">
                                    <input type="checkbox" id="[[item.code]][[$index]]" ng-model="item.sel" ng-change="nameListSel($index)"/>
                                    <label for="[[item.code]][[$index]]" style="top: 4px;"></label>
                                </div><span ng-bind="item.name"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--已选名单-->
                <div class="fl" ng-show="selectedList!=''">
                    <div class="w400 fl">
                        <div class="bg-eceef2 col-999999 lh30 pt5 pb5 pl20 b-dde3ed bb-none f-cb"><p class="fl f12">已选中</p><button class="fr buttonTrue mr20 f12" style="border-radius: 3px;" ng-click="allClear()">全部清除</button></div>
                        <div class="b-dde3ed bt-none col-333333 pt10 pl20 hei250" style="overflow-y: scroll;">
                            <div class="col-ff0000 mt5 f12">（*以下为【或】的关系）</div>
                            <ul ng-repeat="item in selectedList" class="f12">
                                <li class="pb5 lh18 f-cb">
                                    <span ng-bind="item.name" class="fl"></span><img src="images/del.png" alt="" class="fr mr20" style="vertical-align: sub;" ng-click="delFun(item)"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f-cb" ng-show="assess == '1' && showQRCode">
        <div class="topSearch mr50"><span class="w120 mr5 fl tr dib">是否申请官微二维码：</span>
            <div class="fl col-333333 mr15 mr4" ng-repeat="item in qrCodeList" ng-show="showQRCode&&item.show"><div class="checkboxBox"><input type="checkbox" ng-model="item.sel" value="[[item.value]]" id="qrCode[[$index]]" ng-click="chooseQRCodeFun(item)"/><label for="qrCode[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50">
            <span class="w120 tr dib fl mr5"><i class="col-ff0000">*</i>渠道：</span>
            <div class="fl col-333333 mr15 mr4" ng-repeat="item in channelList"><div class="checkboxBox"><input type="checkbox" ng-model="item.channel" value="[[item.channelCode]]" name="radio" id="'channelId'+[[$index]]" ng-change="getType(1)"/><label for="'channelId'+[[$index]]"></label></div>[[item.channelName]]</div>
        </div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50">
            <span class="w120 tr dib fl mr5"><i class="col-ff0000">*</i>门店类型：</span>
            <div class="fl col-333333 mr15 mr4" ng-repeat="item in terminalList"><div class="checkboxBox"><input type="checkbox" ng-model="item.terminal" value="[[item.value]]" name="radio" id="'terminalTypeId'+[[$index]]" ng-change="getType(2)"/><label for="'terminalTypeId'+[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 tr dib"><i class="col-ff0000">*</i>[[assess==1?'活动类型：':'陈列类型：']]</span><select class="inputBox pl10 w175" ng-model="type" ng-options="type.name for type in typeList"></select></div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 tr dib"><i class="col-ff0000">*</i>[[assess==1?'活动名称：':'陈列名称：']]</span><input type="text" class="inputBox w175" ng-model="actName" maxlength="15"/><i class="col-ff0000 ml5">最多15个字符</i></div>
    </div>
    <div class="f-cb">
        <div class="topSearch mr50"><span class="w120 tr dib"><i class="col-ff0000">*</i>活动日期：</span><input type="text" id="startDate" class="inputBox dateIcon w175" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'%y-%M-%d %H:%m:%s',maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
            至 <input type="text" id="endDate" class="inputBox dateIcon w175" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
        </div>
    </div>
    <div class="f-cb" ng-show="assess == '1'">
        <div class="topSearch mr50">
            <span class="w120 tr dib fl mr5"><i class="col-ff0000">*</i>签到小程序码：</span>
            <div class="fl col-333333 mr20" ng-repeat="item in spTypeList"><div class="selectBox"><input type="radio" name="spTypeRadio" id="spType[[$index]]" value="[[item.value]]" ng-model="$parent.spType"/><label for="spType[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
    <div class="f-cb" ng-show="assess == '2' && imgTypeShow">
        <div class="topSearch mr50">
            <span class="w120 tr dib fl mr5"><i class="col-ff0000">*</i>相册图片上传：</span>
            <div class="fl col-333333 mr20" ng-repeat="item in imgTypeList"><div class="selectBox"><input type="radio" name="imgTypeRadio" id="imgType[[$index]]" value="[[item.value]]" ng-model="$parent.imgType"/><label for="imgType[[$index]]"></label></div>[[item.name]]</div>
        </div>
    </div>
</div>
<div class="f-cb mt20" style="margin-left:140px;">
    <button class="buttonBox" ng-click="saveClick()">保存</button>
    <button class="weakButtonBox ml20" ng-click="cancel()">取消</button>
</div>