<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>营销通管理平台</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="../../js/common/easydialog-v2.0/easydialog.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/error_controller.js"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
    <div class="wrapper">
        <button class="buttonBox mt15" ng-click="back()">返回上一页</button>
        <div class="mt15">导入失败原因：</div>
        <div ng-bind="data"></div>
    </div>
</body>
</html>