@charset "utf-8";
/* by WuNan */
/*
分页样式
*/
.pagination{padding:20px 0 50px 0;box-sizing: border-box;display: table;margin: 0 auto;}
.pagination a{font-size: 14px;opacity:1;}
.pagination ul{margin:0;padding:0;text-align:left;}
.pagination li{text-align:center;height:30px;line-height:20px;display:inline;padding-bottom:1px; font-size:12px;float:left;}
.pagination a,.pagination a:link,.pagination a:visited{text-align:center;width:auto;height:30px;line-height:30px;padding:0 12px;box-sizing:border-box;border:1px solid #c4c4c4;border-right: none;text-decoration:none; background:#fff;color:#333; float:left; display:block;}
.pagination ul li:nth-last-of-type(4) a,.pagination ul li:nth-last-of-type(4) a:link,.pagination ul li:nth-last-of-type(4) a:visited{border-right: 1px solid #c4c4c4;}
.pagination a.borderRightLN,.pagination a:link.borderRightLN,.pagination a:visited.borderRightLN{border-right: 1px solid #c4c4c4;border-left:none;}
.pagination a.borderRight,.pagination a:link.borderRight,.pagination a:visited.borderRight{border-right: 1px solid #c4c4c4;}
.pagination a:hover{background-color: #3d568e;color:#FFF;}
.pagination .hoverPage:hover{background-color: #ffffff;color:#333;}
.pagination .currentpage{border:1px solid #3d568e;background-color: #3d568e;color:#FFF;cursor: not-allowed;}
.pagination .disablepage{border:1px solid #c4c4c4;opacity: 0.7;}
.pagination li.prepage{font-weight:bold;}
.pagination li.nextpage{font-weight:bold;}
.pagination li.paginationText{line-height: 30px;font-size: 14px; margin-left: 5px;}
.paginationMr10{margin-right: 10px;}
.paginationMl10{margin-left: 10px;}
.buttonTrue{border: none; background-color: #3d568e; color: #fff; padding: 6px 12px; box-sizing: border-box;}
.buttonTrue:hover{background-color: #17377e;}
.pageInput{border: none; height: 24px; width: 50px; border: 1px solid #c4c4c4;}
.curmnot{cursor: not-allowed; color: #999}
.curm{cursor: pointer;}
.jumpBtn{cursor: not-allowed!important;}
.jumpBtnTrue{cursor: pointer!important;}


