a{cursor: pointer; text-decoration: none;}
.title{height: 40px; line-height: 40px; float: left; width: 150px; text-align: center; font-size: 16px; font-weight: bold;}
.searchInput{width: 250px; height: 30px; line-height: 30px; box-sizing: border-box; padding-left: 10px;}
.search{ width: 100px; border-radius: 5px; border: 1px solid #ccc; height: 30px; box-sizing: border-box; background: #fff;}


.w120{ width: 131px; text-align: right; margin-top: 5px; padding-right: 5px; box-sizing: border-box;}
.w200{ width: 200px;}
.w12{width: 120px;}
.w500{ width: 500px; border: 1px solid #a8cce7; border-radius: 3px; padding: 12px 28px; box-sizing: border-box;}
.contentTop{width: 1180px; height: 28px; padding-left: 20px; margin-top: 30px; line-height: 28px; letter-spacing: 1.5px; border-radius: 5px 5px 0 0; background: url(../images/report_from_05.png) no-repeat; color: #fff; }
.contentBottom{width: 1178px; height: auto; border-radius: 0 0 5px 5px; border: 1px solid #d1d2d3; background: #fff; overflow: hidden; padding-bottom: 40px;}
.contentBottom a{display: block;}
.contentBottom a:hover{text-decoration: none; color: #f97600;}
.contentBottom img{margin-top: 20px;}
.contentBottom .contentCenter{width: 118px; height: 118px; float: left; letter-spacing:1.5px; border: 1px solid #d1d2d3; border-bottom: none; border-radius: 6px; margin: 50px 0 0 98px; text-align: center; line-height: 50px; background: url(../images/report_from_01.png) no-repeat center 106px; cursor: pointer;}
.btn{width: 140px; height: 25px; border-radius: 3px; border: none; border: 1px solid #d1d2d3; box-sizing: border-box;}
.selectBtn{ border: 1px solid #a8cce7;background: #f8f8f8;width: 140px; height: 30px; border-radius: 3px; cursor: pointer;}
.btnSpan{width: 140px; height: 25px;}
.btn option{height: 25px; line-height: 25px;}
.hei{width: 175px; height: 21px; padding-left: 5px;}
/*公用蓝色按钮*/
.commenButton{width: 100px; height: 30px; line-height: 30px; color:#fff; border: 1px solid #4275ce; border-radius: 4px;
    background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -moz-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -webkit-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -o-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -ms-border-radius: 8px; margin: 0px auto 0; text-align: center; cursor:pointer;
    box-sizing: border-box;}
.commenButton:hover{
    background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -moz-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -webkit-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -o-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -ms-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
}

/*表格样式*/
/*.table>tbody>tr>td{font-weight: bold;}*/
.tableHei{max-height: 350px; overflow-x: hidden;}
.tableBox h1{margin: 20px 0 20px 20px;}
.creatTime{    width: 150px; line-height: 25px; padding-left: 10px;  height: 25px; box-sizing: border-box;  border-radius: 3px; border: 1px solid #d1d2d3; background:url(../images/datePicker.gif) right center no-repeat;}

.a-upload {padding: 4px 10px; width: 80px; line-height: 20px; position: relative;cursor: pointer; color: #fff;  -ms-border-radius: 8px; margin: 0px auto 0; text-align: center; cursor:pointer; border: 1px solid #4275ce;background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -moz-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -webkit-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);
    -o-background: linear-gradient(to bottom, #5099e3 0%,#447dc5 100%);border-radius: 4px; overflow: hidden;display: inline-block; *display: inline; *zoom: 1; text-align: center;}
.a-upload  input {position: absolute; right: 0;top: 0; opacity: 0; filter: alpha(opacity=0); cursor: pointer; height: 30px; }
.a-upload:hover {  background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -moz-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -webkit-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -o-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);
    -ms-background: linear-gradient(to bottom, #447dc5 0%,#5099e3 100%);}
.file { position: relative;display: inline-block; background: #D0EEFF; border: 1px solid #99D3F5;border-radius: 4px; padding: 4px 12px; overflow: hidden; color: #fff; text-decoration: none; text-indent: 0; line-height: 20px;}
.w70{ width: 100px !important; line-height: 24px;}
.purple{color: #3399ff;}







