<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA微信会员报表</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191226"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191226"></script>
    <script type="text/javascript" src="js/controller/saWxCustomerReport_Controller.js?v=201912261"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width: 1600px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
        </div>
        <div class="f-cb">

            <div class="topSearch mr50" ><span class="w90 tr dib">BCC工号：</span><input type="text" class="inputBox" ng-model="bccCode"/></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="yygwCode"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w90 tr dib">会员ID：</span><input type="text" class="inputBox" ng-model="customerId"/></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">手机号码：</span><input type="text" class="inputBox" ng-model="customerMobile"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w90 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
            <div class="topSearch mr50" ><span class="w90 tr dib"><i class="col-ff0000">*</i>创建日期：</span><input type="text" id="startTime" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'endTime\',{M:-3});}',maxDate:'#F{$dp.$D(\'endTime\')}' })"/>
                至 <input type="text" id="endTime" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'#F{$dp.$D(\'startTime\',{M:3});}' })"/>
                <span style="color:#FF0000;text-align: left">*查询范围不可超过3个月</span>
            </div>

        </div>
    </div>
<div class="f-cb mt20 ml89">
    <button class="buttonBox fl" ng-click="searchClick()">查询</button>
    <button class="secButtonBox ml20" ng-click="importFile()">导出</button>
</div>

<!--表格样式-->
<div class="tableBox mt20">
    <div class="lh26 textContent ml10">
        <h2 class="b lhi col-757679">【说明】<span ng-bind="date"></span></h2>
        <p class="mt5 ml5">微信新会员每小时定时更新1次，如无数据请稍后再试！</p>
    </div>
    <h2 class="f14 mt10 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
    <table class="table" id="alternatecolor">
        <colgroup>
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="150">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="130">
            <col width="120">
            <col width="120">
            <col width="120">
            <col width="120">

        </colgroup>
        <thead>
        <tr>
            <th>大区</th>
            <th>办事处</th>
            <th>SA编码</th>
            <th>SA名称</th>
            <th>会员ID</th>
            <th>宝宝生日/预产期</th>
            <th>手机号码</th>
            <th>会员姓名</th>
            <th>BCC</th>
            <th>育婴顾问</th>
            <th>育婴顾问归属</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in infoList">
            <td><span class="textOver" title="[[item.areaName]]" ng-bind="item.areaName"></span></td>
            <td><span class="textOver" title="[[item.officeName]]" ng-bind="item.officeName"></span></td>
            <td><span class="textOver" title="[[item.saCode]]" ng-bind="item.saCode"></span></td>
            <td><span class="textOver" title="[[item.saName]]" ng-bind="item.saName"></span></td>
            <td><span class="textOver" title="[[item.customerId]]" ng-bind="item.customerId"></span></td>
            <td><span class="textOver" title="[[item.birthDate]]" ng-bind="item.birthDate"></span></td>
            <td><span class="textOver" title="[[item.customerMobile]]" ng-bind="item.customerMobile"></span></td>
            <td><span class="textOver" title="[[item.customerName]]" ng-bind="item.customerName"></span></td>

            <td><span  title="[[item.bccCode]]" ng-bind="item.bccCode"></span>
                <span ng-show="item.bccCode!=null && item.bccName!=null">/</span>
                <span title="[[item.bccName]]" ng-bind="item.bccName"></span></td>
            <td><span  title="[[item.yygwCode]]" ng-bind="item.yygwCode"></span>
                <span ng-show="item.yygwCode!=null && item.yygwName!=null">/</span>
                <span title="[[item.yygwName]]" ng-bind="item.yygwName"></span></td>
            <td><span class="textOver" title="[[item.yygwByCompany]]" ng-bind="item.yygwByCompany"></span></td>
            <td><span class="textOver" title="[[item.createdTime]]" ng-bind="item.createdTime"></span></td>
        </tr>

        </tbody>
    </table>
    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>