@charset "utf-8";
/* by WangDongping */
/*上传图片*/
.uploadPhotoBox{margin-top: 10px; padding: 10px 6px; box-sizing: border-box; border: 1px dashed #e0e0e0;}
.pBox{padding: 9px 28px;}
.uploadPhotoBoxHide{padding: 0; border: none;}
.imgDiv{width: 20px;position: absolute; display: block; top: -8px; right: -8px;}
.w130{width: 130px;}
.w500{width: 500px;}
.h130{height: 130px;}
.h173{height: 170px;}
.h141{height: 141px;}
.ml25{margin-left: 25px;}
.w188{width: 188px;}
.w80{width: 80px!important;}
.w365{width: 365px;}
.w400{width: 400px;}
.b-dde3ed {border: 1px solid #dde3ed; }
.bb-none {border-bottom: none; }
.bg-eceef2 {background: #eceef2; }
.hei250 {height: 250px; }
.Inbrand {width: 320px; height: auto;}
.search_btn { background: url(../images/search.png) no-repeat right 5px center; padding-right: 30px; }
.search_btn:focus { background: url(../images/search_href.png) no-repeat right 5px center; }

.isTableButBank{color: #999999!important;text-decoration: none;cursor: not-allowed!important;}

/*点击图片放大*/
.bigpic-layer a:hover,.bigpic-layer a:link,.bigpic-layer a:active,.bigpic-layer a:visited{text-decoration: none;color:#fff;}
.bigpic-layer{background: #000;z-index: 11;position: fixed;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height:100%;}
.bigpic-layer-container{width: 80%;height: 100%;margin:0 auto;display: flex;flex-direction: column;overflow:auto;}
.bigpic-layer-container::-webkit-scrollbar{width: 0;height:0;}
.bigpic-layer-container img{margin: auto;cursor: zoom-in;}
.bigpic-close,.leftaw,.rightaw{width: 50px;text-align:center;background: rgba(255, 255, 255, 0.2);color:#fff;position: absolute;}
.bigpic-close{height: 50px;line-height:50px;font-size:40px;border-radius: 50%;top:20px;right:20px;}
.leftaw{height:30px;line-height:30px;font-size:30px;top:50%;left:50px;}
.rightaw{height:30px;line-height:30px;font-size:30px;top:50%;right:50px;}