<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA分流报表</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191230"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191230"></script>
    <script type="text/javascript" src="js/controller/saSplitFlowReport_Controller.js?v=20191230"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width: 1600px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w100 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="nursingConsultant"/></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">1店所属渠道：</span><select  class="inputBox pl10" ng-model="terminalChannel" ng-options="terminalChannel.channelName for terminalChannel in terminalChannelList"></select></div>
        </div>
        <div class="f-cb">

            <div class="topSearch mr50" ><span class="w100 tr dib">门店编码：</span><input type="text" class="inputBox" ng-model="terminalCode"/></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">会员ID：</span><input type="text" class="inputBox" ng-model="customerId"/></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">会员手机：</span><input type="text" class="inputBox" ng-model="mobilePhone"/></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">连锁店所属渠道：</span><select  class="inputBox pl10" ng-model="chainChannel" ng-options="chainChannel.channelName for chainChannel in chainChannelList"></select></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w100 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
            <div class="topSearch mr50" ><span class="w100 tr dib">发券日期：</span><input type="text" id="startTime" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'',maxDate:'#F{$dp.$D(\'endTime\')}' })"/>
                至 <input type="text" id="endTime" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'' })"/>
            </div>
        </div>
    </div>
<div class="f-cb mt20 ml120">
    <button class="buttonBox fl" ng-click="searchClick()">查询</button>
    <button class="secButtonBox ml20" ng-click="importFile()">导出</button>
</div>

    <div class="lh26 mt30 textContent ml10">
        <h2 class="b lhi col-757679">【说明】</h2>
        <p class="mt5 ml5">1. 不呈现冻结状态的会员数据；</p>
        <p class="ml5">2. 新客等指标根据发券日期所在的考核月的指标来输出；</p>
    </div>
<!--表格样式-->
<div class="tableBox mt10">

    <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
    <table class="table" id="alternatecolor">
        <colgroup>
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="60">
            <col width="60">
            <col width="60">
            <col width="80">
            <col width="120">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
        </colgroup>
        <thead>
        <tr>
            <th>大区</th>
            <th>办事处</th>
            <th>发券时间</th>
            <th>SA编码</th>
            <th>1店</th>
			<th>1店所属体系</th>
			<th>1店所属渠道</th>
            <th>关联连锁门店</th>
			<th>连锁店所属体系</th>
			<th>连锁店所属渠道</th>
            <th>会员ID</th>
            <th>手机号码</th>
            <th>育婴顾问工号</th>
            <th>是否到店</th>
            <th>是否匹配</th>
            <th>实际到店</th>
            <th>到店时间</th>
            <th>领取礼品门店</th>
            <th>会员进店</th>
            <th>1店-妈妈奶粉新客</th>
            <th>1店-婴儿奶粉新客</th>
            <th>1店-Dodie新客</th>
            <th>1店-益生菌新客</th>
            <th>连锁-妈妈奶粉新客</th>
            <th>连锁-婴儿奶粉新客</th>
            <th>连锁-Dodie新客</th>
            <th>连锁-益生菌新客</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in infoList">
            <td><span class="textOver" title="[[item.areaName]]" ng-bind="item.areaName"></span></td>
            <td><span class="textOver" title="[[item.officeName]]" ng-bind="item.officeName"></span></td>
            <td><span class="textOver" title="[[item.createTime]]" ng-bind="item.createTime"></span></td>
            <td><span class="textOver" title="[[item.saCode]]" ng-bind="item.saCode"></span></td>
            <td><span class="textOver" title="[[item.terminalCode]]" ng-bind="item.terminalCode"></span></td>
            <td><span class="textOver" title="[[item.terminalTopChainName]]" ng-bind="item.terminalTopChainName"></span></td>
            <td><span class="textOver" title="[[item.terminalChannelName]]" ng-bind="item.terminalChannelName"></span></td>
            <td><span class="textOver" title="[[item.chainCode]]" ng-bind="item.chainCode"></span></td>
            <td><span class="textOver" title="[[item.chainTopChainName]]" ng-bind="item.chainTopChainName"></span></td>
            <td><span class="textOver" title="[[item.chainChannelName]]" ng-bind="item.chainChannelName"></span></td>
            <td><span class="textOver" title="[[item.customerId]]" ng-bind="item.customerId"></span></td>
            <td><span class="textOver" title="[[item.mobilePhone]]" ng-bind="item.mobilePhone"></span></td>
            <td><span class="textOver" title="[[item.nursingConsultant]]" ng-bind="item.nursingConsultant"></span></td>
            <td><span class="textOver" title="[[item.status]]" ng-bind="item.status"></span></td>
            <td><span class="textOver" title="[[item.isMatch]]" ng-bind="item.isMatch"></span></td>
            <td><span class="textOver" title="[[item.useTerminalCode]]" ng-bind="item.useTerminalCode"></span></td>
            <td><span class="textOver" title="[[item.useTime]]" ng-bind="item.useTime"></span></td>
            <td><span class="textOver" title="[[item.presentTerminal]]" ng-bind="item.presentTerminal"></span></td>
            <td><span class="textOver" title="[[item.useTerminal]]" ng-bind="item.useTerminal"></span></td>
            <td><span class="textOver" title="[[item.motherMilkClient]]" ng-bind="item.motherMilkClient"></span></td>
            <td><span class="textOver" title="[[item.babyMilkClient]]" ng-bind="item.babyMilkClient"></span></td>
            <td><span class="textOver" title="[[item.dodieClient]]" ng-bind="item.dodieClient"></span></td>
            <td><span class="textOver" title="[[item.probioticsClient]]" ng-bind="item.probioticsClient"></span></td>
            <td><span class="textOver" title="[[item.chainMothermilkclient]]" ng-bind="item.chainMothermilkclient"></span></td>
            <td><span class="textOver" title="[[item.chainBabymilkclient]]" ng-bind="item.chainBabymilkclient"></span></td>
            <td><span class="textOver" title="[[item.chainDodieclient]]" ng-bind="item.chainDodieclient"></span></td>
            <td><span class="textOver" title="[[item.chainProbioticsclient]]" ng-bind="item.chainProbioticsclient"></span></td>
        </tr>

        </tbody>
    </table>
    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>