body{background: #ebebf2;}
table {margin:0 auto;}
table td {margin:4px 10px;text-align: center;  font-size:16px;  padding:1px 8px;color:#444444; position: relative; line-height: 35px; border-radius: 3px;}
table tbody tr:first-child{ border-bottom:1px solid #dfdfdf; color: #8d8e8e; font-size: 16px;}
table tr{ padding: 5px 0; height: 35px; color: #444444;}
.calendar{margin:50px auto;padding-top:10px; border:1px solid #D70705;  border-radius:6px;width:280px;height:370px;  }
/*.today{background-color:#C1D9FF;color:red;}*/
.recentEvent{height:140px; border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;}
.recentEvent-Date{float:left; padding:10px 10px;}
.recentEvent-Day{ font-size:66px;color:#333;}
.recentEvent-Month{font-size: 22px;color:#bfbfbf; margin-left:10px;}
.recentEvent-content{width:60%;float:left;}
.recentEvent-content p{margin-top:50px;color:#656565;}
.recentEvent-content a:hover{text-decoration: underline;}
.calendar-calendar{ background: #fff; padding: 0 25px;}
.calendar-title{ width: 150px; margin: 0 auto; text-align: center; overflow: hidden; height: 40px; line-height: 40px;}
.calendar-title-date{    display: inline-block;font-size: 16px; width: 100px; text-align: center; color: #41a7f2; float: left;line-height: 40px}
.nextMonth{background: url(../images/right.png) center center no-repeat; width: 25px; height: 40px; float: left; background-size: 40%;}
.lastMonth{display:inline-block; background: url(../images/left.png) center center no-repeat; width: 25px; height: 40px; float: left;background-size: 40%; }
.title{ border-bottom: 1px solid #e0e0e2; padding: 5px 0 5px  10%; color: #5b5b5b;}
.headImg{ width: 40px; height: 40px; border-radius: 50%; border: 1px solid #bcbcbd;}
.calendarBox{ width: 95%;}

.alertbox{ background: url(../images/alertBox.png) center center no-repeat; width: 80px; height: 80px; background-size: 100%; position: absolute; left: -20px; top: 30px; z-index: 10000;}
.work{display: inline-block; height: 30px; line-height: 28px; margin-top: 13px;color: #36c6ff;}
.rest{    color: #43e507; line-height: 37px; display: inline-block;}
.rest .checkboxOne label{ top: 9px;}

a{text-decoration: none; color:#666; }
td a{display:block;width:100%;}
td a:hover{background-color: #D70705}

/*通用盒子模型*/
.commonBox{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.commonBoxFixed{width: auto; display: block; }
.commonBoxAuto{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.flexBox{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.flexBoxFixed{width: auto; display: block; }
.flexBoxAuto{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dbcenter{text-align: center;-webkit-box-align: center; -webkit-box-pack: center;  display: -webkit-box;}/*水平居中垂直居中*/
.dbcenter01{-webkit-box-align: center;   display: -webkit-box;}/*垂直居中(-webkit-box-pack: center;水平居中)*/

.contentText input[type=checkbox] {
    visibility: hidden;
}
.checkboxOne{width: 15px; float: right;  margin-left: 5px;position: relative;}
.checkboxOne label{cursor: pointer; position: absolute; width: 15px; height: 15px; top: 4px; left: 0; background: #7a7a7a; border:1px solid #ddd; border-radius: 4px;}
.checkboxOne label:after{opacity: 0; content: '';  position: absolute; width: 15px;left: 0; top: 0; height: 15px; background: url(../images/selected.png) no-repeat; background-size: 100%;}
/*选中状态*/
.checkboxOne input[type=checkbox]:checked + label:after{opacity: 1;}
.checkboxOne input{ height: 25px;}
.rest .checkboxOne input{ height: 35px;}

.edit{ width: 50%; border-radius: 5px; background: #3399ff; color: #fff; padding: 10px;}
.table1{background: #fff;}
.table1>thead>tr{ background: #cedff2; color: #113c7a;}
.table1 tr td{width: 25%; text-align: center; color: #333333; font-size: 1.2rem; height: 40px; padding: 0 10px; border-radius: 0;line-height: inherit;}
.table1>tbody> tr{ border-top: 1px solid #d8d8d8;}
.table1>tbody>tr>td{ border-right: 1px solid #d8d8d8;}
.table1>tbody>tr>td:last-child{ border-right: none;}

.non-selected{ border-radius: 5px; border: 1px solid #3399ff;text-align: center;padding: 8px; width: 80%;}
.normalInt{ width: 50px; border: none;}

.wrap{ padding: 15px 10px;}
.selectBox{ border: 1px solid #c9c9c9; background-color: #fff; color: #494948; border-radius: 3px;width:100%;box-sizing: border-box; padding:0 10px; height: 30px;}
.selectBox label{ color: #777777; }
.select{ border: none;appearance: none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none; text-align: center; padding: 0 10px; background: url(../images/down.png) right center no-repeat;background-size: 10px 7px;box-sizing: border-box;}
.search button{ width: 50%; background: #3399ff; color: #fff; padding: 10px; border-radius: 3px;}

input[disabled=disabled]{background: #ebebeb; border: 1px solid #bfbfbf;}
.view{color: #5cadff; border: 1px solid #5cadff;border-radius: 3px;padding: 5px 10px;width: 35px;display: inline-block;}
caption, th {
    text-align: center;
}

.calendar_box{ width: 91%;margin: auto;}
button[disabled=disabled]{background:#ebebeb; border: 1px solid #bfbfbf;}