body{ background-color: #ebebf2;}
.wrap{ padding: 15px 10px;}
.selectBox{ border: 1px solid #c9c9c9; background-color: #fff; color: #494948; border-radius: 3px;width:100%;box-sizing: border-box; padding:0 10px; height: 30px;}
.selectBox label{ color: #777777; }
.select{ border: none;appearance: none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none; text-align: center; padding: 0 10px; background: url(../images/down.png) right center no-repeat;background-size: 10px 7px;box-sizing: border-box;}
.table{background: #fff;}
.table>thead>tr{ background: #cedff2; color: #113c7a;}
.table tr td{width: 25%; text-align: center; color: #333333; font-size: 1.2rem; height: 40px; padding: 0 10px;}
.table>tbody> tr{ border-top: 1px solid #d8d8d8;}
.table>tbody>tr>td{ border-right: 1px solid #d8d8d8;}
.table>tbody>tr>td:last-child{ border-right: none;}
.table2{background: #fff; width: 100%;}
.table2>thead>tr>td{ color: #113c7a;border-right: 1px solid #d8d8d8;}
.table2>thead>tr>td:last-child{ border-right:none;}
.table2 tr td{width: 25%; text-align: center; color: #333333; font-size: 1.2rem; height: 40px; padding: 0 10px;}
.table2>tbody> tr{ border-top: 1px solid #d8d8d8;}
.table2>tbody>tr>td{ border-right: 1px solid #d8d8d8;}
.table2>tbody>tr>td:last-child{ border-right: none;}
.table3{background: #fff; width: 100%;}
.table3>thead>tr>td{ color: #113c7a;border-right: 1px solid #d8d8d8;}
.table3>thead>tr>td:last-child{ border-right:none;}
.table3 tr td{width: 25%; text-align: center; color: #333333; font-size: 1.2rem; height: 40px; padding: 0 10px;}
.table3>tbody> tr{ border-top: 1px solid #d8d8d8;}
.table3>tbody>tr>td:first-child{ border-right: 1px solid #d8d8d8; color: #113c7a;}
.table3>tbody>tr>td:last-child{ border-right: none;}
.view{ color: #5cadff; border: 1px solid #5cadff; border-radius: 3px; padding: 5px 10px;}
.search button{ width: 50%; background: #3399ff; color: #fff; padding: 10px; border-radius: 3px;}
.title{ padding: 10px 25px; background: url(../images/circle.png) 15px center no-repeat #58a9fc; color: #fff; background-size: 4px 4px;}

/*通用盒子模型*/
.commonBox{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.commonBoxFixed{width: auto; display: block; }
.commonBoxAuto{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.flexBox{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;}
.flexBoxFixed{width: auto; display: block; }
.flexBoxAuto{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dbcenter{text-align: center;-webkit-box-align: center; -webkit-box-pack: center;  display: -webkit-box;}/*水平居中垂直居中*/
.dbcenter01{-webkit-box-align: center;   display: -webkit-box;}/*垂直居中(-webkit-box-pack: center;水平居中)*/
