<!DOCTYPE html>
<html ng-app="ngApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="合生元">
    <meta name="description" content="合生元">
    <meta name="author" content="Huangminquan">
    <title>销量达成</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/saleReachStyle.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/biostime/biostime.common1.js"></script>
    <script type="text/javascript" src="js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/salesReachedSaleDetails_controller.js"></script>
</head>
<body ng-controller="salesReachedSaleDetails_controller">
<section class="wrap">
    <div class="f-oh commonBox">
        <div class="commonBoxAuto f-mr10">
            <input class="selectBox dbcenter01 commonBox f-tc" value="[[account]]/[[name]]" style="background: #ebebf2;" disabled="disabled">
        </div>
        <div class="commonBoxAuto">
            <div class="selectBox commonBox dbcenter01">
                <label class="commonBoxFixed ">考核月： </label>
                <select class="select commonBoxFixed" style="width: 65%;" ng-model="nowDate" ng-options="month for month in detailDate" ng-change="changeType(nowDate)"></select>
            </div>
        </div>
    </div>
    <div class="f-oh commonBox"><div class="commonBoxAuto f-mr10"></div><div class="commonBoxAuto"><div class="red f-mt5 f-tc">查询当月数据截止到昨天</div></div></div>
    <div class="title f-mt15">实时奖金</div>
    <table class="table2">
        <thead>
            <tr>
                <td>微信会员奖金</td>
                <td>新客奖金</td>
                <td>有效新客奖金</td>
                <td>星级工资</td>
                <td class="red">总计</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-bind="infoList.wxCustomerPrize"></td>
                <td ng-bind="infoList.newCustomerPrize"></td>
                <td ng-bind="infoList.yxNewCustomerPrize"></td>
                <td ng-bind="infoList.rankSalary"></td>
                <td class="red" ng-bind="infoList.countPrize"></td>
            </tr>
        </tbody>
    </table>

    <div class="title f-mt15">会员数据</div>
    <table class="table2">
        <thead>
            <tr>
                <td>微信会员</td>
                <td>SA会员</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td ng-bind="infoList.wxCustomer"></td>
            <td ng-bind="infoList.saCustomer"></td>
        </tr>
        </tbody>
    </table>

    <div class="title f-mt15 f-fs12">新客数据<small class="f-fs9 f-ml5">(奖金5元一个)</small></div>
    <table class="table3">
        <tbody>
            <tr><td>宝宝奶粉一阶</td><td ng-bind="infoList.babyMilkOne"></td></tr>
            <tr><td>宝宝奶粉二阶</td><td ng-bind="infoList.babyMilkTwo"></td></tr>
            <tr><td>宝宝奶粉三阶</td><td ng-bind="infoList.babyMilkThree"></td></tr>
            <tr><td>妈妈奶粉</td><td ng-bind="infoList.mamaMilk"></td></tr>
            <tr><td>益生菌</td><td ng-bind="infoList.probiotics"></td></tr>
            <tr><td>纸尿裤</td><td ng-bind="infoList.diapers"></td></tr>
            <tr><td class="red">总计</td><td class="red" ng-bind="infoList.countNewCustomer"></td></tr>
        </tbody>
    </table>

    <div class="title f-mt15 f-fs12">SA奶粉有效新客<small class="f-fs9 f-ml5">(奖金30元一个)</small></div>
    <table class="table3">
        <tbody>
            <tr><td>新客总数</td><td ng-bind="infoList.saMilkNewCustomer"></td></tr>
        </tbody>
    </table>

    <div class="title f-mt15 f-fs12">SA销售积分</div>
    <table class="table3">
        <tbody>
        <tr><td>积分总计</td><td ng-bind="infoList.saPoint"></td></tr>
        </tbody>
    </table>
</section>
</body>
</html>