<!doctype html>
<html xmlns:ng="http://angularjs.org" class="ng-app:ngApp" id="ng-app"  ng-app="ngApp">
<head>
    <meta charset="utf-8">
    <title>SA工作排班</title>
    <link href="css/public.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/common.js?v=20191226"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191226"></script>
    <script type="text/javascript" src="js/controller/jobSchedule_Controller.js?v=201912261"></script>
</head>
<body id="viewController" ng-controller="jobSchedule_Controller" class="wrapper">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr100"><span class="w90 tr dib">事业部：</span>
                <select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr100"><span class="w90 tr dib">大区：</span>
                <select class="inputBox pl5" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange(area)" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select>
            </div>
            <div class="topSearch mr100"><span class="w90 tr dib">办事处：</span>
                <select  class="inputBox pl5" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select>
            </div>
            <div class="topSearch mr100"><span class="w90 tr dib">育婴顾问工号：</span>
                <input type="text" class="inputBox"  ng-model="salesAccountNo" ng-init="salesAccountNo =''">
            </div>
            <div class="topSearch mr100"><span class="w90 tr dib">日期：</span>
                <input type="text" id="startTime" class="inputBox dateIcon"  readonly  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#{%y-2}-%M-%d'})"/>
                至<input type="text" id="endTime" class="inputBox dateIcon"  readonly  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#{%y-2}-%M-%d'})"/>
                <span style="color:#FF0000;text-align: left">*查询范围不可超过三个月</span>
            </div>
        </div>
    </div>
    <div class="f-cb mt15 ml89">
        <button class="buttonBox" ng-click="search()">查询
        </button><button class="secButtonBox ml20" ng-click="output()">导出</button>
    </div>
    <div class="tableBox mt20">
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table mt20">
            <thead>
                <tr class="head">
                    <th>序号</th>
                    <th>日期</th>
                    <th>大区</th>
                    <th>办事处</th>
                    <th>渠道</th>
                    <th>育婴顾问工号</th>
                    <th>育婴顾问姓名</th>
                    <th>排班状态</th>
                    <th>时间</th>
                    <th>SA编码</th>
                    <th>SA名称</th>
                    <th>微信会员</th>
                    <th>到店数</th>
                    <th>SA新客</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in productListInfo">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="list.month">2016-07</td>
                    <td ng-bind="list.areaname">华南一区</td>
                    <td ng-bind="list.officename">广州办</td>
                    <td ng-bind="list.channel">SA</td>
                    <td ng-bind="list.salesAccountNo">918513</td>
                    <td ng-bind="list.salesName">刘晓连</td>
                    <td ng-bind="list.status">刘晓连</td>
                    <td ng-bind="list.timeBucketStr">上午</td>
                    <td ng-bind="list.saCode">81960</td>
                    <td ng-bind="list.saName">万江人民医院</td>
                    <td ng-bind="list.weixinCustomerCount">20</td>
                    <td ng-bind="list.arriveShopCount">15</td>
                    <td ng-bind="list.saNewCustomerCount">3</td>
                    <td ng-bind="list.remarks">无</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination f-cb" ng-show="paginationShow"><!--调用接口时，此句删除-->
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</body>
</html>