<!doctype html>
<html ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <title>SA销售积分</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191230"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191230"></script>
    <script type="text/javascript" src="js/controller/salePoints_Controller.js?v=20191230"></script>
    <!--文件请根据需求添加，本页面仅作为模板使用-->
</head>
<body id="viewController" ng-controller="salePoints_Controller">
<div class="wrapper">
    <div class="content mt40">
        <div class="f-cb ">
            <div class="ovh">
                <div class="topSearch mr50"><span class="w105 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr50"><span class="w105 tr dib">BCC工号：</span><input type="text" class="inputBox"  ng-model="bccCode" ng-init="bccCode =''"></div>
            </div>
            <div class="ovh">
                <div class="topSearch mr50">
                    <span class="w105 tr dib">育婴顾问工号：</span><input type="text" class="inputBox" ng-model="babyConsultant" ng-init="babyConsultant =''"/></div>
                <div class="topSearch mr50">
                    <span class="w105 tr dib">积分日期：</span><input type="text" id="startTime" class="inputBox dateIcon"
                           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'2015-01-01',maxDate:'#F{$dp.$D(\'endTime\')}' })"/>
                    至 <input type="text" id="endTime" class="inputBox dateIcon"
                             onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startTime\')}', maxDate:'%y-%M-%d'})"/>
                </div>
            </div>

        </div>
        <div class="f-cb mt40" style="margin-left: 66px;">
            <button class="buttonBox ml20" ng-click="search()">查询
            </button><button class="secButtonBox ml20" ng-click="output()">导出</button>
        </div>

</div>
    <!--表格样式-->

    <div class="tableBox mt50">
<!--         <p>1、根据系统权限控制查询对应的数据范围；</p> -->
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <div class="tableBoxTwo">
         <div style="padding:0 30px 0 0;width: 3000px " >
                        <table  class="table" id="alternatecolor" style=" width: 3000px">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>大区</th>
                <th>办事处</th>
                <th>SA编码</th>
                <th>门店编码</th>
                <th>BCC工号</th>
                <th>育婴顾问工号</th>
                <th>育婴顾问名称</th>
                <th>客户ID</th>
                <th>手机号码</th>
                <th>FP时间</th>
                <th>FP人员</th>
                <th>FP类型</th>
                <th>FP得悉途径</th>
                <th>品牌</th>
                <th>品规</th>
                <th>成为品规新客的首次购买产品ID</th>
                <th>成为品规新客的首次购买产品名称</th>
                <th>当次购买的产品ID</th>
                <th>当次购买的产品名称</th>
                <th>积分日期</th>
                <th>积分值</th>
                <th>次数</th>
                <th>积分途径</th>
                <th>是否订单积分</th>
                <th>是否绑定微信</th>
                <th>是否妈妈100APP用户</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="list in productListInfo">
                <td ng-bind="list.areaName">大区</td>
                <td ng-bind="list.officeName">办事处</td>
                <td ng-bind="list.saCode">SA编码</td>
                <td ng-bind="list.terminalCode">门店编码</td>
                <td ng-bind="list.proBcc">BCC工号</td>
                <td ng-bind="list.babyConsultant">育婴顾问工号</td>
                <td ng-bind="list.babyConsultantName">育婴顾问姓名</td>
                <td ng-bind="list.customerId">客户ID</td>
                <td ng-bind="list.customerMobilePhone">客户手机</td>
                <!--<td ng-bind="(list.customerMobilePhone|limitTo:3)+'****'+(list.customerMobilePhone|limitTo:-4)">客户手机</td>-->
                <td ng-bind="list.lastPointTime | date:'yyyy-MM-dd'">FP时间</td>
                <td ng-bind="list.lastPointOper">FP人员</td>
                <td ng-bind="list.lastPointType">FP类型</td>
                <td ng-bind="list.lastPointSrc">FP得悉途径</td>
                <td ng-bind="list.brand">品牌</td>
                <td ng-bind="list.productCustomizedType">品规</td>
                <td ng-bind="list.newCustomerProductId">成为品规新客的首次购买产品ID</td>
                <td ng-bind="list.newCustomerProductName">成为品规新客的首次购买产品名称</td>
                <td ng-bind="list.productId">当次购买的产品ID</td>
                <td ng-bind="list.productName">当次购买的产品名称</td>
                <td ng-bind="list.registerDate | date:'yyyy-MM-dd'">积分日期</td>
                <td ng-bind="list.productPoints">积分值</td>
                <td ng-bind="list.rank">次数</td>
                <td ng-bind="list.recSrc">积分途径</td>
                <td ng-bind="list.isO2OOrder">是否订单积分</td>
                <td ng-bind="list.isWeixinBind">是否绑定微信</td>
                <td ng-bind="list.isAppUser">是否妈妈100APP用户</td>
            </tr>

            </tbody>
        </table>
          </div>
        
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <div class="pagination f-cb">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
        </div>
    </div>

</body>
</html>