<div class="wrapper" style="min-width: 2200px;" ng-show="searchShow">
    <div class="content">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w100 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50"><span class="w100 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w100 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>   
            <div class="topSearch mr50"><span class="w100 tr dib">活动类型：</span><select  class="inputBox pl10" ng-model="actType" ng-options="item.name for item in actTypeList"></select></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w100 tr dib">活动名称：</span><input class="inputBox" type="text" ng-model="curriculumName"/></div>
            <div class="topSearch mr50"><span class="w100 tr dib">内部讲师：</span><input class="inputBox" type="text" ng-model="lecturerCode" placeholder="输入工号查询"/></div>
            <div class="topSearch mr50"><span class="w100 tr dib">兼职讲师：</span><input class="inputBox" type="text" ng-model="partTimeLecturerCode" placeholder="输入工号查询"/></div>
            <div class="topSearch mr50"><span class="w100 tr dib">SA编码：</span><input class="inputBox" type="text" ng-model="saCode"/></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w100 tr dib">活动状态：</span><select  class="inputBox pl10" ng-model="status" ng-options="item.name for item in statusList"></select></div>
            <div class="topSearch mr50"><span class="w100 tr dib">活动日期：</span><input type="text" id="startDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'{%y-2}-%M-%d %H:%m:%s',maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                至 <input type="text" id="endDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'#F{$dp.$D(\'startDate\',{y:2});}' })"/>
            </div>
        </div>
    </div>
    <div class="f-cb mt20 ml120">
        <button class="buttonBox" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
    </div>
    <!--表格样式-->
    <div class="tableBox mt20">
        <div class="lh26 mt30 textContent ml10">
            <h2 class="b lhi col-757679">【说明】<span ng-bind="date"></span></h2>
            <p class="mt5 ml5">仅能查询登录人所在大区办事处的活动信息</p>
        </div>
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="50">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="60">
                <col width="60">
                <col width="60">
                <col width="80">
                <col width="60">
                <col width="100">
                <col width="80">
                <col width="60">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
            </colgroup>
            <thead>
            <tr>
                <th>活动ID</th>
                <th>大区</th>
                <th>办事处</th>
                <th>品类</th>
                <th>FTF主题</th>
                <th>课程名称</th>
                <th>呈现平台</th>
                <th>内部讲师</th>
                <th>兼职讲师</th>
                <th>外部专家</th>
                <th>活动日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>SA编码</th>
                <th>SA名称</th>
                <th>门店编码</th>
                <th>活动地址</th>
                <th>活动类型</th>
                <th>活动状态</th>
                <th>活动海报</th>
                <th>签到小程序码</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.id]]" ng-bind="tableItem.id"></span></td>
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span class="textOver" title="[[tableItem.brandName]]" ng-bind="tableItem.brandName"></span></td>
                <td><span class="textOver" title="[[tableItem.ftfTheme]]" ng-bind="tableItem.ftfTheme">FTF主题</span></td>
                <td><span class="textOver" title="[[tableItem.curriculumName]]" ng-bind="tableItem.curriculumName"></span></td>
                <td><span class="textOver" title="[[tableItem.appTypeName]]" ng-bind="tableItem.appTypeName"></span></td>
                <td>
                    <span ng-bind="tableItem.lecturerAccount" ></span>
                    <span ng-bind="tableItem.lecturerAccount&&tableItem.lecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.lecturerName" ></span>
                    <span ng-bind="tableItem.lecturerExpertType?'-'+tableItem.lecturerExpertType:''" ></span>
                </td>
                <td>
                    <span ng-bind="tableItem.jzLecturerAccount" ></span>
                    <span ng-bind="tableItem.jzLecturerAccount&&tableItem.jzLecturerName?'/':''" ></span>
                    <span ng-bind="tableItem.jzLecturerName" ></span>
                </td>
                <td><span class="textOver" title="[[tableItem.external]]" ng-bind="tableItem.external" ></span></td>
                <td><span class="textOver" title="[[tableItem.actDate]]" ng-bind="tableItem.actDate" ></span></td>
                <td><span class="textOver" title="[[tableItem.startTime]]" ng-bind="tableItem.startTime" ></span></td>
                <td><span class="textOver" title="[[tableItem.endTime]]" ng-bind="tableItem.endTime" ></span></td>
                <td><span class="textOver" title="[[tableItem.saCode]]" ng-bind="tableItem.saCode" ></span></td>
                <td><span class="textOver" title="[[tableItem.saName]]" ng-bind="tableItem.saName" ></span></td>
                <td><span class="textOver" title="[[tableItem.terminalCode]]" ng-bind="tableItem.terminalCode" ></span></td>
                <td><span class="textOver" title="[[tableItem.province+tableItem.city+tableItem.district+tableItem.address]]" ng-bind="tableItem.province+tableItem.city+tableItem.district+tableItem.address" ></span></td>
                <td><span class="textOver" title="[[tableItem.type]]" ng-bind="tableItem.type" ></span></td>
                <td><span class="textOver" title="[[tableItem.status]]" ng-bind="tableItem.status" ></span></td>
                <td>
                    <a ng-show="tableItem.posterImageUrl" ng-href="[[tableItem.posterImageUrl]]" target="_blank" rel="noopener noreferrer">点击查看</a>
                </td>
                <td>
                    <a ng-show="tableItem.ftfQrCodeUrl" ng-href="[[tableItem.ftfQrCodeUrl]]" target="_blank" rel="noopener noreferrer">点击查看</a>
                </td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy != null && tableItem.createdName != null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span></td>
                <td><span class="textOver" title="[[tableItem.createdTime]]" ng-bind="tableItem.createdTime" ></span></td>
                <td>
                    <a href="javascript:void(0);" ng-click="checkInfo(tableItem)">查看</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status != '过期' && tableItem.timeStamp>=nextDay" ng-click="reviseInfo(tableItem)">修改</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='停用'" ng-click="changeStatus(tableItem.id,1)">启用</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='启用'" ng-click="changeStatus(tableItem.id,0)">停用</a>
                    <!-- <a href="javascript:void(0);" ng-if="tableItem.status=='过期'" ng-click="addLink(tableItem)" class="ml5">添加链接</a> -->
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>
</div>
<!-- 活动详情 -->
<div class="wrapper" ng-show="detailShow">
    <div class="content f-cb">
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>大区：</span><span class="col-333333" ng-bind="item.areaName!=null?item.areaName:'全部'"></span></div>
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>办事处：</span><span class="col-333333" ng-bind="item.officeName!=null?item.officeName:'全部'"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib fl"><i class="col-ff0000">*</i>关联品类：</span><span class="col-333333" ng-bind="item.brandName"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib fl"><i class="col-ff0000">*</i>FTF主题：</span><span class="col-333333" ng-bind="item.ftfTheme"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib fl mr5"><i class="col-ff0000">*</i>活动类型：</span><span class="col-333333" ng-bind="item.type"></span></div>
        </div>
        <div class="f-cb" ng-show="item.placeType">
            <!--场地类型:院内班-1;酒店班-2;院外班-3;SA专场-4;整合场-5-->
            <div class="topSearch"><span class="w90 tr dib fl mr5"><i class="col-ff0000">*</i>场地类型：</span>
                <span class="col-333333" ng-if="item.placeType=='1'">院内班<span class="col-ff0000">（在SA内开展的）</span></span>
                <span class="col-333333" ng-if="item.placeType=='2'">酒店班</span>
                <span class="col-333333" ng-if="item.placeType=='3'">院外班<span class="col-ff0000">（在SA专属门店或者是酒店开展的）</span></span>
                <span class="col-333333" ng-if="item.placeType=='4'">SA专场</span>
                <span class="col-333333" ng-if="item.placeType=='5'">整合场</span>
            </div>
        </div>
        <div class="f-cb" ng-show="item.consumerType">
            <div class="topSearch"><span class="w90 tr dib fl mr5"><i class="col-ff0000">*</i>消费者类型：</span><span class="col-333333" ng-bind="item.consumerType=='1'?'孕妈班':'宝妈班'"></span></div>
        </div>
        <div class="f-cb" ng-show="item.expertType">
            <div class="topSearch"><span class="w90 tr dib fl mr5"><i class="col-ff0000">*</i>专家支持类型：</span><span class="col-333333" ng-bind="item.expertType=='1'?'专家讲座':item.expertType=='2'?'大会主席':'会议讲者'"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>SA编码：</span><span class="col-333333" ng-bind="item.saCode"></span>&nbsp;&nbsp;<span class="col-333333" ng-bind="item.saName"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>门店编码：</span><span class="col-333333" ng-bind="item.terminalCode"></span>&nbsp;&nbsp;<span class="col-333333" ng-bind="item.terminalName"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>课程名称：</span><span class="col-333333" ng-bind="item.curriculumName"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch">
                <span class="w90 tr dib"><i class="col-ff0000">*</i>内部讲师：</span>
                <span class="col-333333" ng-bind="item.lecturerAccount" ></span>
                <span class="col-333333" ng-bind="item.lecturerAccount&&item.lecturerName?'/':''" ></span>
                <span class="col-333333" ng-bind="item.lecturerName" ></span>
                <span class="col-333333"ng-bind="item.lecturerExpertType?'-'+item.lecturerExpertType:''" ></span>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch">
                <span class="w90 tr dib"><i class="col-ff0000">*</i>兼职讲师：</span>
                <span class="col-333333" ng-bind="item.jzLecturerAccount" ></span>
                <span class="col-333333" ng-bind="item.jzLecturerAccount&&item.jzLecturerName?'/':''" ></span>
                <span class="col-333333" ng-bind="item.jzLecturerName" ></span>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch fl">
                <span class="w90 tr dib">外部专家：</span>
                <span class="col-333333" ng-bind="item.external" ></span>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>活动时间：</span><span class="col-333333" ng-bind="item.actDate"></span>&nbsp;&nbsp;<span class="col-333333" ng-bind="item.startTime"></span>&nbsp;至&nbsp;<span class="col-333333" ng-bind="item.actDate"></span>&nbsp;&nbsp;<span class="col-333333" ng-bind="item.endTime"></span>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>活动地址：</span><span class="col-333333" ng-bind="item.province+item.city+item.district+item.address"></span></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib">分享海报链接：</span><a class="col-333333" ng-href="[[item.posterImageUrl]]" target="_blank" rel="noopener noreferrer">[[item.posterImageUrl]]</a></div>
        </div>
        <div class="f-cb">
            <div class="topSearch"><span class="w90 tr dib"><i class="col-ff0000">*</i>新客计算方式：</span>
                <span class="col-333333" ng-if="item.newCustomerCalculation=='1'">本场活动产出新客<span class="col-ff0000">全部计算</span>给育婴顾问</span>
                <span class="col-333333" ng-if="item.newCustomerCalculation=='2'">本场活动产出新客<span class="col-ff0000">全部不计算</span>给育婴顾问</span>
                <span class="col-333333" ng-if="item.newCustomerCalculation=='3'">仅在活动前<span class="col-ff0000">成为SA微信会员的FTF新客</span>计算给育婴顾问</span>
            </div>
        </div>
        <div class="f-cb mt20 ml110">
            <button class="weakButtonBox" ng-click="back()">返回</button>
        </div>
    </div>
</div>

<!-- 修改编辑 -->
<div id="revise" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:750px; top: 20%;">
    <div class="easyDialog_content easyDialog_contentS">
        <h4 class="easyDialog_title easyDialog_titleS">
            <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="closeRevise()">×</a>
            修改
        </h4>
        <div class="easyDialog_text f12 tl">
            <div class="content tl">
                <div class="f-cb">
                    <div class="topSearch">
                        <span class="w90 tr dib">课程名称：</span>
                        <div class="dib por" style="width:220px;">
                            <input type="text" id="btn_1" class="inputBox selAr" ng-model="courseInfo" ng-click="courseFun($event,courseInfo)" ng-change="courseFun($event,courseInfo)" ng-blur="blurFn($event)" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                            <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId1" ng-show="courseShow">
                                <ul>
                                    <li class="curmpo" ng-repeat="item in curriculumList" ng-bind="item.name" ng-mousedown="courseSel(item)"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch">
                        <span class="w90 tr dib fl mr5">讲师类型：</span>
                        <div class="fl col-333333 mr20" ng-repeat="item in teacherTypeList"><div class="selectBox"><input type="radio" name="teacherTypeRadio" id="teacherType[[$index]]" value="[[item.value]]" ng-model="$parent.teacherType" ng-disabled="saveDisabled"/><label for="teacherType[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch" ng-show="teacherType == '1'">
                        <span class="w90 tr dib"></span>
                        <div class="dib por">
                            <input type="text" autocomplete="off" id="btn2" class="inputBox selAr" ng-model="teacherInfo" ng-click="teacherFun($event,teacherInfo)" ng-change="teacherFun($event,teacherInfo)" ng-blur="blurFn($event)" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                            <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId2" ng-show="teacherShow">
                                <ul>
                                    <li class="curmpo" ng-repeat="item in teacherList" ng-bind="item.teacherInfo" ng-mousedown="teacherSel(item)"></li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" autocomplete="off" class="inputBox" ng-model="lecturerRank" maxlength="6"  ng-class="{'disabled':saveDisabled || !teacherCode}" ng-disabled="saveDisabled || !teacherCode"/>
                        <select  class="inputBox pl10" ng-show="type==2" ng-model="NBexpertType" ng-options="x.value as x.name disable when x.notSel for x in expertTypeList" ng-disabled="expertTypeDisabled || saveDisabled" ng-class="{'col-999999':expertTypeDisabled, 'disabled':saveDisabled}"></select>
                        <div class="ml100 col-999999">*匹配讲师类型，但也可自定义头衔喔，例如瑜伽老师；</div>
                    </div>
                    <div class="topSearch" ng-show="teacherType == '3'">
                        <span class="w90 tr dib"></span>
                        <div class="dib por">
                            <input type="text" autocomplete="off" class="inputBox selAr" ng-model="ptTeacherInfo" ng-click="ptTeacherFun($event,ptTeacherInfo)" ng-change="ptTeacherFun($event,ptTeacherInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                            <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" ng-show="ptTeacherShow">
                                <ul>
                                    <li class="curmpo" ng-repeat="item in teacherList" ng-bind="item.teacherInfo" ng-mousedown="ptTeacherSel(item)"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-ff0000" style="margin-left:95px;">备注：内部讲师与兼职讲师二者必填其一，不能同时填两个</div> -->
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch">
                        <span class="w60 ml30 tl dib vt lh16">外部专家<br/>（选填）：</span>
                        <div class="dib">
                            <div ng-repeat="item in externalExpertsList">
                                <div class="dib por">
                                    <input type="text" autocomplete="off" id="btn[[$index+3]]" class="inputBox selAr" ng-model="item.teacherInfo" ng-click="externalExpertsFn($event,item,item.teacherInfo)" ng-change="externalExpertsFn($event,item,item.teacherInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                                    <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId[[$index+3]]" ng-show="item.teacherShow">
                                        <ul>
                                            <li class="curmpo" ng-repeat="oItem in teacherList" ng-bind="oItem.teacherInfo" ng-mousedown="externalExpertsSel(item,oItem)"></li>
                                        </ul>
                                    </div>
                                </div>
                                <input type="text" autocomplete="off" class="inputBox" ng-model="item.lecturerRank" maxlength="6"  ng-class="{'disabled':saveDisabled || !item.teacherCode}" ng-disabled="saveDisabled || !item.teacherCode"/>
                                <select  class="inputBox pl10" ng-show="type==2" ng-model="item.expertType" ng-options="x.value as x.name for x in expertTypeList" ng-disabled="expertTypeDisabled || saveDisabled" ng-class="{'col-999999':expertTypeDisabled, 'disabled':saveDisabled}"></select>
                                <span class="dib ml20 curmpo" ng-show="item.jian" ng-click="jianFn($index,item)"><img src="./images/jian.png"/></span>
                                <span class="dib ml20 curmpo" ng-show="item.jia" ng-click="jiaFn($index,item)"><img src="./images/jia.png"/></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch"><span class="w90 tr dib">活动时间：</span><input type="text" id="beginDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',autoPickDate:true,minDate:'#F{$dp.$D(\'finishDate\',{H:-4}) || \'%y-%M-{%d+1} 00:00:00\';}',maxDate:'#F{$dp.$D(\'finishDate\');}' })" ng-model="beginDate"/>
                        至 <input type="text" id="finishDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',autoPickDate:true,minDate:'#F{$dp.$D(\'beginDate\') || \'%y-%M-{%d+1}\';}',maxDate:'#F{$dp.$D(\'beginDate\',{H:4});}' })" ng-model="finishDate"/>
                    </div>
                </div>
                <div class="f-cb">
                    <div class="topSearch">
                        <span class="w90 tr dib">活动地址：</span><select class="inputBox pl5 " id="province" ng-model="province" ng-options="province.regionName for province in provinceOption" ng-change="changReginInfo(province.regionCode,2)"></select>
                        <select class="inputBox pl5" id="city" ng-model="city" ng-options="chan.regionName for chan in cityOption" ng-change="changReginInfo(city.regionCode,3)">
                        </select>
                        <select class="inputBox pl5" id="district" ng-model="district" ng-options="chan.regionName for chan in areaOption"></select>
                        <br/>
                        <textarea class="inputBox" style="width: 497px; height: 50px; margin:5px 0 0 95px; padding-top: 5px;" ng-model="address" ng-model="address" placeholder="具体街道地址（地址长度为50个字符内，包括数字、符号、中文、字母）" maxlength="50"></textarea>
                    </div>
                </div>
                <div class="f-cb mt20 tc">
                    <button class="buttonBox" ng-click="reviseSave()">修改</button>
                    <button class="weakButtonBox ml30" ng-click="closeRevise()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>