<!-- <link rel="stylesheet" type="text/css" href="../../../css/public.css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" /> -->
<div class="wrapper" style="display:flex;flex-direction:column;height:100%;">
    <div class="content f-cb" style="background:#fff;border-bottom:0;overflow:visible;">
        <div class="stepBar1 tc mt20">
            <span class="stepLi_n" ng-class="{'stepActive':stepNum==1 || stepNum==2 || stepNum==3 || stepNum==4}" ng-click="stepFun(1)">1</span>
            <span class="stepLi_l" ng-class="{'stepActive':stepNum==2 || stepNum==3 || stepNum==4}"></span><span class="stepLi_n" ng-class="{'stepActive':stepNum==2 || stepNum==3 || stepNum==4}" ng-click="stepFun(2)">2</span>
            <span class="stepLi_l" ng-class="{'stepActive':stepNum==3 || stepNum==4}"></span><span class="stepLi_n" ng-class="{'stepActive':stepNum==3 || stepNum==4}" ng-click="stepFun(3)">3</span>
            <span class="stepLi_l" ng-class="{'stepActive':stepNum==4}"></span><span class="stepLi_n" ng-class="{'stepActive':stepNum==4}" ng-click="stepFun(4)">4</span>
        </div>
        <div class="stepBar2" style="width:700px;margin:0 auto 5px;">
            <li class="stepLi_t" style="margin-left:43px;" ng-click="stepFun(1)">填写活动报备</li>
            <li class="stepLi_t" style="margin-left:116px;" ng-click="stepFun(2)">选择模板</li>
            <li class="stepLi_t" style="margin-left:117px;" ng-click="stepFun(3)">完善活动信息</li>
            <li class="stepLi_t" style="margin-left:129px;" ng-click="stepFun(4)">完成</li>
        </div>
    </div>
    <!-- step1 -->
    <div class="step1" ng-show="stepNum==1">
        <div class="content f-cb">
            <!-- <div class="f-cb">
                <div class="topSearch"><span class="w90 tr dib fl">关联品牌：</span>
                    <div class="fl col-333333 ml5 mr20" ng-repeat="item in brandList"><div class="checkboxBox"><input type="checkbox" ng-model="item.brand" value="[[item.value]]" name="brand" id="'brand'+[[$index]]" ng-click="brandFun(item)" ng-disabled="saveDisabled"/><label for="'brand'+[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div> --> 
            <div class="f-cb">
                <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch"><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled || saveDisabled" ng-class="{'col-999999':areaDisabled, 'disabled':saveDisabled}"></select></div>
                <div class="topSearch"><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled || saveDisabled" ng-class="{'col-999999':departmentDisabled, 'disabled':saveDisabled}"></select></div>
            </div>
            <div class="f-cb">
                <div class="topSearch"><span class="w90 tr dib fl">关联品类：</span>
                    <div class="fl col-333333 ml5 mr20" ng-repeat="item in categoryList"><div class="checkboxBox"><input type="checkbox" ng-model="item.category" value="[[item.value]]" name="category" id="category[[$index]]" ng-disabled="saveDisabled"/><label for="category[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch f-mt5">
                    <span class="w90 tr dib fl mr5">FTF主题：</span>
                    <div class="fl col-333333 mr20" ng-repeat="item in themeList"><div class="selectBox"><input class="mt0" type="radio" name="themeRadio" id="theme[[$index]]" value="[[item.value]]" ng-model="$parent.ftfTheme" ng-disabled="saveDisabled"/><label for="theme[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch f-mt5">
                    <span class="w90 tr dib fl mr5">活动类型：</span>
                    <div class="fl col-333333 mr20" ng-repeat="item in typeList"><div class="selectBox"><input class="mt0" type="radio" name="typeRadio" id="type[[$index]]" value="[[item.value]]" ng-model="$parent.type" ng-change="typeChange()" ng-disabled="saveDisabled"/><label for="type[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div>
            <div class="f-cb" ng-show="type=='0' || type=='5'">
                <div class="topSearch f-mt5">
                    <span class="w90 tr dib fl mr5">场地类型：</span>
                    <div class="fl col-333333 mr20" ng-repeat="item in fieldList"><div class="selectBox"><input class="mt0" type="radio" name="fieldRadio" id="field[[$index]]" value="[[item.value]]" ng-model="$parent.field" ng-disabled="saveDisabled"/><label for="field[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]<span class="col-ff0000" ng-bind="item.value=='1'?'（在SA内开展的）':item.value=='3'?'（在SA专属门店或者是酒店开展的）':''"></span></div>
                </div>
            </div>
            <div class="f-cb" ng-show="type=='0' || type=='1' || type=='4' || type=='5'">
                <div class="topSearch f-mt5">
                    <span class="w90 tr dib fl mr5">消费者类型：</span>
                    <div class="fl col-333333 mr20" ng-repeat="item in consumerTypeList"><div class="selectBox"><input class="mt0" type="radio" name="consumerTypeRadio" id="consumerType[[$index]]" value="[[item.value]]" ng-model="$parent.consumerType" ng-disabled="saveDisabled"/><label for="consumerType[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div>
            <div class="f-cb" ng-show="type!='2'">
                <div class="topSearch f-mt5">
                    <span class="w90 tr dib fl">专家支持类型：</span>
                    <select  class="inputBox pl10" ng-model="expertType" ng-options="x.value as x.name disable when x.notSel for x in expertTypeList" ng-disabled="expertTypeDisabled || saveDisabled" ng-class="{'col-999999':expertTypeDisabled, 'disabled':saveDisabled}"></select>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch"><span class="w90 tr dib">SA编码：</span><input type="text" autocomplete="off" class="inputBox" ng-model="saCode" ng-blur="checkSACode()"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/><span class="ml5" ng-bind="saTerminalName"></span></div>
            </div>
            <div class="f-cb">
                <div class="topSearch"><span class="w90 tr dib">门店编码：</span><input type="text" autocomplete="off" class="inputBox" ng-model="terminalCode" ng-blur="checkTerminalCode()"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/><span class="ml5" ng-bind="terminalName"></span></div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w90 tr dib">课程名称：</span>
                    <div class="dib por" style="width:220px;">
                        <input type="text" autocomplete="off" id="btn1" class="inputBox selAr" ng-model="courseInfo" ng-click="courseFun($event,courseInfo)" ng-change="courseFun($event,courseInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                        <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId1" ng-show="courseShow">
                            <ul>
                                <li class="curmpo" ng-repeat="item in curriculumList" ng-bind="item.name" ng-mousedown="courseSel(item)"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w90 tr dib fl mr5">讲师类型：</span>
                    <div class="fl col-333333 mr20" ng-repeat="item in teacherTypeList"><div class="selectBox"><input class="mt0" type="radio" name="teacherTypeRadio" id="teacherType[[$index]]" value="[[item.value]]" ng-model="$parent.teacherType" ng-disabled="saveDisabled"/><label for="teacherType[[$index]]"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>[[item.name]]</div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch" ng-show="teacherType == '1'">
                    <span class="w90 tr dib"></span>
                    <div class="dib por">
                        <input type="text" autocomplete="off" id="btn2" class="inputBox selAr" ng-model="teacherInfo" ng-click="teacherFun($event,teacherInfo)" ng-change="teacherFun($event,teacherInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                        <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId2" ng-show="teacherShow">
                            <ul>
                                <li class="curmpo" ng-repeat="item in teacherList" ng-bind="item.teacherInfo" ng-mousedown="teacherSel(item)"></li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" autocomplete="off" class="inputBox" ng-model="lecturerRank" maxlength="6"  ng-class="{'disabled':saveDisabled || !teacherCode}" ng-disabled="saveDisabled || !teacherCode"/>
                    <select  class="inputBox pl10" ng-show="type==2" ng-model="NBexpertType" ng-options="x.value as x.name disable when x.notSel for x in expertTypeList" ng-disabled="expertTypeDisabled || saveDisabled" ng-class="{'col-999999':expertTypeDisabled, 'disabled':saveDisabled}"></select>
                    <div class="col-999999" style="margin-left:95px;">*匹配讲师类型，但也可自定义头衔喔，例如瑜伽老师；</div>
                </div>
                <div class="topSearch" ng-show="teacherType == '3'">
                    <span class="w90 tr dib"></span>
                    <div class="dib por">
                        <input type="text" autocomplete="off" class="inputBox selAr" ng-model="ptTeacherInfo" ng-click="ptTeacherFun($event,ptTeacherInfo)" ng-change="ptTeacherFun($event,ptTeacherInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                        <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" ng-show="ptTeacherShow">
                            <ul>
                                <li class="curmpo" ng-repeat="item in teacherList" ng-bind="item.teacherInfo" ng-mousedown="ptTeacherSel(item)"></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-ff0000" style="margin-left:95px;">备注：内部讲师与兼职讲师二者必填其一，不能同时填两个</div> -->
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w60 ml30 tl dib vt lh16">外部专家<br/>（选填）：</span>
                    <div class="dib">
                        <div ng-repeat="item in externalExpertsList">
                            <div class="dib por">
                                <input type="text" autocomplete="off" id="btn[[$index+3]]" class="inputBox selAr" ng-model="item.teacherInfo" ng-click="externalExpertsFn($event,item,item.teacherInfo)" ng-change="externalExpertsFn($event,item,item.teacherInfo)" ng-blur="blurFn($event)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:0px;"/>
                                <div class="optionBox poa" style="right: 0px;z-index: 1;padding-left:8px;" id="optionId[[$index+3]]" ng-show="item.teacherShow">
                                    <ul>
                                        <li class="curmpo" ng-repeat="oItem in teacherList" ng-bind="oItem.teacherInfo" ng-mousedown="externalExpertsSel(item,oItem)"></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="text" autocomplete="off" class="inputBox" ng-model="item.lecturerRank" maxlength="6"  ng-class="{'disabled':saveDisabled || !item.teacherCode}" ng-disabled="saveDisabled || !item.teacherCode"/>
                            <select  class="inputBox pl10" ng-show="type==2" ng-model="item.expertType" ng-options="x.value as x.name for x in expertTypeList" ng-disabled="expertTypeDisabled || saveDisabled" ng-class="{'col-999999':expertTypeDisabled, 'disabled':saveDisabled}"></select>
                            <span class="dib ml20 curmpo" ng-show="item.jian" ng-click="jianFn($index,item)"><img src="./images/jian.png"/></span>
                            <span class="dib ml20 curmpo" ng-show="item.jia" ng-click="jiaFn($index,item)"><img src="./images/jia.png"/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch"><span class="w90 tr dib">活动时间：</span><input type="text" autocomplete="off" id="startDate" class="inputBox dateIcon" onfocus="WdatePicker({isShowToday:false,dateFmt:'yyyy-MM-dd HH:mm',autoPickDate:true,minDate:'#F{$dp.$D(\'endDate\',{H:-4}) || \'%y-%M-{%d+1} 00:00:00\';}',maxDate:'#F{$dp.$D(\'endDate\');}' })" ng-model="startDate"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                    至 <input type="text" autocomplete="off" id="endDate" class="inputBox dateIcon" onfocus="WdatePicker({isShowToday:false,dateFmt:'yyyy-MM-dd HH:mm',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\') || \'%y-%M-{%d+1}\';}',maxDate:'#F{$dp.$D(\'startDate\',{H:4});}' })" ng-model="endDate"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w90 tr dib">活动地址：</span><select class="inputBox pl5" ng-model="province" ng-options="province.regionName for province in provinceOption" ng-change="changReginInfo(province.regionCode,2)"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></select>
                    <select class="inputBox pl5" ng-model="city" ng-options="chan.regionName for chan in cityOption" ng-change="changReginInfo(city.regionCode,3)"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></select>
                    <select class="inputBox pl5" ng-model="district" ng-options="chan.regionName for chan in areaOption"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></select>
                    <br/>
                    <textarea class="inputBox" style="width: 497px; height: 50px; margin:5px 0 0 95px; padding-top: 5px;" ng-model="road" placeholder="具体街道地址（地址长度为50个字符内，包括数字、符号、中文、字母）" maxlength="50"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></textarea>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w90 tr dib">分享文案：</span>
                    <textarea class="inputBox" style="width: 497px; height: 50px;margin-left:0;padding-top: 5px;" ng-model="shareCopyWriting" maxlength="140"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></textarea>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w70 tl dib ml20 mr5 fl lhi">是否生成活动页面：</span>
                    <div class="fl col-333333 mr20"><div class="selectBox"><input class="mt0" type="radio" name="actRadio" id="act1" ng-value="'1'" ng-model="actPage" ng-change="actPageChange()" ng-disabled="saveDisabled"/><label for="act1"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>是<span class="col-999999">（生成活动海报，用于线上传播）</span></div>
                    <div class="fl col-333333 mr20"><div class="selectBox"><input class="mt0" type="radio" name="actRadio" id="act0" ng-value="'0'" ng-model="actPage" ng-change="actPageChange()" ng-disabled="saveDisabled"/><label for="act0"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label></div>否<span class="col-999999">（不需要活动海报，仅做报备）</span></div>
                </div>
            </div>
            <div class="f-cb">
                <div class="topSearch">
                    <span class="w70 tl dib ml20 mr5 fl lhi">新客计算方式：</span>
                    <div class="fl col-333333">
                        <div>
                            <div class="selectBox">
                                <input type="radio" name="newCusName" id="newCus1" ng-value="'1'" ng-model="newCustomerCalculation" ng-disabled="saveDisabled" class="mt0"/>
                                <label for="newCus1"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label>
                            </div>本场活动产出新客<span class="col-ff0000">全部计算</span>给育婴顾问
                        </div>
                        <div>
                            <div class="selectBox">
                                <input type="radio" name="newCusName" id="newCus2" ng-value="'2'" ng-model="newCustomerCalculation" ng-disabled="saveDisabled" class="mt0"/>
                                <label for="newCus2"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label>
                            </div>本场活动产出新客<span class="col-ff0000">全部不计算</span>给育婴顾问
                        </div>
                        <div>
                            <div class="selectBox">
                                <input type="radio" name="newCusName" id="newCus3" ng-value="'3'" ng-model="newCustomerCalculation" ng-disabled="saveDisabled" class="mt0"/>
                                <label for="newCus3"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label>
                            </div>仅在活动前<span class="col-ff0000">成为SA微信会员的FTF新客</span>计算给育婴顾问
                        </div>
                    </div>
                </div>
            </div>

            <div class="f-cb mt20" style="margin-left:95px;">
                <button class="buttonBox" ng-show="actPage == '1'" ng-click="nextStep()">下一步</button>
                <button class="buttonBox" ng-show="actPage == '0'" ng-click="saveActivityFn(0)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">保存</button>
            </div>
        </div>
    </div>
    <!-- step2 -->
    <div class="step2 ovh" ng-show="stepNum==2" style="flex:1;display:flex;">
        <div class="content f-cb w200" style="border-right:0;background:#fff;display:flex;flex-direction:column;">
            <h3 class="mt10 mb10">1.选择模板：</h3>
            <ul class="templateBox tc" style="flex:1;display:flex;flex-direction:column;overflow:auto;">
                <li class="mt20" ng-repeat="item in templateList track by $index" ng-click="templateSelectFn(item)">
                    <div class="m0" style="width:90px;height:140px;padding:2px;border:2px solid #fff;" ng-class="{'templateSelect':item.isSelect}">
                        <img class="curmpo" ng-src="./images/[[item.image]]" width="100%" height="100%" alt="" />
                    </div>
                    <p class="mt5" ng-bind="item.name"></p>
                </li>
            </ul>
            <p class="mt30" style="color:#aaa;font-size:12px;">提示：如无专用课题，请使用通用简易模板</p>
        </div>
        <div class="content f-cb f12" style="flex:1;display:flex;flex-direction:column;">
            <h3 class="mt10">2.预览模板：</h3>
            <div class="mt30 mb30" style="background:url(./images/iphone.png) no-repeat 50%;background-size:contain;flex:1;display:flex;flex-direction:column;">
                <div style="height:12.5%;"></div>
                <div style="flex:1;background-repeat:no-repeat;background-position:50%;background-size:contain;display:flex;justify-content:space-around;align-items:center;" ng-style="pageYL">
                    <div style="width:42px;height:80px;cursor:pointer;background-repeat:no-repeat;background-position:50% 50%;" ng-style="left_arrow" ng-click="ylNumFn(0)"></div>
                    <div style="width:42px;height:80px;cursor:pointer;background-repeat:no-repeat;background-position:50% 50%;" ng-style="right_arrow" ng-click="ylNumFn(1)"></div>
                </div>
                <div style="height:13.1%;"></div>
            </div>
            <!-- <div class="tc" style="font-size:12px;">
                <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':ylNum == 1}" ng-click="ylNumFn(1)">第1页</span>
                <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':ylNum == 2}" ng-click="ylNumFn(2)">第2页</span>
                <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':ylNum == 3}" ng-if="currentTemplate.id != '1'" ng-click="ylNumFn(3)">第3页</span>
                <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':ylNum == 4}" ng-if="currentTemplate.id != '1'" ng-click="ylNumFn(4)">第4页</span>
            </div> -->
            <div class="tc">当前选择模板：<span class="col-333333" ng-bind="currentTemplate.name"></span></div>
            <div class="f-cb mt30 tc">
                <button class="weakButtonBox" ng-click="prevStep()">上一步</button>
                <button class="buttonBox ml20" ng-click="nextStep()">下一步</button>
            </div>
        </div>
    </div>
    <!-- step3 -->
    <div class="step3 content f-cb" ng-show="stepNum==3" style="font-size:12px;overflow:visible;">
        <div style="display:flex;">
            <!-- 左边 -->
            <div style="flex:1;">
                <div class="m0 mt30 mb30" style="width:325px;height:671px;background:url(./images/iphone.png) no-repeat;position:relative;">
                    <div class="bg-3d568e" ng-class="{'fc-d76ca1':currentTemplate.id==3}" style="width:280px;height:500px;background-repeat:no-repeat;background-size:100%;position:absolute;top:84px;left:23px;" ng-style="bg">
                        <div ng-show="logoShow&&currentTemplate.id!=4" style="width:78px;height:22px;position:absolute;top:17px;right:13px;">
                            <img ng-src="[[imgSrcGPZero]]" alt="" width="100%" height="100%"/>
                        </div>
                        <div ng-show="currentTemplate.id==4" class="tc" style="margin-top:30px;">
                            <div class="dib vt" style="width:100px;height:18px" ng-class="{'mr5':logoShow}">
                                <img src="./images/logo.png" alt="" width="100%" height="100%"/>
                            </div>
                            <div class="dib vt" ng-show="logoShow" style="width:50px;height:18px" ng-class="{'logoShow':logoShow}">
                                <img ng-src="[[imgSrcGPZero]]" alt="" width="100%" height="100%"/>
                            </div>
                        </div>
                        <div ng-show="musicShow" style="width:38px;height:38px;position:absolute;top:39px;right:5px;" ng-style="musicPOS">
                            <img ng-src="[[musicUrl]]" alt="" width="100%"/>
                        </div>
                        <!-- 第一页 -->
                        <div style="position:absolute;box-sizing:border-box;width:100%;padding:0 22px;" ng-style="topPosition1" ng-show="pageNum==1">
                            <div class="font10 b" ng-show="currentTemplate.id=='1'"><span class="di vt" style="width:60px;">活动主题：</span><span class="di vt" ng-bind="courseInfo"></span></div>
                            <div class="font10" style="margin-top:6px;"><span class="di vt" style="width:60px;">活动时间：</span><span class="di vt" ng-bind="actTime"></span></div>
                            <div class="font10"><span class="di vt" style="width:60px;">活动地点：</span><span class="vt ovh" style="display:-webkit-inline-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;width:164px;" ng-bind="address"></span></div>
                        </div>
                        <!-- 第二页 -->
                        <div style="position:absolute;box-sizing:border-box;width:100%;padding:0 22px;" ng-show="pageNum==2">
                            <div style="height:48px;margin-top:100px;" ng-style="topPosition2"><span class="dib" style="width:100%;height:100%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;" ng-bind="courseIntroduce"></span></div>
                            <div ng-style="topPosition3"><span ng-bind="lecturerRank"></span><span ng-show="teacherName">:</span><span class="ml10" ng-bind="teacherName"></span></div>
                            <div style="height:32px;"><span class="dib" style="width:100%;height:100%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;" ng-bind="teacherSynops"></span></div>
                        </div>
                        <div style="width:65px;height:65px;position:absolute;top:260px;left:105px;border:2px solid #fff;background:url(./images/upload.png) no-repeat;background-size:100%;" ng-show="pageNum==2&&currentTemplate.id!=1">
                            <img ng-src="[[imgSrcGPOne]]" alt="" width="100%" height="100%"/>
                        </div>
                        <!-- 第三页 -->
                        <div ng-show="pageNum==3&&currentTemplate.id!=1" style="width:220px;height:236px;margin:auto;margin-top:110px;">
                            <div style="display:inline-block;box-sizing:border-box;width:50%;height:50%;border:2px solid #fff;background:#ccc;float:left;">
                                <img src="[[imgSrcGPTwo]]" alt="" width="100%" height="100%"/>
                            </div>
                            <div style="display:flex;justify-content:flex-end;align-items:center;box-sizing:border-box;width:50%;height:50%;float:left;">
                                <span class="dib" style="width:100px;" ng-bind="description1"></span>
                            </div>
                            <div style="display:flex;justify-content:flex-start;align-items:center;box-sizing:border-box;width:50%;height:50%;float:left;">
                                <span class="dib" style="width:100px;" ng-bind="description2"></span>
                            </div>
                            <div style="display:inline-block;box-sizing:border-box;width:50%;height:50%;border:2px solid #fff;background:#ccc;float:left;">
                                <img src="[[imgSrcGPThree]]" alt="" width="100%" height="100%"/>
                            </div>
                        </div>
                        <!-- 第四页 -->
                        <div ng-show="pageNum==4&&currentTemplate.id!=1">
                            <div style="width:100%;height:145px;margin-top:95px;overflow:hidden;position:relative;" ng-style="prizePOS">
                                <ul id="prizeUl" style="width:535px;height:100%;margin-left:-127.5px;display:flex;justify-content:center;">
                                    <li class="fl" style="width:101px;height:141px;border:2px solid #fff;margin:0 1px;position:relative;" ng-repeat="item in prizeFileImgList track by $index"><i class="pngClose" ng-click="clearImg($index)" ng-show="saveDisabled==false">&times;</i><img ng-src="[[item]]" alt="" width="100%" height="100%"/></li>
                                    <li class="fl" style="width:101px;height:141px;border:2px solid #fff;margin:0 1px;" ng-show="(prizeFileImgList.length<5) && saveDisabled==false"><img src="./images/prizeBG.png" alt="" width="100%" height="100%"/></li>
                                </ul>
                                <i class="leftArrow" ng-show="(prizeFileImgList.length>=2 && saveDisabled==false) || (prizeFileImgList.length>=3 && saveDisabled==true)" ng-click="leftSwipper()"></i>
                                <i class="rightArrow" ng-show="(prizeFileImgList.length>=2 && saveDisabled==false) || (prizeFileImgList.length>=3 && saveDisabled==true)" ng-click="rightSwipper()"></i>
                            </div>
                            <div ng-bind="receiveRules" style="width:236px;margin:auto;margin-top:12px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边 -->
            <div style="flex:1;">
                <div class="mt30 pr30 tr" style="margin-bottom:100px;">
                    <a href="javascript:void(0);" style="text-decoration:underline;" class="f14" ng-show="pageNum != 1" ng-click="pageFn(0)">返回上一页</a>
                </div>
                <!-- 第一页 -->
                <div ng-show="pageNum==1">
                    <div class="col-999999">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">合作方logo：</span>
                        <div class="fileUpload secButtonBox dib ml10 w90" style="padding:0;">
                            <span>上传图片</span>
                            <input class="upload" logofile-model ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                        </div>
                        <!-- <button id="logoIMG" type="button" class="secButtonBox ml10" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">上传图片</button> -->
                    </div>
                    <p class="col-999999" style="padding:5px 0 0 85px;line-height:20px;">
                        * 不上传默认不显示<br/>
                        * 尺寸210X60，小于20kb
                    </p>
                    <div class="col-999999" style="margin-top:20px;">
                        <span class="dib tr vt" style="width:75px;line-height:30px;">背景音乐：</span>
                        <div class="dib" style="width:300px;">
                            <div class="col-333333 ml5 dib" style="margin-right:35px;line-height:30px;">
                                <div class="selectBox">
                                    <input type="radio" name="radio" id="yes" ng-model="music" ng-value="1" ng-change="isPlayFn()" ng-disabled="saveDisabled" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" value="1">
                                    <label for="yes" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label>
                                </div><span>使用</span>
                            </div>
                            <div class="col-333333 ml5 dib" style="margin-right:35px;line-height:30px;">
                                <div class="selectBox">
                                    <input type="radio" name="radio" id="no" ng-model="music" ng-value="0" ng-change="isPlayFn()" ng-disabled="saveDisabled" class="ng-valid ng-not-empty ng-dirty ng-touched" value="0">
                                    <label for="no" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></label>
                                </div><span>不使用</span>
                            </div>
                            <audio id="musicPlayer" loop ng-src="[[currentMusicUrl]]" controls style="margin-top:5px;" ng-show="musicShow"></audio>
                        </div>
                    </div>
                </div>
                <!-- 第二页 -->
                <div ng-show="pageNum==2&&currentTemplate.id!=1">
                    <div class="col-999999" style="padding-top:240px;">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">讲师照片：</span>
                        <div class="fileUpload secButtonBox dib ml10 w90" style="padding:0;">
                            <span>上传图片</span>
                            <input class="upload" teacherfile-model  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                        </div>
                        <!-- <button id="teacherIMG" type="button" class="secButtonBox ml10" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">上传图片</button> -->
                        <p class="col-999999" style="padding:5px 0 0 85px;line-height:20px;">
                        * 不上传默认不显示<br/>
                        * 尺寸180X180，小于100kb
                        </p>
                    </div>
                </div>
                <!-- 第三页 -->
                <div ng-show="pageNum==3">
                    <div class="col-999999" style="padding-top:100px;">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">活动照片：</span>
                        <div class="fileUpload secButtonBox dib ml10 w90" style="padding:0;">
                            <span>上传图片</span>
                            <input class="upload" activityfile-model1  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                        </div>
                        <!-- <button id="actIMG1" type="button" class="secButtonBox ml10" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">上传图片</button> -->
                        <span style="width:75px;line-height:30px;vertical-align:top;">尺寸270X290，小于300kb</span>
                    </div>
                    <div class="col-999999">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">活动描述：</span>
                        <div style="display:inline-block;position:relative;">
                            <textarea class="inputBox"  style="width: 300px; height: 60px; margin:5px 0 0 10px; padding-top: 5px;" maxlength="20" ng-model="description1"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></textarea>
                            <div style="position:absolute;bottom:5px;right:5px;">
                                <span ng-bind="description1_num"></span>/<span>20</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-999999" style="padding-top:30px;">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">活动照片：</span>
                        <div class="fileUpload secButtonBox dib ml10 w90" style="padding:0;">
                            <span>上传图片</span>
                            <input class="upload" activityfile-model2  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"/>
                        </div>
                        <!-- <button id="actIMG2" type="button" class="secButtonBox ml10" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">上传图片</button> -->
                        <span style="width:75px;line-height:30px;vertical-align:top;">尺寸270X290，小于300kb</span>
                    </div>
                    <div class="col-999999">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">活动描述：</span>
                        <div style="display:inline-block;position:relative;">
                            <textarea class="inputBox" style="width: 300px; height: 60px; margin:5px 0 0 10px; padding-top: 5px;" maxlength="20" ng-model="description2"  ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></textarea>
                            <div style="position:absolute;bottom:5px;right:5px;">
                                <span ng-bind="description2_num"></span>/<span>20</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第四页 -->
                <div ng-show="pageNum==4">
                    <div class="col-999999" style="padding-top:80px;">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">奖品图片：</span>
                        <div class="fileUpload secButtonBox dib ml10 w90" style="padding:0;">
                            <span>上传图片</span>
                            <input class="upload" ng-class="{'disabled':prizeFileImgList.length==5 || saveDisabled}" ng-disabled="prizeFileImgList.length==5 || saveDisabled" prize-model/>
                        </div>
                        <!-- <button id="prizeIMG" type="button" class="secButtonBox ml10" ng-class="{'disabled':prizeFileImgList.length==5 || saveDisabled}" ng-disabled="prizeFileImgList.length==5 || saveDisabled">上传图片</button> -->
                        <p class="col-999999" style="padding:5px 0 0 85px;line-height:20px;">
                        * 尺寸270X376，小于300kb<br/>
                        * 最少一张，最多5张
                        </p>
                    </div>
                    <div class="col-999999" style="padding-top:50px;">
                        <span class="dib tr" style="width:75px;line-height:30px;vertical-align:top;">奖品描述：</span>
                        <div style="display:inline-block;position:relative;">
                            <textarea class="inputBox" style="width: 300px; height: 60px; margin:5px 0 0 10px; padding-top: 5px;" maxlength="50" ng-model="receiveRules" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled"></textarea>
                            <div style="position:absolute;bottom:5px;right:5px;">
                                <span ng-bind="receiveRules_num"></span>/<span>50</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt30" style="margin-left:90px;">
                    <button class="buttonBox" ng-hide="pageNum == 4 || (currentTemplate.id==1 && pageNum==2)" ng-click="pageFn(1)">下一页</button>
                    <button class="buttonBox" ng-if="pageNum==4 || (currentTemplate.id==1 && pageNum==2)"ng-click="saveActivityFn(1)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">保存</button>
                </div>
            </div>    
        </div>
        <!-- <div class="tc">
            <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':pageNum == 1}" ng-click="pageFn(1)">第1页</span>
            <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':pageNum == 2}" ng-click="pageFn(2)">第2页</span>
            <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':pageNum == 3}" ng-if="currentTemplate.id != '1'" ng-click="pageFn(3)">第3页</span>
            <span class="p10" style="color:#366fbe;cursor:pointer;" ng-class="{'pageActive':pageNum == 4}" ng-if="currentTemplate.id != '1'" ng-click="pageFn(4)">第4页</span>
        </div>
        <div class="f-cb mt30 tc">
            <button class="weakButtonBox" ng-click="prevStep()">上一步</button>
            <button class="buttonBox ml20" ng-if="pageNum==4 || (currentTemplate.id==1 && pageNum==2)"ng-click="saveActivityFn(1)" ng-class="{'disabled':saveDisabled}" ng-disabled="saveDisabled">保存</button>
        </div> -->
    </div>
    <!-- step4 -->
    <div class="step4 content f-cb" ng-show="stepNum==4" style="font-size:12px;flex:1;display:flex;flex-direction:column;height:100%;">
        <div style="flex:1;display:flex;height:100%;">
            <!-- 左边 -->
            <div style="flex:1;display:flex;height:100%;">
                <!--生成生成一张可供前端分享的海报图片-->
                <section class="dn">
                    <canvas id="posterCanvas" width="750" height="1334"></canvas>
                    <img id="img" ng-src="[[posterBgUrl]]" class="dn"/>
                    <img id="img2" ng-src="[[imgSrcGPZero]]" class="dn"/>
                    <img id="img3" src="./images/logo.png" class="dn"/>
                    <div id="qrcodeArea"></div>
                </section>
                <div class="mt30 mb30" style="background:url(./images/iphone.png) no-repeat 50%;background-size:contain;flex:1;display:flex;flex-direction:column;height:586px">
                    <div style="height:12.5%;"></div>
                    <div style="flex:1;display:flex;justify-content:center;">
                        <div class="tc" style="margin-left:1px;flex:1;height:436px;">
                            <img ng-src="[[posterImageUrl]]" alt="" style="height:100%;width:auto;"/>
                        </div>
                    </div>
                    <div style="height:13.1%;"></div>
                </div>
            </div>  
            <!-- 右边 -->
            <div style="flex:1;display:flex;flex-direction:column;justify-content:center;">
                <div class="col-999999">
                    <span class="dib tr w90 lh30" style="vertical-align:top;">活动海报：</span>
                    <button class="secButtonBox ml10 w90" style="padding:0;" ng-click="saveImg()">保存到本地</button>
                </div>
                <div class="col-999999" style="padding-top:30px;">
                    <span class="dib tr vm w90 lh30">扫描预览：</span>
                    <div class="dib vm ml10" style="width:150px;height:150px;border:1px solid #ccc;">
                        <img ng-src="[[qrcodeImg]]" alt="" width="100%" height="100%"/>
                    </div>
                </div>
                <div class="col-999999" style="padding-top:30px;">
                    <span class="dib tr vm w90 lh30">签到小程序码：</span>
                    <div class="dib vm ml10" style="width:150px;height:150px;border:1px solid #ccc;">
                        <img ng-src="[[ftfQrCodeUrl]]" alt="" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-cb mt30 tc">
            <button class="buttonBox ml20" ng-click="saveBack()">回到活动列表</button>
        </div>
    </div>
</div>