<div class="wrapper">
    <div class="content" style="width: 1206px;">
        <div class="lh26 mt10 textContent">
            <p>【说明】1.“育儿专家”针对外部人员编辑并会创建JS开头的讲师编号；</p>
            <p style="margin-left: 48px;">2.“育儿讲师”针对公司人员编辑可通过输入工号或姓名查询。仅支持大区教育业务咨询经理、大区资深/高级育儿指导师、教育业务咨询主管、教育业务咨询顾问、育儿指导师、SA育婴顾问。</p>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>讲师类型：</span>
                <div class="fl col-333333 mr20" ng-repeat="item in typeList"><div class="selectBox"><input type="radio" name="typeRadio" id="type[[$index]]" value="[[item.value]]" ng-model="$parent.type" ng-change="resetRoleName()"/><label for="type[[$index]]"></label></div>[[item.name]]</div>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>讲师信息：</span>
                <div class="dib por" ng-show="teacherShow">
                    <input type="text" id="btn1" class="inputBox" ng-model="teacherInfo" ng-click="teacherFun(teacherInfo)" ng-change="teacherFun(teacherInfo)" maxlength="50" placeholder="内容长度为50字符以内"/>
                    <div class="optionBox poa" style="right: 0;z-index: 1;" id="optionId1">
                        <ul>
                            <li ng-repeat="item in teacherList" ng-bind="item.keyword" ng-click="teacherSel(item)"></li>
                        </ul>
                    </div>
                </div>
                <input type="text" class="inputBox" ng-model="expertInfo" ng-show="expertShow" ng-blur="expertFun(expertInfo)" maxlength="50" placeholder="内容长度为50字符以内"/><span class="col-ff0000 ml10" ng-show="showError">该姓名已经存在</span>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50 W100"><span class="w70 tr dib"><i class="col-ff0000">*</i>讲师简介：</span><textarea class="textarea inputBox mt5" maxlength="100" ng-model="synops"></textarea><i class="col-ff0000 ml10">最多100个字符</i></div>
        </div>
    </div>
    <div class="f-cb mt20 ml94">
        <button class="buttonBox" ng-click="saveClick()">保存</button>
        <button class="weakButtonBox ml20" ng-click="cancel()">重置</button>
    </div>
</div>
<script>
    //点击除了optionId以外的地方，则隐藏该div
    function $(id){return document.getElementById(id);}
    for(var i=0 ;i< document.getElementsByClassName('optionBox').length;i++){
        document.getElementsByClassName('optionBox')[i].style.display = "none";
    }
    document.onclick = function(e){
        for(var i=0 ;i< document.getElementsByClassName('optionBox').length;i++){
            document.getElementsByClassName('optionBox')[i].style.display = "none";
        }
    };
    function cc (optionId,btn){
        $(btn).onclick = function(e){
            $(optionId).style.display = "block";
            var num = optionId.substr(8,optionId.length-8);
            for(var i=1 ;i< document.getElementsByClassName('optionBox').length+1;i++) {
                if(num==i) {
                    $(optionId).style.display = "block";
                }else if(i != 4 ){
                    $('optionId'+i).style.display = "none";
                }
            }
            e = e||event; stopFunc(e);
        };
        $(optionId).onclick = function(e){
            $(optionId).style.display = "none";
            e = e||event; stopFunc(e);
        };
    }
    function stopFunc(e){
        e.stopPropagation?e.stopPropagation():e.cancelBubble = true;
    }
    cc("optionId1","btn1");
</script>

