<div class="wrapper">
    <div class="content">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib">课程名称：</span><input type="text" class="inputBox" ng-model="courseName" maxlength="15"/></div>
            <div class="topSearch mr50"><span class="w70 tr dib">课程状态：</span><select  class="inputBox pl10" ng-model="status" ng-options="item.name for item in statusList"></select></div>
        </div>
    </div>
    <div class="f-cb mt20 ml94">
        <button class="buttonBox" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20" ng-click="exportExcel()">导出</button>
    </div>
    <!--表格样式-->
    <div class="tableBox mt20">
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="50">
                <col width="130">
                <col width="60">
                <col width="100">
                <col width="120">
                <col width="80">
                <col width="50">
                <!-- <col width="50"> -->
                <col width="100">
                <col width="120">
                <col width="80">
            </colgroup>
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程状态</th>
                <th>活动类型</th>
                <th>呈现应用</th>
                <th>推荐人群</th>
                <th>课程简介</th>
                <!-- <th>课程笔记</th> -->
                <th>主视觉图</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.id]]" ng-bind="tableItem.id"></span></td>
                <td><span class="textOver" title="[[tableItem.name]]" ng-bind="tableItem.name"></span></td>
                <td><span class="textOver" title="[[tableItem.status]]" ng-bind="tableItem.status"></span></td>
                <td><span class="textOver" title="[[tableItem.actTypeName]]" ng-bind="tableItem.actTypeName"></span></td>
                <td><span class="textOver" title="[[tableItem.appTypeName]]" ng-bind="tableItem.appTypeName"></span></td>
                <td><span class="textOver" title="[[tableItem.recomGroups]]" ng-bind="tableItem.recomGroups" ></span></td>
                <td><a href="javascript:void(0);" ng-click="showSynops(tableItem.synops)">查看</a></td>
                <!-- <td><a href="javascript:void(0);" ng-click="showNote(tableItem.note)">查看</a></td> -->
                <td><img ng-src="[[tableItem.imgPath]]" alt="" width="100%"/></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy != null && tableItem.createdName !=null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span></td>
                <td><a href="javascript:void(0);" ng-click="showEdit(tableItem)" class="mr10">编辑</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='停用'" ng-click="changeStatus(tableItem.id,1)">启用</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='启用'" ng-click="changeStatus(tableItem.id,0)">停用</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>
    <!--查看课程简介 弹出框-->
    <div id="infoId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:700px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                课程简介
            </h4>
            <div class="easyDialog_text f12" style="overflow-y: auto; text-align:left;">
                <div class="content" style="height:140px;">
                    <div class="col-333333" ng-bind-html="synops" ng-if="synops"></div>
                    <div class="col-333333" ng-if="!synops">暂无简介</div>
                </div>
                <div class="f-cb mt20 tc">
                   <button class="weakButtonBox" ng-click="close()">返回</button>
                </div>
            </div>
        </div>
    </div>
    <!--查看课程笔记 弹出框-->
    <div id="noteId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:700px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                课程笔记
            </h4>
            <div class="easyDialog_text f12" style="height:400px; overflow-y: auto; text-align:left;">
                <div class="content">
                    <div class="col-333333" ng-bind-html="note" ng-if="note"></div>
                    <div class="col-333333" ng-if="!note">暂无笔记</div>
                </div>
                <div class="f-cb mt20 ml94">
                    <button class="weakButtonBox" ng-click="close()">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>