<div class="wrapper">
    <div class="content">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>课程名称：</span><input type="text" class="inputBox" maxlength="15" ng-model="name"/><i class="col-ff0000 ml10">最多15个字符</i></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50">
                <span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>主视觉图：</span>
                <div class="uploadPhotoBox fl tc por pBox" ng-class="{uploadPhotoBoxHide:fileName!=''}">
                    <img ng-if="fileName!=''" src="images/close.png" alt="" class="imgDiv" ng-click="clearImg('0')"/>
                    <img id="pic3" src="[[imgSrc]]" ng-class="{'mt20':fileName=='','w188 h141':fileName!=''}">
                    <button img-upload></button>
                    <p ng-show="fileName==''" class="col-999999">点击增加图片</p>
                    <p ng-show="fileName==''" class="col-ff0000 mt10">尺寸大小：150*200像素</p>
                </div>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib fl"><i class="col-ff0000">*</i>呈现应用：</span>
                <div class="fl col-333333 ml5 mr30" ng-repeat="item in appTypeList"><div class="checkboxBox"><input type="checkbox"  ng-disabled="item.notChange" ng-model="item.appType" value="[[item.value]]" name="radio" id="'appTypeId'+[[$index]]" /><label for="'appTypeId'+[[$index]]"></label></div>[[item.name]]</div>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib fl"><i class="col-ff0000">*</i>活动类型：</span>
                <div class="fl col-333333 ml5 mr30" ng-repeat="item in actTypeList"><div class="checkboxBox"><input type="checkbox" ng-model="item.actType" value="[[item.value]]" name="actType" id="'actType'+[[$index]]" ng-disabled="true"/><label for="'actType'+[[$index]]"></label></div>[[item.name]]</div>
            </div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>推荐人群：</span><input type="text" class="inputBox w200" maxlength="20" ng-model="recomGroups"/><i class="col-ff0000 ml10">最多20个字符</i></div>
        </div>
        <div class="f-cb mr50 mt20" style="min-width: 800px;">
            <span class="w70 tr dib fl f12 mr5"><i class="col-ff0000">*</i>课程简介：</span>
            <textarea class="inputBox" style="width:497px;height:100px;margin-left:0;padding-top:5px;" maxlength="200" placeholder="最多200个字符" ng-model="synops"></textarea>
        </div>
        <!-- <div class="f-cb mr50 mt20" style="min-width: 800px;">
            <span class="w70 tr dib fl f12 mr5"><i class="col-ff0000">*</i>课程简介：</span>
            <script id="infoEditor" type="text/plain" style="width:90%;height:180px;float:left;"></script>
        </div> -->
        <!-- <div class="f-cb mr50 mt20" style="min-width: 800px;">
            <span class="w70 tr dib fl f12 mr5"><i class="col-ff0000">*</i>课程笔记：</span>
            <script id="noteEditor" type="text/plain" style="width:90%;height:180px;float:left;"></script>
        </div> -->
    </div>
    <div class="f-cb mt20 ml94">
        <button class="buttonBox" ng-click="saveClick()">保存</button>
        <button class="weakButtonBox ml20" ng-click="cancel()">取消</button>
    </div>
</div>
