<div class="wrapper">
    <div class="content">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w70 tr dib">讲师类型：</span><select  class="inputBox pl10" ng-model="searchType" ng-options="item.name for item in typeSearchList"></select></div>
            <div class="topSearch mr50"><span class="w70 tr dib">讲师状态：</span><select  class="inputBox pl10" ng-model="status" ng-options="item.name for item in statusList"></select></div>
            <div class="topSearch mr50"><span class="w70 tr dib">讲师编号：</span><input class="inputBox" type="text" ng-model="code"/></div>
            <div class="topSearch mr50"><span class="w70 tr dib">讲师姓名：</span><input class="inputBox" type="text" ng-model="name"/></div>
        </div>
    </div>
    <div class="f-cb mt20 ml94">
        <button class="buttonBox fl" ng-click="searchClick()">查询</button>
        <button class="secButtonBox ml20 fl" ng-click="exportExcel()">导出</button>
        <span ng-show="uploadShow"><div class="por w100 ml20" report-upload></div></span>
        <a ng-show="uploadShow" href="excel/lecturer.xlsx" class="col-207fe9 ml10 fl lh30">下载模板</a>
    </div>
    <!--表格样式-->
    <div class="tableBox mt20">
        <h2 class="f14 b500 col-757679">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
        <table class="table" id="alternatecolor">
            <colgroup>
                <col width="40">
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="60">
            </colgroup>
            <thead>
            <tr>
                <th>序号</th>
                <th>大区</th>
                <th>办事处</th>
                <th>讲师姓名</th>
                <th>讲师编号</th>
                <th>讲师类型</th>
                <th>讲师认证</th>
                <th>讲师状态</th>
                <th>讲师简介</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tableItem in infoList">
                <td><span class="textOver" title="[[tableItem.id]]" ng-bind="tableItem.id"></span></td>
                <td><span class="textOver" title="[[tableItem.areaName]]" ng-bind="tableItem.areaName"></span></td>
                <td><span class="textOver" title="[[tableItem.officeName]]" ng-bind="tableItem.officeName"></span></td>
                <td><span class="textOver" title="[[tableItem.name]]" ng-bind="tableItem.name"></span></td>
                <td><span class="textOver" title="[[tableItem.code]]" ng-bind="tableItem.code" ></span></td>
                <td><span class="textOver" title="[[tableItem.type]]" ng-bind="tableItem.type" ></span></td>
                <td><span class="textOver" title="[[tableItem.ftfLecturerCheck]]" ng-bind="tableItem.ftfLecturerCheck" ></span></td>
                <td><span class="textOver" title="[[tableItem.status]]" ng-bind="tableItem.status" ></span></td>
                <td><a href="javascript:void(0);" ng-click="showSynops(tableItem.synops)">查看</a></td>
                <td><span title="[[tableItem.createdBy]]" ng-bind="tableItem.createdBy" ></span>
                    <span ng-show="tableItem.createdBy != null && tableItem.createdName != null">/</span>
                    <span title="[[tableItem.createdName]]" ng-bind="tableItem.createdName" ></span></td>
                <td><a href="javascript:void(0);" ng-click="showEdit(tableItem)" class="mr10">编辑</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='停用'" ng-click="changeStatus(tableItem.id,1)">启用</a>
                    <a href="javascript:void(0);" ng-if="tableItem.status=='启用'" ng-click="changeStatus(tableItem.id,0)">停用</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination f-cb" ng-show="pagination.totalCount>0">
            <ul>
                <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
            </ul>
        </div>
    </div>
    <!--查看讲师简介 弹出框-->
    <div id="infoId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:400px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                讲师简介
            </h4>
            <div class="easyDialog_text f12" style="height:160px; overflow-y: auto; text-align:left;">
                <div class="content">
                    <div class="col-333333" ng-bind-html="synopsDetail"></div>
                </div>
                <div class="f-cb mt20 ml94">
                    <button class="weakButtonBox" ng-click="close()">返回</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑 弹出框-->
    <div id="editId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:820px; top: 20%;">
        <div class="easyDialog_content easyDialog_contentS">
            <h4 class="easyDialog_title easyDialog_titleS">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                编辑
            </h4>
            <div class="easyDialog_text f12" style="height:400px; overflow-y: auto; text-align:left;">
                <div class="wrapper">
                    <div class="content">
                        <div class="f-cb">
                            <div class="topSearch mr50"><span class="w70 tr dib fl mr5"><i class="col-ff0000">*</i>讲师类型：</span>
                                <div class="fl col-333333 mr20" ng-repeat="item in typeList"><div class="selectBox dis"><input type="radio" name="typeRadio" id="type[[$index]]" value="[[item.value]]" ng-model="$parent.type" disabled/><label for="type[[$index]]"></label></div>[[item.name]]</div>
                            </div>
                        </div>
                        <div class="f-cb">
                            <div class="topSearch mr50"><span class="w70 tr dib"><i class="col-ff0000">*</i>讲师信息：</span><input type="text" class="inputBox col-999999" disabled ng-model="teacherInfo"/></div>
                        </div>
                        <div class="f-cb">
                            <div class="topSearch mr50 W100"><span class="w70 tr dib"><i class="col-ff0000">*</i>讲师简介：</span><textarea class="textarea inputBox mt5" maxlength="100" ng-model="synops"></textarea><i class="col-ff0000 ml10">最多100个字符</i></div>
                        </div>
                    </div>
                    <div class="f-cb mt20 ml94">
                        <button class="buttonBox" ng-click="saveClick()">保存</button>
                        <button class="weakButtonBox ml20" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
