<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA与门店管理</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="css/easydialog.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/saTerminalManageAdd_controller.js?v=20191219"></script>
    <style>
        .curmnot{cursor: not-allowed!important; color: #999;}
        .ml90{margin-left:90px!important;}
    </style>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
    <div class="wrapper">
        <div class="titleBox">
            <ul id="menu">
                <li ng-click="tabFun(1)" ng-class="{sel:sel==1}">SA与门店关系查询</li>
                <li ng-click="tabFun(2)" ng-class="{sel:sel==2}" ng-init="sel=2">创建绑定</li>
            </ul>
        </div>

        <div class="content">
            <div class="f-cb f12">
                <div class="f-cb">
                    <div class="topSearch mr40"><span class="w90 tr dib"><i class="col-ff0000">*</i>SA编号：</span><input type="text" class="inputBox" ng-model="saCode" ng-blur="checkTerminalCode(1,saCode)"/><span class="ml10" ng-bind="saName"></span><span class="ml10 col-ff0000" ng-bind="saTips"></span></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr40"><span class="w90 tr dib"><i class="col-ff0000">*</i>绑定门店编号：</span><input type="text" class="inputBox" ng-model="terminalCode" ng-blur="checkTerminalCode(2,terminalCode)"/><span class="ml10" ng-bind="terminalName"></span><span class="ml10 col-ff0000" ng-bind="terminalTips"></span></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr40"><span class="w90 tr dib"><i class="col-ff0000">*</i>关系开始时间：</span><input type="text" id="begainDate" class="inputBox dateIcon" ng-class="{'disabled':currentItem.relation=='是'}" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'%y-%M-{%d+1}\'}',maxDate:'#F{$dp.$D(\'closeDate\')}' })"/></div>
                </div>
                <div class="f-cb">
                    <div class="topSearch mr40"><span class="w90 tr dib">关系结束时间：</span><input type="text" id="closeDate" class="inputBox dateIcon"  autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'begainDate\') || \'%y-%M-{%d+1}\'}' })"/><span class="ml10">（允许为空）</span></div>
                </div>
            </div>
            <div class="lh26 mt20 textContent">
                <h2 class="b lhi col-757679">【说明】</h2>
                <p class="mt5 ml5">1. 每个SA最多同时绑定3个门店。超过3个，必须结束原来的绑定关系，才能继续增加；</p>
                <p class="ml5">2. 绑定门店必须为婴线、商超、药线的门店；</p>
                <p class="ml5">3. 开始生效时间为设置日期的0点0分0秒，结束时间为设置日期的23点59分。</p>
            </div>
        </div>
        <div class="f-cb mt20 ml110">
            <button class="buttonBox" ng-click="save()" ng-class="{'disabled':!isSubmit}" ng-disabled="!isSubmit">保存</button>
        </div>
    </div>
</body>
</html>