<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA终端查询</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular1.2/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js?v=20191230"></script>
    <script type="text/javascript" src="../../js/common/base.js"></script>
    <script type="text/javascript" src="../../js/common/md5.js"></script>
    <script type="text/javascript" src="../../js/common/commonFun.js?v=20191230"></script>
    <script type="text/javascript" src="js/controller/saTerminalInfo_Controller.js?v=20191230"></script>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
<div class="wrapper" style="min-width: 2600px;">
    <div class="content mt15">
        <div class="f-cb">
            <div class="topSearch mr50"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">大区：</span><select  class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
            <div class="topSearch mr50" ><span class="w90 tr dib">办事处：</span><select  class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-change="changeToFalse()" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
            <div class="topSearch mr50"><span class="w90 tr dib">SA状态：</span><select  class="inputBox pl10" ng-model="status" ng-options="status.name for status in statusList"></select></div>
        </div>
        <div class="f-cb">
            <div class="topSearch mr50" ><span class="w90 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
            <div class="topSearch mr50"><span class="w90 tr dib">创建日期：</span><input type="text" id="startDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}' })"/>
                至 <input type="text" id="endDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}' })"/>
            </div>
        </div>
    </div>
<div class="f-cb mt20 ml89">
    <button class="buttonBox fl" ng-click="searchClick()">查询</button>
    <button class="secButtonBox ml20" ng-click="importFile()">导出</button>
</div>

<!--表格样式-->
<div class="tableBox mt20">
    <div class="lh26 mt30 textContent ml10">
        <h2 class="b lhi col-757679">【说明】<span ng-bind="date"></span></h2>
        <p class="mt5 ml5">1、创建时间：即B34流程归档时间。</p>
        <p class="ml5">2、VIP有效床位=VIP产科床位*VIP入住率。</p>
        <p class="ml5">3、普通有效床位=普通产科床位*普通入住率。</p>
        <p class="ml5">4、年分娩量=(VIP有效床位+普通有效床位)*50。</p>
    </div>
    <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
    <table class="table" id="alternatecolor">
        <colgroup>
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="150">
            <col width="80">
            <col width="180">
            <col width="150">
            <col width="80">
            <col width="180">
            <col width="120">
            <col width="120">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="150">
            <col width="120">
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>大区</th>
            <th>办事处</th>
            <th>SA编码</th>
            <th>SA名称</th>
            <th>状态</th>
            <th>门店二维码地址</th>
            <th>创建时间</th>
            <th>SA属性</th>
            <th>SA地址</th>
            <th>产科医护人员总数</th>
            <th>产科门诊量（月）</th>
            <th>VIP产科床位</th>
            <th>VIP入住率</th>
            <th>VIP有效床位</th>
            <th>普通产科床位</th>
            <th>普通入住率</th>
            <th>普通有效床位</th>
            <th>儿科医护人员总数</th>
            <th>儿科门诊量（月）</th>
            <th>新生儿床位</th>
            <th>年分娩量</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in infoList">
            <td><span class="textOver" title="[[item.areaName]]" ng-bind="item.areaName"></span></td>
            <td><span class="textOver" title="[[item.officeName]]" ng-bind="item.officeName"></span></td>
            <td><span class="textOver" title="[[item.saCode]]" ng-bind="item.saCode"></span></td>
            <td><span class="textOver" title="[[item.saName]]" ng-bind="item.saName"></span></td>
            <td><span class="textOver" title="[[item.status]]" ng-bind="item.status"></span></td>
            <td><span class="textOver" title="[[item.saTwocodePath]]" ng-bind="item.saTwocodePath"></span></td>
            <td><span class="textOver" title="[[item.createdTime]]" ng-bind="item.createdTime"></span></td>

            <td><span class="textOver" title="[[item.grade]]" ng-bind="item.grade"></span></td>
            <td><span class="textOver" title="[[item.saAddress]]" ng-bind="item.saAddress"></span></td>
            <td><span class="textOver" title="[[item.ckAllCount]]" ng-bind="item.ckAllCount"></span></td>
            <td><span class="textOver" title="[[item.ckMzCount]]" ng-bind="item.ckMzCount"></span></td>
            <td><span class="textOver" title="[[item.vipCkCw]]" ng-bind="item.vipCkCw"></span></td>
            <td><span class="textOver" title="[[item.vipRzl]]" ng-bind="item.vipRzl"></span></td>
            <td><span class="textOver" title="[[item.vipYxCw]]" ng-bind="item.vipYxCw"></span></td>
            <td><span class="textOver" title="[[item.ptCkCw]]" ng-bind="item.ptCkCw"></span></td>
            <td><span class="textOver" title="[[item.ptRzl]]" ng-bind="item.ptRzl"></span></td>
            <td><span class="textOver" title="[[item.ptYxCw]]" ng-bind="item.ptYxCw"></span></td>
            <td><span class="textOver" title="[[item.ekAllCount]]" ng-bind="item.ekAllCount"></span></td>
            <td><span class="textOver" title="[[item.ekMzCount]]" ng-bind="item.ekMzCount"></span></td>
            <td><span class="textOver" title="[[item.xseCw]]" ng-bind="item.xseCw"></span></td>
            <td><span class="textOver" title="[[item.nfmCount]]" ng-bind="item.nfmCount"></span></td>
        </tr>

        </tbody>
    </table>
    <div class="pagination f-cb" ng-show="pagination.totalCount>0">
        <ul>
            <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
            <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
            <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
            <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
            <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
            <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>