<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA与门店管理</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="css/easydialog.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/saTerminalManageNew_controller.js?v=20191219"></script>
    <style>
        .curmnot{cursor: not-allowed!important; color: #999;}
    </style>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
    <div class="wrapper">
        <div class="titleBox">
            <ul id="menu">
                <li ng-click="tabFun(1)" ng-class="{sel:sel==1}" ng-init="sel=1">SA与门店关系查询</li>
                <li ng-click="tabFun(2)" ng-class="{sel:sel==2}">创建绑定</li>
            </ul>
        </div>

        <div class="content">
            <div class="f-cb">
                <div class="topSearch mr40"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">有效关系：
                    </span><select class="inputBox pl10" ng-model="relation">
                        <option value="">全部</option>
                        <option value="1">未生效</option>
                        <option value="2">有效</option>
                        <option value="3">失效</option>
                    </select>
                </div>
                <div class="topSearch mr40"><span class="w90 tr dib">SA编号：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
                <div class="topSearch mr40"><span class="w90 tr dib">关联门店：</span><input type="text" class="inputBox" ng-model="terminalCode"/></div>
            </div>
        </div>
        <div class="f-cb mt20 ml110">
            <button class="buttonBox" ng-click="search()">查询</button>
            <button class="secButtonBox ml20" ng-click="exportFn()">导出</button>
        </div>
        <div class="tableBox mt20">
            <div class="lh26 mt30 textContent ml10">
                <h2 class="b lhi col-757679">【说明】</h2>
                <p class="mt5 ml5">1、每个SA最多同时绑定3个门店。超过3个，必须结束原来的绑定关系，才能继续增加；</p>
                <p class="ml5">2. 绑定门店必须为婴线、商超、药线渠道。</p>
            </div>
            <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
            <table class="table" style="min-width: 1200px;">
                <colgroup>
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                </colgroup>
                <thead>
                <tr>
                    <th>大区</th>
                    <th>办事处</th>
                    <th>SA编号</th>
                    <th>SA名称</th>
                    <th>关联门店</th>
                    <th>门店名称</th>
                    <th>有效关系</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>最后操作人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tableItem in infoList">
                    <td><span ng-bind="tableItem.areaName"></span></td>
                    <td><span ng-bind="tableItem.officeName"></span></td>
                    <td><span ng-bind="tableItem.saCode"></span></td>
                    <td><span ng-bind="tableItem.saName"></span></td>
                    <td><span ng-bind="tableItem.terminalCode"></span></td>
                    <td><span ng-bind="tableItem.terminalName"></span></td>
                    <td><span ng-bind="tableItem.statusName"></span></td>
                    <td><span ng-bind="tableItem.startDate"></span></td>
                    <td><span ng-bind="tableItem.endDate"></span></td>
                    <td>
                        <span ng-bind="tableItem.createdBy"></span>
                        <span ng-bind="tableItem.createdBy&&tableItem.createdName?'/':''"></span>
                        <span ng-bind="tableItem.createdName"></span>
                    </td>
                    <td>
                        <a ng-show="tableItem.statusName !='失效'" ng-click="easyDialogFun(tableItem)">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                <ul>
                    <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                    <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                    <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                    <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                    <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                    <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                </ul>
            </div>
        </div>
        
        <!-- 修改 -->
        <div id="changeId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:620px; top: 20%;">
            <div class="easyDialog_content easyDialog_contentS">
                <h4 class="easyDialog_title easyDialog_titleS">
                    <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                    <span>修改</span>
                </h4>
                <div class="easyDialog_text f12" style="height:305px; overflow-y: auto; text-align:left;">
                    <div class="content">
                        <div class="f-cb f12">
                            <div class="f-cb"><span class="w120 tr dib">SA编号：</span><span ng-bind="currentItem.saCode"></span></div>
                            <div class="f-cb"><span class="w120 tr dib">绑定门店：</span><span ng-bind="currentItem.terminalCode"></span></div>
                            <div class="f-cb"><span class="w120 tr dib">有效关系：</span><span ng-bind="currentItem.statusName"></span></div>
                        </div>
                        <div class="mt10 f-cb f12">
                            <div class="topSearch">
                                <span class="w120 tr dib">开始时间：</span>
                                <input type="text" id="begainDate" class="inputBox dateIcon" autocomplete="off" ng-class="{'disabled':currentItem.statusName != '未生效'}" ng-disabled="currentItem.statusName != '未生效'" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'%y-%M-%d\'}',maxDate:'#F{$dp.$D(\'closeDate\')}' })"/>
                            </div>
                            <div class="topSearch">
                                <span class="w120 tr dib">结束时间：</span>
                                <input type="text" id="closeDate" class="inputBox dateIcon" autocomplete="off" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'begainDate\') || \'%y-%M-%d\'}' })"/>
                            </div>
                        </div>
                        <div class="lh26 mt10 textContent ml10">
                            <h2 class="b lhi col-757679">【说明】</h2>
                            <p class="mt5 ml5">1. 开始生效时间为设置日期的0点0分0秒；</p>
                            <p class="ml5">2. 当有效关系等于“有效”时，仅允许修改结束时间，且结束时间不能早于当前时间。</p>
                        </div>
                    </div>
                    <div class="f-cb mt20 tc">
                        <button class="buttonBox" ng-click="sureFun()" ng-class="{'disabled':!isSubmit}" ng-disabled="!isSubmit">确定</button>
                        <button class="weakButtonBox ml20" ng-click="close()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>