<!doctype html>
<html ng-app="biostimeMKTCtrl">
<head>
    <meta charset="UTF-8">
    <title>SA与门店管理</title>
    <link href="../../css/public.css" rel="stylesheet" type="text/css">
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css">
    <link href="css/easydialog.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/common/easydialog-v2.0/easydialog.js"></script>
    <script type="text/javascript" src="../../js/common/calendar/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/lib/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/storage/storage.js"></script>
    <script type="text/javascript" src="../../js/lib/biostime/biostime.common.js"></script>
    <script type="text/javascript" src="../../js/lib/json/json3.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="js/controller/saTerminalManage_controller.js?v=20191230"></script>
    <style>
        .curmnot{cursor: not-allowed!important; color: #999;}
    </style>
</head>
<body id="biostimeMKTCtrl" ng-controller="biostimeMKTCtrl">
    <div class="wrapper">
        <div class="content mt15">
            <div class="f-cb">
                <div class="topSearch mr40"><span class="w90 tr dib">事业部：</span><select class="inputBox col-999999" ng-model="buId" ng-options="bu.buName for bu in buList" ng-change="buChange()" disabled></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">大区：</span><select class="inputBox pl10" ng-model="area" ng-options="area.areaName for area in areas" ng-change="areaChange()" ng-disabled="areaDisabled" ng-class="{'col-999999':areaDisabled}"></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">办事处：</span><select class="inputBox pl10" ng-model="department" ng-options="department.officeName for department in departments" ng-disabled="departmentDisabled" ng-class="{'col-999999':departmentDisabled}"></select></div>
                <div class="topSearch mr40"><span class="w90 tr dib">有效关系：
                    </span><select class="inputBox pl10" ng-model="relation">
                        <option value="">全部</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                        <option value="0">无</option>
                    </select>
                </div>
                <div class="topSearch mr40"><span class="w90 tr dib">是否关联门店：
                    </span><select class="inputBox pl10" ng-model="relationTerminal">
                        <option value="">全部</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
                <div class="topSearch mr40"><span class="w90 tr dib">SA编码：</span><input type="text" class="inputBox" ng-model="saCode"/></div>
                <div class="topSearch mr40"><span class="w90 tr dib">1店编码：</span><input type="text" class="inputBox" ng-model="terminalCode"/></div>
                <div class="topSearch mr40"><span class="w90 tr dib">连锁门店编码：</span><input type="text" class="inputBox" ng-model="relationTerminalCode"/></div>
            </div>
        </div>
        <div class="f-cb mt20 ml89">
            <button class="buttonBox" ng-click="search()">查询</button>
            <button class="secButtonBox ml20" ng-click="exportFn()">导出</button>
        </div>
        <div class="tableBox mt20">
            <div class="lh26 mt30 textContent ml10">
                <h2 class="b lhi col-757679">【SA对应“1店”+“一连锁”关联规则】<span ng-bind="date"></span></h2>
                <p class="mt5 ml5">1.“1店”为周边门店。</p>
                <p class="ml5">2.“一连锁”全国重点连锁门店。</p>
                <p class="ml5">3.若“1店”为非全国重点连锁，“一连锁”可关联商圈内一家全国重点门店。</p>
                <p class="ml5">4.若“1店”为全国重点连锁，“一连锁”必须为同一系统的另一家全国重点连锁门店。</p>
            </div>
            <h2 class="f14 b500 col-757679 mt10">共查询<span class="col-f78600" ng-bind="pagination.totalCount?pagination.totalCount:'0'"></span>条记录，详情如下：</h2>
            <table class="table" style="min-width: 1200px;">
                <colgroup>
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                </colgroup>
                <thead>
                <tr>
                    <th>大区</th>
                    <th>办事处</th>
                    <th>有效关系</th>
                    <th>SA编码</th>
                    <th>SA名称</th>
                    <th>1店编码</th>
                    <th>1店名称</th>
                    <th>关联连锁门店名称</th>
                    <th>关联连锁门店编码</th>
                    <th>连锁店所属体系</th>
                    <th>是否关联门店</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tableItem in infoList">
                    <td><span ng-bind="tableItem.areaName"></span></td>
                    <td><span ng-bind="tableItem.officeName"></span></td>
                    <td><span ng-bind="tableItem.relation"></span></td>
                    <td><span ng-bind="tableItem.saCode"></span></td>
                    <td><span ng-bind="tableItem.saName"></span></td>
                    <td><span ng-bind="tableItem.terminalCode"></span></td>
                    <td><span ng-bind="tableItem.terminalName"></span></td>
                    <td><span ng-bind="tableItem.relationTerminalName"></span></td>
                    <td><span ng-bind="tableItem.relationTerminalCode"></span></td>
                    <td><span ng-bind="tableItem.topTerminalName"></span></td>
                    <td><span ng-bind="tableItem.relationTerminal"></span></td>
                    <td><span ng-bind="tableItem.startDate"></span></td>
                    <td><span ng-bind="tableItem.endDate"></span></td>
                    <td>
                        <span ng-bind="tableItem.updatedBy"></span>
                        <span ng-bind="tableItem.updatedBy&&tableItem.updatedName?'/':''"></span>
                        <span ng-bind="tableItem.updatedName"></span>
                    </td>
                    <td>
                        <!-- <a ng-show="tableItem.relation=='是'" ng-click="easyDialogFun(tableItem,0)">编辑</a> -->
                        <!-- <a ng-show="tableItem.relation=='是'" class="ml10" ng-click='easyDialogFun(tableItem,1)'>删除</a> -->
                        <a ng-show="tableItem.relation=='是'" ng-click="easyDialogFun(tableItem,2)">变更</a>
                        <a ng-show="!tableItem.relation" ng-click="easyDialogFun(tableItem,3)">绑定门店</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination f-cb" ng-show="pagination.totalCount>0">
                <ul>
                    <li class="paginationMr10"><a ng-class="1==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="1==pagination.currentPage || pagination.onUPPage(pagination.currentPage-1)"><</a></li>
                    <li ng-show="pagination.pageNums[0]!=1"><a ng-click="pagination.onGoPage(1)">1...</a></li>
                    <li ng-repeat="page in pagination.pageNums"><a ng-class="pagination.currentPage==page?'currentpage ':'curmpo'" ng-click="page==pagination.currentPage || pagination.onGoPage(page)">[[page]]</a></li>
                    <li ng-show="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount"><a ng-class="pagination.pageNums[pagination.pageNums.length-1]!=pagination.pageCount?'curmpo borderRightLN':''" ng-click="pagination.onGoPage(pagination.pageCount)">...[[pagination.pageCount]]</a></li>
                    <li class="paginationMl10"><a ng-class="pagination.pageCount==pagination.currentPage?'disablepage curmnot hoverPage':'nextpage curm borderRight'" ng-click="pagination.onNextPage()">></a></li>
                    <li class="paginationText">转到<input  class="dib w50 ml5 mr5 pageInput pl5" min="1" type="number" ng-model="pageJump" ng-pattern="/^\d*\d+$/">页<button ng-click="pagination.JumpPage(pageJump)" class="jumpBtn ml5 buttonTrue" ng-class="{jumpBtnTrue:pageJump && pageJump<pagination.pageCount+1}" ng-disabled="!pageJump || pageJump>pagination.pageCount" disabled="disabled">确定</button></li>
                </ul>
            </div>
        </div>
        <!--编辑-->
        <div id="easyDialogShowId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:620px; top: 20%;">
            <div class="easyDialog_content easyDialog_contentS">
                <h4 class="easyDialog_title easyDialog_titleS">
                    <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                    <span>操作</span>
                </h4>
                <div class="easyDialog_text f12" style="height:240px; overflow-y: auto; text-align:left;">
                    <div class="content">
                        <div class="f-cb f12" ng-show="easyDialogType==0">
                            <div class="mt10 f-cb"><span class="w80 tr dib">SA编码：</span><span ng-bind="currentItem.saCode"></span></div>
                            <div class="mt10 f-cb"><span class="w80 tr dib">SA名称：</span><span ng-bind="currentItem.saName"></span></div>
                            <div class="mt10 f-cb"><span class="w80 tr dib">门店编码：</span><span ng-bind="currentItem.terminalCode"></span></div>
                            <div class="mt10 f-cb"><span class="w80 tr dib">门店名称：</span><span ng-bind="currentItem.terminalName"></span></div>
                            <div class="mt10 f-cb"><span class="w80 tr dib">有效时间：
                                </span><input type="text" id="startDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,maxDate:'#F{$dp.$D(\'endDate\')}',minDate:'%y-%M-%d'})" ng-class="{curmnot:dateDisabled}" ng-disabled="dateDisabled"/>
                                至<input type="text" id="endDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'startDate\')}'})"/>
                            </div>
                        </div>
                    </div>
                    <div class="f-cb mt20 ml100 tc">
                        <button class="buttonBox" ng-click="sureFun()">确定</button>
                        <button class="weakButtonBox ml20" ng-click="close()">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--删除-->
        <div id="deletedId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:380px; top: 20%;">
            <div class="easyDialog_content easyDialog_contentS">
                <h4 class="easyDialog_title easyDialog_titleS">
                    <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                    <span>操作</span>
                </h4>
                <div class="easyDialog_text f12" style="height:140px; overflow-y: auto; text-align:left;">
                    <div class="content tc" style="border: none; background: #fff;">
                        <div class="f-cb f12" ng-show="easyDialogType==1">请确认是否删除该SA与门店关系？</div>
                    </div>
                    <div class="f-cb mt40" style="margin-left: 80px;">
                        <button class="buttonBox ml2" ng-click="sureFun()">确定</button>
                        <button class="weakButtonBox ml20" ng-click="close()">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--变更/绑定门店-->
        <div id="changeId" class="dn easyDialog_wrapper easyDialog_wrapperS popListOut" style="width:620px; top: 20%;">
            <div class="easyDialog_content easyDialog_contentS">
                <h4 class="easyDialog_title easyDialog_titleS">
                    <a href="javascript:void(0)" title="关闭窗口" class="close_btnS" ng-click="close()">×</a>
                    <span>[[easyDialogType==2?'变更':easyDialogType==3?'绑定门店':'操作']]</span>
                </h4>
                <div class="easyDialog_text f12" style="height:475px; overflow-y: auto; text-align:left;">
                    <div class="content">
                        <div class="f-cb f12">
                            <div class="f-cb"><span class="w120 tr dib">SA编码：</span><span ng-bind="currentItem.saCode"></span></div>
                            <div class="f-cb"><span class="w120 tr dib">SA名称：</span><span ng-bind="currentItem.saName"></span></div>
                        </div>
                        <div class="mt10 f-cb f12">
                            <div class="f-cb">
                                <div class="topSearch"><span class="w120 tr dib"><i class="col-ff0000">*</i>1店编码：</span><input type="text" class="inputBox" ng-model="currentItem.terminalCode" ng-blur="checkTerminalCode(1,currentItem.terminalCode)" ng-change="changeTerminalCode(1)"/></div>
                            </div>
                            <div class="f-cb"><span class="w120 tr dib">1店名称：</span><span ng-bind="currentItem.terminalName"></span></div>
                        </div>
                        <div class="mt10 f-cb f12">
                            <div class="f-cb">
                                <div class="topSearch"><span class="w120 tr dib">关联连锁门店编码：</span><input type="text" class="inputBox" ng-model="currentItem.relationTerminalCode" ng-blur="checkTerminalCode(2,currentItem.relationTerminalCode)" ng-change="changeTerminalCode(2)"/></div>
                            </div>
                            <div class="mt10 f-cb">
                                <span class="w120 tr dib">关联连锁名称：</span><span ng-bind="currentItem.relationTerminalName"></span>
                            </div>
                        </div>
                        <div class="mt10 f-cb f12">
                            <div class="topSearch">
                                <span class="w120 tr dib">关系开始时间：</span>
                                <input type="text" id="begainDate" class="inputBox dateIcon" ng-class="{'disabled':noChangeTime}" ng-disabled="noChangeTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'%y-%M-{%d+1} 00:00:00\'}',maxDate:'#F{$dp.$D(\'closeDate\')}' })"/>
                            </div>
                            <div class="topSearch">
                                <span class="w120 tr dib">关系结束时间：</span>
                                <input type="text" ng-show="ctShow==0" id="closeDate" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{\'%y-%M-%d\'}' })"/>
                                <input type="text" ng-show="ctShow==1" id="close_Date" class="inputBox dateIcon" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'#F{$dp.$D(\'begainDate\')}' })"/>
                            </div>
                        </div>
                        <div class="lh26 mt10 textContent ml10">
                            <h2 class="b lhi col-757679">【SA对应“1店”+“一连锁”关联规则】</h2>
                            <p class="mt5 ml5">1.“1店”为周边门店。</p>
                            <p class="ml5">2.“一连锁”全国重点连锁门店。</p>
                            <p class="ml5">3.若“1店”为非全国重点连锁，“一连锁”可关联商圈内一家全国重点门店。</p>
                            <p class="ml5">4.若“1店”为全国重点连锁，“一连锁”必须为同一系统的另一家全国重点连锁门店。</p>
                        </div>
                    </div>
                    <div class="f-cb mt20 tc">
                        <button class="buttonBox" ng-click="sureFun()" ng-class="{'disabled':!isSubmit}" ng-disabled="!isSubmit">保存</button>
                        <button class="weakButtonBox ml20" ng-click="close()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>